[2020-12-04 15:45] SamStudio8 opened #1 "Integrate all the pipelines"

[2020-12-04 15:46] SamStudio8 opened #2 "Establish github repo"

[2020-12-04 15:46] SamStudio8 opened #3 "Cardiff development environment"

[2020-12-04 15:52] SamStudio8 commented on #2
Minutes template and fancy badge uploaded.
Invited dipi folks to COG-UK/dipi team.

[2020-12-04 15:52] #2 closed

[2021-01-08 14:41] SamStudio8 opened #7 "Elan 4pm trial"

[2021-01-08 14:51] SamStudio8 opened #8 "Change GISAID sequence submission to use experimental API"
* [x] Test GISAID API submission
* [x] Production test GISAID API submission
* [x] Changes to GISAID submission
* [x] Ocarina to GISAID API script
* [x] GISAID API JSON to Majora accession script
* [x] Test new loop
* [ ] ~~System to flag new opt-ins to GISAID directly~~ (desired but not needed)
* [ ] ~~Change old scraper behaviour to only look for PAGs without a GISAID accession~~
* [x] Deploy to

[2021-01-08 17:36] SamStudio8 opened #10 "Update selected biosamples fields without stomping all fields"
With PHA now looking to backfill data, the pressure is finally high enough to pick up the support for PATCH requests to the API to update sample fields. See https://github.com/SamStudio8/majora/issues/32.

[2021-01-11 17:51] SamStudio8 opened #11 "ENA consensus submissions"
* [x] `institute.ena_assembly_opted`
* [x] How to get process information in scope (`process.bioinformatics.pipeline.pipe`) for `ocarina-get-ena-assembly.py`
* [x] How to get `ENA-SAMPLE` and `ENA-RUN` accessions in scope for "
* [x] How to get metrics in scope for "
* [x] Add v2 credit system to response
* [x] Script to fetch metadata via ocarina https://github.com/SamStudio8/coguk-push/commit/a2

[2021-01-11 17:57] SamStudio8 commented on #11
We can get the requisite metrics and process information in scope through the `bind_to_metadata` script but we really ought to be thinking more outside the box on this. Might be time to break out the `v3` API and register an MDV.

[2021-01-11 17:58] SamStudio8 commented on #11
First single-sequence submission uploaded today through `webin-cli`, should be public tomorrow.

[2021-01-13 15:40] SamStudio8 commented on #11
https://github.com/SamStudio8/majora/commit/0740b4bd56af8c4383c2b98fb348718cfd5d8dc4 adds a new task `task_api_get_pags_to_publish`. Currently this can be executed by overriding the usual get pag interface with a new `mode` flag. This new function removes the need for serializers (serpy or DRF) entirely and is significant faster than the dynamic v3 API. The drawback is this adds another highly-spe

[2021-01-13 18:30] SamStudio8 opened #12 "[majora] TAT date fields"
We've been requested to add a field that allows sequencing centres to specify the date they received a sample to improve the calculation of sequencing turn around time. I have strong opinions about what Majora is and is not for, and don't agree that turnaround time tracking comes within our remit, but we are tasked to make it happen.

The field proposal is straightforward and will involve the usua

[2021-01-13 18:38] SamStudio8 commented on #12
An alternative would be to use the key-value store, but this would only really work on the `BiosampleArtifact` which means we're still stuck with the single-sample multiple-site problem. I vote we go with the `LibraryPoolingProcessRecord` (where the biosample-library specific metadata goes) and be done with it - I'm not so fussed on the implementation of this because it's not very important to the

[2021-01-13 18:41] SamStudio8 commented on #8
This has become more pressing as this week we breached the maximum file size for sharing data directly with the curators, meaning we had to provide it manually (for the first time since around August?!). GB at GISAID has provided the latest binary and documentation. I'm chasing up what (if any) account magic I need to do to use my account as a broker.

[2021-01-14 10:43] SamStudio8 commented on #7
Spoken to relevant people and seems we're good to move. Almost everything downstream is raised by the `mqtt` message from Elan so there's no risk of crashing into things. I'll need to check the timings for OAuth token refreshing to make sure the Ocarina/publish steps are undisturbed. I propose we move to 4pm (+2 hours) to begin with.

[2021-01-14 11:41] SamStudio8 commented on #11
Credit codes implemented https://github.com/SamStudio8/majora/commit/784b3dd92a000e23a47a0d130d1745cfbb467494
I've additionally cleaned up the `/r/n` garbage people have managed to put in those fields.

[2021-01-14 17:34] SamStudio8 commented on #11
Significant work has gone into this over at https://github.com/SamStudio8/majora/issues/45. Majora, Ocarina, Elan and the metadata uploader have been updated to accommodate setting and updating of `pipe_name` and `pipe_version`.

[2021-01-14 17:54] SamStudio8 commented on #12
* [x] Add field to Majora model
* [x] Majora database migration https://github.com/SamStudio8/majora/commit/2179f158ca810ac6469955d5e830fb07c6ffe3f5
* [x] Add field validation to Majora forms
* [x] Handle new field in Majora form_handler
* [x] Add field to Majora view https://github.com/SamStudio8/majora/commit/d127ec8366ee1027618975a80a794399ef4e7da9
* [x] Add field to Ocarina https://github.com/

[2021-01-14 18:08] SamStudio8 commented on #12
https://github.com/SamStudio8/majora/commit/2179f158ca810ac6469955d5e830fb07c6ffe3f5

[2021-01-14 18:50] SamStudio8 commented on #12
Without wanting to affect pipelines that already rely on the syntax of Ocarina, I've opted to add the field but force it to spread the date to all biosamples in the request. Changing the `--biosamples` and `--apply-all` syntax would likely kill existing pipelines at WSI which is not worth the hassle for adding this field. The focus for this field is P1 users who will fill-in the uploader anyway.

[2021-01-14 18:55] SamStudio8 commented on #12
This is a good time to update the docs and clarify any confusion between the existing `received_date` and the new `sequencing_org_received_date`.

[2021-01-14 19:02] SamStudio8 commented on #12
Confirmed this works via Ocarina. AU adding this to the uploader now.

[2021-01-14 19:08] SamStudio8 commented on #12
@aunderwo tested on uploader and magenta. Pushing to production now.

[2021-01-14 19:17] SamStudio8 commented on #12
Requests for new LibraryArtifacts coming through Majora API successfully on prod, so it looks like things are stable. I've set the serializers to push that field out tomorrow, so we'll see what that looks like.

[2021-01-15 11:26] SamStudio8 commented on #12
A user raised concern about why this field is not a `BiosampleArtifact` field. Users should be assured that the field is still per-biosample, but just lives in a different model in Majora. This is because I took some liberties to future proof the implementation given my experience with the multiple-sites and multiple-sequencing problems, so this ensures:

* As sites move away from providing biosam

[2021-01-15 12:41] SamStudio8 commented on #12
Appears in today's ELAN1 table. Fields announced.

[2021-01-15 12:41] #12 closed, assigned to SamStudio8

[2021-01-15 14:57] SamStudio8 commented on #7
Change announced to users; trial will begin Monday 18th. Messages and Elan will move +2h, starting at 4pm. I'll remind users again Monday at noon.

[2021-01-15 16:05] SamStudio8 commented on #11
https://github.com/SamStudio8/coguk-push/commit/a2f9ef23ab64a44e012f16d6a3ce5965d1c5270a adds a script to fetch ENA-ASSEMBLY submission metadata with Ocarina. https://github.com/SamStudio8/coguk-push/commit/ac3c022673734a5b78848b1db327eea086b42fea adds a script to check that downloaded PAGs are eligible for submission (requirements: non-empty, non-default `assembler`, and valid ENA sample and ENA

[2021-01-18 08:55] SamStudio8 commented on #7
Crontab updated.

[2021-01-18 09:09] SamStudio8 opened #13 "New sample identifier generation method"
Locally at our site we've exhausted our last allocation of centrally assigned barcodes. We'd like to not rely on centrally allocated codes in future, as well as have more control over the rules that generate them, so I've been tasked with building a replacement.

[2021-01-18 15:20] SamStudio8 commented on #13
See https://github.com/SamStudio8/naaaavi. This generates sequentially assigned identifiers with the `zbase32` alphabet and generates checksums with Luhn's mod N checksum.

[2021-01-18 16:17] SamStudio8 commented on #10
Bumped by #8 (outbound upload continuity takes priority) and #13 (local work takes priority).

[2021-01-18 16:18] SamStudio8 commented on #8
The upload executed today but could not be opened by the curators due to file size constraints on their side. I've bumped this to next on the work roster as outbound sequence continuity takes priority. I'll be testing the API today and tomorrow.

[2021-01-18 16:18] SamStudio8 commented on #7
Good feedback from users today. I assume we'll keep to this schedule but let's see how things play out this week.

[2021-01-18 18:08] SamStudio8 commented on #8
Got the test API working just fine, other than there seems to be an issue with the `submitter` field. I have a feeling this will be to do with using my account as a "broker" that uploads sequences for other users. Chasing this with GB now.

[2021-01-18 19:13] SamStudio8 commented on #8
GB has patched something GISAID-side and submissions on production are flowing through now. It's not very high throughput but it's perfectly acceptable for us to look at deploying to COG prod. This is particularly nice as we can stop relying on the grim scraping method we use to get accessions currently, as well as potentially report sequence issues in real time. I'll look at getting this hooked i

[2021-01-18 19:48] SamStudio8 commented on #8
Remaining staging data sent to GISAID. GB confirmed they keep a list of allowed users that I can submit for. I've offered an endpoint to enumerate users that have given permission via Majora as the easiest means to keep track of this but will see if they have any other suggestions. One user incorrectly specified their e-mail instead of username (which has previously worked thanks to the kindness o

[2021-01-20 09:35] SamStudio8 commented on #8
GISAID samples from the API trickling through curation. Some feedback on our latest data requires some changes to be implemented.

* [x] The structure for 'Virus name' is hCoV-19/Country/Identifier/year of collection, so samples collected in 2021 must be indicated at virus name, so it is necessary to change 2020 to 2021;
* [x] The structure for the 'Location'field is 'Continent / Country / Region

[2021-01-20 11:28] SamStudio8 commented on #11
ENA are chasing up an issue their side that has prevented the correct processing of my test submission, but otherwise all looks fine. We've been requested to maintain a link to the GISAID accession at the assembly level, however it is not possible to provide user-defined fields in the `webin-cli` manifest, so we cannot action that request. We've additionally been asked to send `SUBMISSION_TOOL` an

[2021-01-20 12:05] SamStudio8 commented on #8
https://github.com/SamStudio8/coguk-push/commit/5dbfad872426ee14be36fa2ff3436be6c2d04a49 removes the `unknown` placeholders and prefixes all the locations with `Europe /` as requested. I suspect some of these fields are going to be required by the API, however.

Additionally a new script `make_covv_name.py` (https://github.com/SamStudio8/coguk-push/commit/c7ce6811b7047266906f3727273993644f9c742b)

[2021-01-20 12:06] SamStudio8 commented on #8
I've integrated these changes into `ocarina-get-gisaid.sh` and pushed to the GISAID test API. As expected, some of those fields cannot be blank, I will revert to pushing `unknown` for these cases:

[code]

[2021-01-20 16:25] SamStudio8 commented on #13
Tested some new ZPL and wrote internal guidance for new identifiers today.

[2021-01-21 10:50] SamStudio8 commented on #8
I've decided once we close the loop on on-CLIMB GISAID submissions to GISAID that I will deprecate the old scraper behaviour entirely. WSI are now using the API to add their own GISAID accessions. Given there are so few off-CLIMB GISAID submissions, it is not worth the effort to maintain the scraper going forward. The scraper will run for the last time today (2021-01-21) to catch submissions from

[2021-01-21 14:01] SamStudio8 commented on #8
Ocarina has been updated (https://github.com/SamStudio8/ocarina/commit/d18e298f3023f95fd72374a01223102f3d1724c7) to allow calling components of Ocarina directly from a script (it's quite hacky at the moment but Ocarina basically needs a re-write at this point). A new script (https://github.com/SamStudio8/coguk-push/commit/466ed47fd3edc04fd694c7439be8c99939b672a2) uses this new feature to convert t

[2021-01-22 13:18] SamStudio8 commented on #13
Delightful tweet dump of this here; https://twitter.com/samstudio8/status/1352597353014951946. Printed 500 from the `BIRM-BC` block for testing today.

[2021-01-22 13:18] #13 closed, assigned to SamStudio8

[2021-01-22 14:14] SamStudio8 commented on #7
No complaints about this, we'll keep the change implemented.

[2021-01-22 14:14] #7 closed

[2021-01-22 15:22] SamStudio8 commented on #8
Had to manually point the scraper to the latest GISAID list due to ongoing issues with the phylogenetics stuff, but the scraper has now finished. Now that the accession table has been published, I'll remove the scraper from the `tael` stream and `cron`.

[2021-01-22 15:26] SamStudio8 opened #14 "Daily GISAID and ENA submissions"
With the GISAID and ENA BAM/FASTA systems neatly productionised with APIs, we can begin looking at more frequent submissions to public databases. I propose we begin with daily submissions that maintain an internal lag of seven days. This should be reasonably straightforward as I can add a `--latest` filter on the `ocarina` command that fetches PAGs to be published and just call the publishing pipe

[2021-01-25 14:06] SamStudio8 commented on #8
Absolutely fucking nailed this on the first try. Confirmed submission with GB at GISAID and checked accessions in Majora. All good, closing.

[2021-01-25 14:06] #8 closed

[2021-01-26 02:00] SamStudio8 opened #15 "GISAID API submission request"
* [x] For future submissions, 'Northern_Ireland' should be written 'Northern Ireland', without underline, in the 'Virus name' and the 'Location'.

[2021-01-26 12:14] SamStudio8 commented on #15
https://github.com/SamStudio8/coguk-push/commit/94c376cd29254ea942fa2d7b47fbc6171df4791e

[2021-01-26 12:14] #15 closed, assigned to SamStudio8

[2021-01-26 17:48] SamStudio8 opened #16 "Submitted collection dates to GISAID appear to only contain the year"
Users reporting some recent COG-UK sequences in GISAID only have `collection_date` to year accuracy.

[2021-01-26 17:49] SamStudio8 commented on #16
Presumably related to #8

[2021-01-26 17:50] SamStudio8 commented on #8
~~So much for fucking nailed it past-Sam :< #16~~ I WAS RIGHT TO BE TRIUMPHANT THE FIRST TIME

[2021-01-26 18:04] SamStudio8 commented on #16
Original behaviour of the script that built the GISAID submission CSV used the `collection_date` or a hard-coded year if the `collection_date` was missing: https://github.com/SamStudio8/coguk-push/blob/53ccf475b8af5a422f92131922974baf16b7720b/gisaid/ocarina-get-gisaid.sh#L14.

Inspection of new `make_covv_name.py` shows that same behaviour remains: the `collection_date` is used (https://github.com

[2021-01-26 18:04] #16 closed, assigned to SamStudio8

[2021-01-27 09:49] SamStudio8 opened #17 "Improve performance of Asklepian export"
Naive variant calculation is currently *de novo* every day, but could save some time by only considering new best sequences each day.

[2021-01-27 09:51] SamStudio8 commented on #10
Bumped by #17 (PHA work takes priority)
Update: Bumped by #20 (critical performance work takes priority)

[2021-01-27 11:44] SamStudio8 commented on #17
Turns out that the variant calculation, whilst expensive, is not the only source of burned cycles.

With the considerable number of files knocking around our systems now, it seems the `get_best_ref.py` script burns a fair amount of time through file access alone. The script cheaply enumerates available FASTA, accesses associated QC, then opens the correct FASTA and dumps it to stdout. I've realise

[2021-01-27 11:53] SamStudio8 commented on #17
This is blocked by https://github.com/SamStudio8/majora/issues/42. Bumping task 42 to be the next thing we work on in Majora.

[2021-01-27 17:59] SamStudio8 commented on #3
MB and JS report that everything should be in place to begin using the development environment in Cardiff. RC is working to stabilise phylopipe and once that initial work has been completed, will work with JS to port a testing environment over.

[2021-01-27 17:59] #3 closed

[2021-01-27 18:20] SamStudio8 opened #19 "Improve performance of filesystem queries by avoiding them"
Before `Elan` begins, user uploads are mapped to Majora metadata to determine what work is to be done for the day. This mapping process involves running `find` over the upload directories and piping the file list to `ocarina_resolve.py`. Additionally, the resolver hits cephfs again to query the `mtime` to determine whether the file is old or new.

During periods of heavy I/O, this find step, or th

[2021-01-27 19:28] SamStudio8 commented on #19
~~Another such example of a `find` to remove: https://github.com/SamStudio8/elan-nextflow/blob/master/bin/control/cog-publish.sh#L116~~

[2021-01-27 20:08] SamStudio8 opened #20 "Improve performance of Elan post-publish script"
See https://github.com/SamStudio8/elan-nextflow/issues/12

[2021-01-27 20:09] SamStudio8 commented on #17
Implementing #20 will also buy a non-trivial amount of time.

[2021-01-28 11:39] SamStudio8 commented on #20
I have introduced three changes:
* Use sbatch on publish reconcile to improve pubperf https://github.com/SamStudio8/elan-nextflow/commit/397aa4ed38d3cbff31772fdda4b0c8c4ee78030a
* Remove cat consensus to improve pubperf https://github.com/SamStudio8/elan-nextflow/commit/0302f33cadae5d4b2488458968a3e5ca665ccc55
* Stop publishing symlinks to daily resolution https://github.com/SamStudio8/elan-nextfl

[2021-01-28 11:40] #20 closed, assigned to SamStudio8

[2021-01-28 11:40] SamStudio8 commented on #17
As per #20, I have introduced three changes to the post-publish step of Elan:
* Use sbatch on publish reconcile to improve pubperf https://github.com/SamStudio8/elan-nextflow/commit/397aa4ed38d3cbff31772fdda4b0c8c4ee78030a
* Remove cat consensus to improve pubperf https://github.com/SamStudio8/elan-nextflow/commit/0302f33cadae5d4b2488458968a3e5ca665ccc55
* Stop publishing symlinks to daily resolut

[2021-01-28 11:52] SamStudio8 commented on #17
Dropping priority as we've already made great ground with the changes in Elan.

[2021-01-28 22:29] SamStudio8 commented on #17
Significant changes to Elan have been deployed and tested (https://github.com/SamStudio8/elan-nextflow/issues/12). Minor hiccup with the `sbatch`'ed reconcile step (https://github.com/SamStudio8/elan-nextflow/issues/12#issuecomment-769361125) but nothing I couldn't handle on the fly. Elan finished around 2.5 hours faster than usual. Triggering Asklepian much earlier too.

[2021-01-29 13:21] SamStudio8 commented on #17
Huge work over at Majora (https://github.com/SamStudio8/majora/issues/42) to clean up the GET PAG interfaces. We can now use Ocarina to fetch the artifact listing with metrics rather than hitting up the file system.

[2021-01-29 14:52] SamStudio8 commented on #17
Changes to the API have allowed changes to be made to Asklepian: https://github.com/SamStudio8/asklepian/commit/26591dd235c30b4b4d3b52c8e346c19208d0eb8a

[2021-01-30 12:16] SamStudio8 commented on #17
Spot of trouble last night:

* The Elan "reconcile" step that tidies the metadata TSV and merged consensus FASTA has been moved to run on our compute cluster as a job (rather than on the head node as previously) to improve performance (running around an hour faster at best). Unfortunately, the node executing the job last night fell into an error state and the job was terminated. I was awake at the

[2021-02-01 11:11] SamStudio8 commented on #17
Changes stable over the weekend. Significant performance boost has not gone unnoticed at PHAs, nice!

[2021-02-01 12:51] SamStudio8 commented on #11
I don't think this behaviour really needs to be wrapped up in `pyena` because the way we fetch metadata from Majora is rather specific and won't generalise to be that useful. I'll instead add it to a new dir in the Elan nextflow repository. There's no need to roll some python just for generating the `chr_list` and `manifest` so we can just do it all in Nextflow.

[2021-02-01 16:18] SamStudio8 commented on #11
Making good progress on this. I've started the new Nextflow script (https://github.com/SamStudio8/elan-nextflow/blob/a214282daf47ed4dd8d2189b742979010e12ac4a/ena-assembly/ena-a.nf). We can generate the manifests and validate them with `webin-cli`. Little more cleaning up and I think we'll be ready to go.

[code]

[2021-02-01 18:04] SamStudio8 commented on #11
This stuff seemed pretty useful, so I've pulled it fron `elan-nextflow` into a [new `elan-ena-nextflow` repository](https://github.com/SamStudio8/elan-ena-nextflow) that can be called by anyone using the Nextflow pipeline sharing mechanism.

[2021-02-01 19:24] SamStudio8 commented on #11
Updated `elan-ena-nextflow`, it is now possible to successfully send test submissions, and parse the XML receipts into a new outfile:
[code]

With that, we're basically in position to try real submissions.

* [x] Check internally what note to append to `DESCRIPTION` for QC/metadata.
* [x] Ask NR whether spaces require escaping in `manifest` (nope)
* [x] Ask NR whether newlines are allowed in `DESC

[2021-02-02 10:33] SamStudio8 commented on #11
Need some internal discussion to decide what extra information (particularly on QC) should be provided in the `DESCRIPTION` tag before we start uploading the sequences to ENA. I'm also checking why the `ASSEMBLYNAME` does not appear in genbank.

* [x] `ASSEMBLYNAME` not in genbank record - this is normal according to my contact at EBI

[2021-02-10 10:43] SamStudio8 opened #21 "Profile grapevine step 5 annotation"
Comparison of the time deltas on the recent SLURM logs show the step 5 clusterfunk annotation step takes two orders of magnitude longer than the comparable step 4 annotation. I am intrigued by this and want to run it through `cProfile` and see if there's any low hanging fruit to patch.

[2021-02-10 11:11] rambaut commented on #21
I think all of the slowness in these grapevine steps are due to how Dendropy handles tree annotations and is largely due to the reading of the tree with annotations (presumably some very inefficient look-ups or string processing).

[2021-02-10 11:20] SamStudio8 commented on #21
@rambaut This stuck out as odd to me because we'd previously improved the annotation for step 4, and the invocation for step 5 is very similar. Interesting point about reading the annotations being the slow part. This seems a good theory - from my understanding the step 5 tree is larger and more heavily annotated than the step 4 tree. I guess there's just some worse than O(n) performance in that i

[2021-02-10 11:40] asouthgate commented on #21
I have also noticed dendropy to have very poor performance for doing many things with trees. In fact, I never found a performant python library for this.

[2021-02-10 12:08] SamStudio8 opened #22 "Formally deploy mqtt to Birmingham and expose a link to Cardiff"
Currently the `mosquitto` `mqtt` server is running ad-hoc in Birmingham, as it's being used more we'll need to formalise the deployment to make it safer and robust:

* [ ] `mosquitto` should not run as me
* [ ] Implement a mosquitto auth plugin that hooks to Majora (or a script to pull auth keys from Majora)
* [ ] Expose a route to Cardiff to allow messages to be exchanged across the two halves of

[2021-02-10 16:04] rambaut commented on #21
Seems to be worse than O(n)

[2021-02-11 09:56] m-bull opened #23 "Produce naive variants csv as sqlite database"
It would be great to have naive variants csv as an sqlite database to make it quicker to query. My current approach to variant type the csv takes ~2h, but anticipate this would be greatly reduced with a database. Hopefully not too expensive to add onto the [asklepian](https://github.com/SamStudio8/asklepian/) workflow.

[2021-02-11 10:00] SamStudio8 commented on #23
I've actually got a script knocking around to generate the variants table as an sqlite for emergencies! I should be able to add this to the end of Asklepian. It takes around 20 minutes I think. The index makes it quite large so I suggest the script does something like:

* generates a new sqlite db, index it
* perform a count query and check the number of rows matches expectation
* update a `latest

[2021-02-11 10:00] SamStudio8 commented on #23
Additionally I could hook this into [vex](https://github.com/SamStudio8/vex) and get a little API going!

[2021-02-11 10:51] m-bull commented on #23
I think this is a good approach. Thinking aloud, it would be nice to have `metdata.matched` as another table in the same db...

Obviously caution required if that's included and its vexed.

[2021-02-11 11:46] SamStudio8 commented on #21
This has been a really fun one.

### CProfile
The initial profile result was surprising. Immediately, one line stands out:

[code]

### Case sensitivity

The `_get_lower_cased_label` function is called 57 billion times, taking 3.2 hours (under profile).
[`_get_lower_cased_label`](https://github.com/jeetsukumaran/DendroPy/blob/main/src/dendropy/datamodel/taxonmodel.py#L1690) is called by [`_lookup_

[2021-02-11 13:34] rmcolq commented on #21
Wow! This looks like an awesome speed up - thanks Sam!

[2021-02-12 09:43] SamStudio8 opened #24 "Simplify reporting of samples with missing data"
Currently a `YYYYMMDD.missing.ls` file is written to the `artifacts/published/elan` directory. The format was made in somewhat of a hurry and is quite unpleasant to parse, especially for non-technical folk. I think it would be nice to improve the formatting and try to tabulate the data such that it is more readily consumable by scripts and ... spreadsheet software.

In the meantime it has been req

[2021-02-12 10:58] SamStudio8 commented on #21
This patch has been accepted upstream at `dendropy` and integrated into `v4.5.2`, and is now packaged in `pyPI`.
@rmcolq Would you be willing to [bump the version pin](https://github.com/COG-UK/grapevine/blob/master/environment.yml#L46) to `>=4.5.2` and update the production `grapevine` environment?

[2021-02-12 12:16] SamStudio8 commented on #23
Now you're just asking for a second Majora... I think you're right though, it would perhaps be nice to pre-package some of the most used metadata into an sqlite3 db for people to query. I think there's a lot to be resolved first - ideally I'd want people to query the metadata from Majora (and have common queries cached) rather than the master table. `ocarina` could even have a `--db` option or som

[2021-02-12 12:39] SamStudio8 commented on #23
Added by https://github.com/SamStudio8/asklepian/commit/53fb57793699ae37753615de9865471a22d817ad. I've added a `tael` hook to run the `go_db.sh` script after `asklepian` runs. We'll see how this runs tonight.

[2021-02-12 12:59] rmcolq commented on #21
Done!

[2021-02-15 11:58] SamStudio8 commented on #21
Thrilled to see this paying off - looks like we've cut around 100 minutes off the annotation step in production!

Before average:
[code]

After average:
[code]

Closing :100:

[2021-02-15 11:58] #21 closed, assigned to SamStudio8

[2021-02-15 12:01] SamStudio8 commented on #23
@m-bull has been using this already, and I see the updates over the weekend worked automatically as planned. I have some changes I want to make (adding more columns, and both `aa`/`nt` co-ordinates) but that's for another issue.

[2021-02-15 12:01] #23 closed, assigned to SamStudio8

[2021-02-15 12:01] m-bull commented on #23
Tests over the weekend show that I can run my csv parsing code in ~25s using sqlite, rather than ~2h using the flatfile.

Success, please close if you're happy @SamStudio8.

[2021-02-15 14:17] rambaut commented on #21
Superb. Nice work Sam.

[2021-02-16 12:49] SamStudio8 opened #26 "Move to incremental updates of Asklepian tables"
As predicted the daily *de novo* full-refresh of data has become less viable with the volume of sequences coming through now. Additionally, variants are super important and we want to generate and export information about them to PHAs as quickly as possible. I've suggested we work with PHAs to change Asklepian to only report new changes in the data set which should not only reduce the time spent i

[2021-02-16 12:50] SamStudio8 commented on #10
Bumped by #26 (PHA work takes priority)

[2021-02-18 10:37] SamStudio8 commented on #10
In lieu of new definitions to help toward #26, I'm bumping #10 back to the top of the queue as it has finally become a threat. I'll need to revisit the code itself (the lines in question will be almost a year old now), but I am imagining:

* `api_views` flag to determine create or update mode (let's assume the uploader only ever stomps to maintain backward compat for now)
* Big difficulty will be

[2021-02-18 11:03] SamStudio8 commented on #10
Mulling over a coffee I don't see how we can avoid trouble partially validating a form without backfilling the form data with `initial`. Options are limited here:

* Switch to the more straightforward `ModelForm`; *eg.* biosamples and collections will be validated separately with ModelForms as part of the same query
* Use some sort of mixin to backfill the form with the object if update mode is ac

[2021-02-18 11:57] SamStudio8 commented on #10
Testing and coverage now public at [Travis](https://www.travis-ci.com/github/SamStudio8/majora) and [codecov](https://app.codecov.io/gh/SamStudio8/majora/commits?page=1). Test suite improvements for biosamples: https://github.com/SamStudio8/majora/commit/f6f90c5e360f9fa6b9086f65a779bca227ed899e, https://github.com/SamStudio8/majora/commit/3846a14c6b8bcbb57462c7fc64ada418519219d7.

[2021-02-18 14:08] SamStudio8 commented on #10
This is an annoyingly philosophical problem. I made the conscious decision last year when I wrote these to lose some of the benefits of the `ModelForm` in favour of writing a form that actually represents the API interface. I think that this is more clear and easier to maintain, but I must now balance whether the freebies for using the `ModelForm` outweigh keeping a good representation of the API.

[2021-02-18 18:27] SamStudio8 commented on #10
https://github.com/SamStudio8/majora/commit/7916d90ea7d9e17472cf3b5afc3c78f878dc2439 introduces additional test coverage for the registration of biosamples (but not the COGUK supplemental), as well as a [test designed to demonstrate the perils of stomping](https://github.com/SamStudio8/majora/blob/stable/majora2/test/test_biosampleartifact.py#L301). These tests should now provide a proper platform

[2021-02-18 20:28] SamStudio8 commented on #10
I'm still not entirely convinced with the `ModelForm` approach. The magic that Django uses to fill in the form from the model instance is hilariously similar to the `as_struct` method that I'd made for the v2 API which isn't exactly rocket science. However, it's hard to make an informed decision without trying to integrate an example. The easiest model for which to do this is one that I'd neglecte

[2021-02-18 21:03] SamStudio8 commented on #10
Sorry I'm talking rubbish, I'm conflating two issues here; a) partial updates are not possible because the validators will fail without a complete model, b) uploading a bunch of `null` will blow up the model. B is actually intended behaviour and we still want to allow overwriting of data with `null`, this will also ensure the metadata uploader continues to work in a stompy fashion for backwards co

[2021-02-19 09:37] SamStudio8 commented on #10
After some experiments last night I've discovered `Form` and `ModelForm` are automatically filling missing POST fields with `None`, which makes it very difficult to support partial forms. I think this is why I was confusing myself yesterday. This is because the form's [`_clean_fields` calls `value_from_datadict` on the form widget](https://github.com/django/django/blob/1710cdbe79c90665046034fe1700

[2021-02-19 11:02] SamStudio8 commented on #10
If you want something to work the way you want, you're just gonna have to do it yourself. I've subclassed the Django `forms.ModelForm`, and overridden the `__init__` to accept two keyword arguments: `partial` and `partial_request_keys`, if present, these will post-filter the `fields` property (not `base_fields`) to forcibly boot the missing fields off the form (https://github.com/SamStudio8/majora

[2021-02-19 11:08] SamStudio8 commented on #10
Note that this implementation will break ungracefully when a user tries to create a new object with `partial=True` and fails to provide any field that is `required` on the underlying model.

[2021-02-19 11:18] SamStudio8 commented on #10
My next candidate is the `BiosourceSamplingProcess`, partly because it seems to be easier to refactor this function by starting at the end and working back, but also because it'll prove whether the `ModelForm` strategy is garbage. We present "nicer" field names to users (eg. `collection_location_adm1` is presented as `adm1`) which will need to be mapped somewhere. I'm thinking the most straightfor

[2021-02-19 15:33] SamStudio8 commented on #10
With much more frustration than planned for, I've wrangled the `BiosourceSamplingProcess` to a stomp-safe implementation. I've added a `map_request_fields` function to the earlier superclass that maps request data to the real model field names according to the `Meta.field_map` of the form instance. We intercept `data` and `initial` before they head up to `BaseForm` via `super` to fix field names,

[2021-02-19 17:00] SamStudio8 commented on #10
The groundwork laid for the sampling process meant that the remaining pieces were actually quite straightforward, the `BiosampleSource` and `BiosampleArtifact` are now also stomp free. https://github.com/SamStudio8/majora/commit/f868d06db9d4f038243531ee5bae35beb0ecabe6 completely removes the `form_handlers.handle_testsample` function, all the heavy lifting is done exclusively by `api_views.add_bio

[2021-02-19 18:35] SamStudio8 commented on #10
Crushing this. [Draft PR now over on Majora](https://github.com/SamStudio8/majora/pull/47) but there is still a lot to be done. Improved test suite (https://github.com/SamStudio8/majora/commit/121fbc4929c0f3062ad90cb528c24383163a6175) has picked up a few small issues; I've pinned down the form error that was being thrown and [caught it which means the `collection_date` does not need to be provided

[2021-02-22 15:55] SamStudio8 commented on #10
To ease debugging (and because it's just generally useful), I've finally linked the `TatlVerb` reverse generic relations to the `MajoraArtifact` model (https://github.com/SamStudio8/majora/commit/abaecc68f904fdda5dfb0ff26dca1b681da0a9af) so we can print out some useful information of an artifact's update history in Majora:

![Screenshot from 2021-02-22 15-52-49](https://user-images.githubuserconte

[2021-02-23 12:24] SamStudio8 opened #27 "GISAID 2021-02-22 interrupted during upload leaving some accessions missing from Majora"
Yesterday's GISAID upload was interrupted by a brief outage. The pipeline had reached the step where it was communicating updates to the GISAID API with `gisaid_uploader`. I manually raised the outbound pipe myself, but around 1500 sequences were rejected with `already_exists`. Checking the `gisaid_uploader` script from GISAID, I see that logs are not written until after the program exits.

To rec

[2021-02-23 12:25] SamStudio8 commented on #27
Contacted GB at GISAID who has helpfully provided a table of accessions that have been minted this week and thinks the suggestion of writing log lines immediately is a good one. GB will let us know when `gisaid_uploader` has been updated.

* [ ] SN to download new version of `gisaid_uploader` when ready

[2021-02-23 13:24] SamStudio8 commented on #27
https://github.com/SamStudio8/coguk-push/commit/eed6479fee418d81b49723ed044cf25a454a9cf9 adds a `--response-mode` (and argparse) to the submission to Majora parsing script. A TSV response mode allows us to read information manually downloaded from GISAID (or sent via GB -- thanks!) in case we need to do this again in future. The missing 1286 accessions have now been added to Majora :100:

[2021-02-23 14:17] SamStudio8 commented on #11
DWG hasn't had a chance to meet yet. I've set up a holding page for a "[COG-UK data portal](https://github.com/COG-UK/data)" and will use the following text for an initial small-scale submission of `BIRM` sequences:

[code]

[2021-02-23 16:54] SamStudio8 commented on #11
Overcoming another Groovy related confusion to fill in `DESCRIPTION` automatically; https://twitter.com/samstudio8/status/1364248843127304195.

Update: https://github.com/SamStudio8/elan-ena-nextflow/commit/044d0fa8d0afe7fb9f35e0087a98d9399fa352af - `DESCRIPTION` can now be filled in all-smart-like.

[2021-02-24 10:58] SamStudio8 opened #28 "[majora] api.artifact.digitalresource.add seems slow again"
I'd [previously](https://github.com/SamStudio8/majora/issues/36) cured a performance issue in the file add API, but noticed last night that Elan's `ocarina` jobs were running a little sluggish. Checking the logs on `Majora` it seems the endpoint to add files into Majora seems to take an order of magnitude of ms longer than the other calls. I wonder if this is related to the `hook_name` change from

[2021-02-24 12:26] SamStudio8 commented on #11
https://github.com/SamStudio8/coguk-push/commit/14a3dc3a62b4153ed55c02637f0f1fabf9a4fa4f adds a script to read accessions from `elan-ena-nextflow` into Majora. I've a test script that uses the `ocarina` fetching endpoint and`elan-ena-nextflow` to mint a real accession over at ENA, I've sent one single sequence and will wait for feedback from NR before submitting any more.

[2021-03-01 14:41] SamStudio8 opened #30 "Add genomics table (or basic sample manifest) to daily sqlite"

[2021-03-02 10:15] SamStudio8 commented on #28
Added timing debug messages to `api_o` response around the likely candidates in https://github.com/SamStudio8/majora/commit/1691a5ce6c9a4b3f3d5b2c5c1183943315231a82, tested and pushed to prod. Will aggregate results of tonight's run tomorrow.

[2021-03-02 11:01] SamStudio8 commented on #10
Given that we want to deprecate the current `update_biosample` interface reserved for PHA, I'm thinking I'll use that endpoint to check the artifact exists, automatically set the new `partial` flag, then internally forward the request to `add_biosample`.

Update: That's actually a little complicated as each endpoint has an `f` function that is only in the scope of the endpoint. That is, it's quite

[2021-03-02 12:35] SamStudio8 commented on #10
https://github.com/SamStudio8/majora/commit/8b037c611f79e303f547a60e5f3e886dafeb8cee removes `api_views.add_biosample` and `api_views.update_biosample` and adds a new `BiosampleArtifactEndpointView` class-based view controller. Going forward I'd like to see all the endpoints migrated to this format as it is superior Django style. There are mixins for updating and creating bundled with Django but t

[2021-03-02 13:53] SamStudio8 commented on #10
Now to Ocarina:

* [x] Add a means to support updates: https://github.com/SamStudio8/ocarina/commit/3883753906901e68406d11c24582731c2f2ea6db adds a `--partial` flag to the `put` parser. Adding a new action command would involve more work, this allows us to use all the existing `put` parsing.
* [x] Allow required fields to be suppressed when using `--partial`: https://github.com/SamStudio8/ocarina/

[2021-03-02 16:47] SamStudio8 commented on #10
I think we're ready to proceed with integrating this patch. Plan is:

* [ ] ~Investigate the empty string / `None` problem that has arisen from new endpoint (probably need to remove `nullable=True` from model fields as per best practice)~ this is not a blocking issue
* [x] Check `metadata` and `metric` keys (am 80% sure the tests cover this case already)
* [x] Contact AU and organise some tests of

[2021-03-03 10:26] SamStudio8 commented on #28
Wrote a grim parser to read the debugging info in a table:

[code]

The `PAG` bit is clearly the slowest so I'll look at that later, although these numbers aren't the sort of magnitude of slowness we were seeing the other night. I'll leave the debugging on for now. In terms of the `ocarina` step as part of `Elan` itself, I've realised the bulk of that slowness is probably down to the hashing step,

[2021-03-03 10:38] SamStudio8 commented on #28
I wonder if the PAG part may be slow as [the index for the PAG model](https://github.com/SamStudio8/majora/blob/stable/majora2/models.py#L469) is a `unique_together` on `published_name` and `is_latest`, [but the query throws in the owner and version number](https://github.com/SamStudio8/majora/commit/1691a5ce6c9a4b3f3d5b2c5c1183943315231a82#diff-6c9d4766e123d2affb29ee8bf6f3eba8a270fb6554dc7d70ad85

[2021-03-03 17:20] SamStudio8 commented on #10
I am satisfied with the uploader test conducted with AU earlier today. Tomorrow morning I will integrate the d10-stomping branch to stable and deploy to production. We can conduct a live weapons test and warn the metadata channel shortly afterwards.

[2021-03-03 17:49] SamStudio8 commented on #11
DWG have met and decided the following:

* [x] BAM passing basic QC should be uploaded
* [ ] ~Documentation for `bioinfo_pipe_*` fields needs to be written~
* [x] Add best QC test to `DESCRIPTION` (anything else?)

Additionally;
* [x] Unify `DESCRIPTION` and any other applicable fields with WSI
* [x] Check last submission with NR
* [ ] System to scrape minted INSDC accessions from ENA

[2021-03-04 11:03] SamStudio8 commented on #10
I've bumped the minimum ocarina version to `0.37.0` so figured it would be best to give a day of notice of the change. I've warned `#metadata` that this patch will be applied tomorrow morning. I'll get in touch with FS to arrange a time to conduct tests.

[2021-03-04 11:50] SamStudio8 opened #31 "Move Elan to 6am"
As public health agencies rely more and more on the outputs from our pipelines, we need to be able to provide better support to ensure they run to a reasonably reliable schedule. RP and I have worked unsustainably hard over the past year to keep things flowing, but as we approach the second year of CLIMB-COVID, we cannot continue to work like this with Elan's current timing.

Although Elan and fri

[2021-03-04 13:17] SamStudio8 commented on #11
NR has got back to me and said our recent submission has failed to generate properly due to the formatting of the `AUTHORS` line. This is a little frustrating as it passes validation in `webin-cli`! However, NR is checking what our options are with the database team. I'm assuming this is causing trouble converting the submission to an INSDC record which has very specific formatting.

[2021-03-05 10:38] SamStudio8 commented on #28
https://github.com/SamStudio8/majora/commit/913152ea01e8b631261d484ddb2ffcf32ee8a9a7 adds `db_index` to `majora2.PublishedArtifactGroup.published_name`.

[2021-03-05 11:06] SamStudio8 commented on #10
Deployed `d10-stomping` to prod had the nasty side effect of destroying performance loading the `detail_artifact` view. My gut feeling was this must be the new audit log I added at the bottom. This worked fine on test which has a much smaller database. I've patched in a `db_index` on `tatl.TatlVerb.content_id` which seems to have done the trick (https://github.com/SamStudio8/majora/commit/73b76fa3

[2021-03-05 11:54] SamStudio8 commented on #10
Noticed some `HTTP500` coming through shortly after the patch. In my focus on the biosample endpoints, I didn't try adding a library artifact during testing. The addition of the `partial` kwarg to `f` needed to be applied to all `f` across all endpoints, which I hadn't done - raising an unexpected keyword argument error. Awks. I've patched this (https://github.com/SamStudio8/majora/commit/9bc817be

[2021-03-05 13:32] SamStudio8 commented on #10
Successful test with FS, this will be rolled out to the PHE backfilling scripts.

[2021-03-05 13:49] SamStudio8 commented on #31
New crontab drafted and ready for switch. Friday's pipeline is likely to be a large one as WSI should unblock their pipes today. I'll manually raise Elan today as soon as practicably possible after the 3pm post-message and take my final Elan watch tonight.

[2021-03-05 15:24] SamStudio8 commented on #10
Downgrading severity as I've implemented the urgent components and people seem happy! :tada:

[2021-03-06 00:28] SamStudio8 commented on #10
Sadly given the complexities involved handling all the diverse ways data is uploaded through us, an edge case has slipped through the net. A single WSI "empty" sample was partially updated by a PHA through the shiny new interface earlier today.

The new `partial` endpoint enables validation to be skipped on fields not included in the submission, which is normally fine, except in the special case o

[2021-03-06 01:27] SamStudio8 commented on #10
There appear to be a few additional samples with a similar fate, but for some reason they were filtered out from the metadata TSV earlier in the process. These also have PAGs in Majora which will need removing, but do not appear to be troubling Asklepian. They will however need to be fixed before midnight Monday, as they will probably trash the outbound pipelines.

[2021-03-06 01:54] SamStudio8 commented on #10
This has been interesting to unpick. My working theory is that these additional samples that are missing from the metadata TSV were uploaded during a short window today, between the Elan `resolve_uploads` step failing, and me manually triggering a refresh of the `latest.tsv` and calling `resolve_uploads` again.

`save_manifest` is the first task Elan runs and is responsible for copying the `latest

[2021-03-06 14:36] SamStudio8 commented on #31
[Elan said a dramatic goodbye to its overnight running schedule](https://github.com/COG-UK/dipi-group/issues/10#issuecomment-791811466), but the first morning run was completed before I picked up my first coffee. Pre-elan pull, Slack message and Elan itself seems to go off without a hitch. I'll check the end of day messages... at the end of the day. OAuth token refresh schedule seems to be working

[2021-03-06 17:23] SamStudio8 commented on #10
Save for yesterday's explosion ([which I have now written up as an experiment of new ways to report things](https://github.com/COG-UK/dipi-group/blob/official/postmortems/20210305_blankbiosample.md)) this has gone very well. I'm opening a follow-up issue on Majora's repo to finish moving the non-biosample interfaces to `partial`-friendly methods as they aren't a DIPI priority now.

[2021-03-06 17:23] #10 closed, assigned to SamStudio8

[2021-03-15 13:41] SamStudio8 opened #34 "[majora] Stream large API responses to clients"
Several of the full data set serialisations are growing at an alarming rate and we'll likely soon hit the limit of what we can safely send through to clients. These interfaces are currently only used by myself for inbound and outbound pipelines (notably the largest serialisations are for generating the `Asklepian` dataset). These endpoints should stream their reply to clients with [StreamingHttpRe

[2021-03-15 13:55] SamStudio8 commented on #31
We've been running smoothly at our new schedule for a week now, closing.

[2021-03-15 13:55] #31 closed, assigned to SamStudio8

[2021-03-18 11:08] MattBashton opened #36 "Add new test_platform and test_kit values for Thermo Fisher Amplitude"
**Brief description**

A large testing site is now operational which will be using this platform, I need new API validators in `test_platform` and `testk_kit` to capture it.

**Detail**

Testing platform is described as "Thermo Fisher Scientific Amplitude Solution", an adequate `manufacturer_platform` encoding would thus be `THERMO_AMPLITUDE`.  See marketing [material](https://www.thermofisher.com

[2021-03-18 12:37] SamStudio8 commented on #36
Done!

[2021-03-18 12:37] #36 closed, assigned to SamStudio8

[2021-03-22 14:46] SamStudio8 opened #37 "[asklepian] Compress outputs"
* `adm1`
* `published_date`
* `collection_pillar`

[2021-03-22 14:47] SamStudio8 commented on #37
Checking whether `collection_pillar` is strictly necessary. I think it may be acting as a proxy here for something else, ideally that information would come from PHA as it's more likely to be correct.

NG confirms this is the field they want. Will proceed to that spec.

[2021-03-22 14:55] SamStudio8 opened #38 "[elan] What to do with invalid consensus characters (e.g. `-`)"
We've noticed a site submitting MSA sequences as FASTA, containing deletion characters `-`. It appears some downstream software silently converts these to `N`. Seems to me that Elan should strip these out. Options:

* Elan should QC fail and abort sequences with invalid characters
* Elan should quietly strip `-` from sequences

[2021-03-22 14:56] SamStudio8 commented on #38
RC is now handling these in `datapipe` while we make a decision on what to do with Elan.

[2021-03-22 14:57] SamStudio8 commented on #28
The `db_index` has addressed this. I wanted to include timing information to show this empirically but haven't had the time. Anecdotally this is fixed.

[2021-03-22 14:57] #28 closed, assigned to SamStudio8

[2021-03-22 14:59] SamStudio8 commented on #11
`AUTHORS` issue resolved last week by ENA. For the COG Webin account specifically, the authorship information will be automatically moved to a different field in the INSDC records to allow for authorship information to be included in the record, without requiring strict reformatting. Remaining is a small internal discussion on the format and contents of the `DESCRIPTION` field.

I have handled pro

[2021-03-22 16:00] SamStudio8 commented on #38
* Phylopipe and Datapipe will handle this correctly with RC patch
* Asklepian should be patched to handle this
* Existing "published" sequences will remain untouched for now (this hits a wider problem, we don't handle updates, even gracefully)
* Decision on what to do going forward has been referred to DWG (calling conventions, Elan behaviour to be decided)

[2021-03-22 16:18] SamStudio8 commented on #38
Fix for `Asklepian` will involve stripping bad chars here: https://github.com/SamStudio8/asklepian/blob/main/get_best_ref.py#L101. Will raise this change tomorrow before we commit.

[2021-03-23 12:30] SamStudio8 commented on #11
RD and I have settled on a `DESCRIPTION` scheme and RD has sent a new test record to ENA. Once this comes back I'll begin a small scale test and submit the Birmingham samples.

[2021-03-23 17:23] SamStudio8 commented on #34
I've implemented a draft `StreamingHttpResponse` for `get_task` in Ocarina and Majora and the performance is absolute garbage. I've been waiting over an hour to stream the Asklepian payload. I'll try the `FileResponse` tomorrow.

[2021-03-24 00:07] SamStudio8 commented on #34
I've skipped bothering with `FileResponse` as it's unlikely to be suited for our needs. Instead, I've read up about our options specifically with the S3 backend, it turns out we can use the S3 API to generate very short lived temporary access URLs for resources in our Celery result bucket. https://github.com/SamStudio8/majora/commit/8d504b9ed5bbfe3426c8ec996056bca06d03b9d4 takes advantage of this,

[2021-03-24 14:18] SamStudio8 opened #39 "[elan] Improve throughput by checking for sorted flag and dropping the sort step"

[2021-03-25 11:34] SamStudio8 opened #40 "[navi] Deploy API for assigning Zeal sample identifiers"

[2021-03-26 11:11] SamStudio8 commented on #40
Begun working on this at https://github.com/SamStudio8/zana. Codebase has been ripped off from `vex` so it's the same `fastapi`+`sqlalchemy`+`alembic` combo.

[2021-03-26 11:14] SamStudio8 commented on #11
RD test looks good with new agreed format. I need to add `ADDRESS`, get the QC data in scope of `DESCRIPTION` and then try to send off the UoB samples.

* [x] `ADDRESS`
* [x] New `QC` fields in `DESCRIPTION`
* [x] Upload Birmingham

[2021-03-26 16:19] SamStudio8 commented on #40
I've got a cute little prototype of this working. I can fill up Zana with identifiers and users can make API requests to have a set of identifiers assigned to their organisation with a specified prefix. Additionally I have a hilariously over complicated system to ensure that an identifier from the pool cannot be assigned to two different organisations in a very unlikely concurrent update.

The nex

[2021-03-29 13:20] SamStudio8 commented on #38
* Changed by https://github.com/SamStudio8/asklepian/commit/22e58af5d4442d291402c84e204f7c7c234de382 in Asklepian
* RC confirms the change has been implemented in datapipe, gisaid-datapipe, phylopipe2 but not phylopipe1 (which is only getting stability updates going forward)
* This is now an open question at the DWG

[2021-03-29 13:26] SamStudio8 opened #41 "[elan] Deploy Elan VM before April downtime"

[2021-03-29 13:29] rambaut commented on #38
If sites are uploading aligned sequences with deletions encoded as `-`, that might mean that insertions relative to reference would be removed? This could be problematic going forward. Perhaps rejecting these sequences would be a more robust solution?

[2021-03-29 13:30] SamStudio8 opened #42 "[elan] Balance outbound ENA and Elan"
Moving Elan to begin earlier has led to situations where the outbound ENA pipeline is still running, which can constrict resources for Elan. We should move the outbound ENA pipeline to compensate, or modify the resources available to it.

[2021-03-29 13:32] SamStudio8 commented on #38
@rambaut Agreed. I think my preference would be for Elan to outright reject these sequences as an Elan QC fail (which allows users to resubmit the data until it has been accepted). I think we could try and fast-track this decision through the data group this week if you're supportive of this change.

[2021-03-29 13:40] nickloman commented on #38
I don't think that's how insertions would be encoded - we could check with the relevant site.

[2021-03-29 13:42] rambaut commented on #38
Most align to reference pipelines will remove insertions to maintain the sequence length. We should just say we don't want aligned sequences - it may be indicative of other issues. But the two solutions are independent - we can strip bad characters if they are not rejected.

[2021-03-29 13:45] SamStudio8 commented on #37
[make_genomes_table.py](https://github.com/SamStudio8/asklepian/blob/main/make_genomes_table.py) is responsible for pulling the metadata from the core metadata file, and zipping it to the genomes. `adm1` and `collection_pillar` are trivial, however `published_date` is not in scope. Ideally we'd achieve this request with a Majora dataview, but they are still too slow at whole-dataset scale (https:/

[2021-03-29 13:53] SamStudio8 commented on #37
As it happens, the `get pag` endpoint used to kick-off Asklepian should have all the metadata in scope -- this would be a good stepping stone towards my ideal solution: we'd cut out the core metadata table and leverage the API instead. In a parallel universe where I have time to re architect the MDV API, it would be quite easy to switch `get pag` over to use it.

[2021-03-29 14:12] SamStudio8 commented on #37
Suspicion confirmed, the `get pag` API has everything we need.

[2021-03-29 14:55] nickloman commented on #38
Yes - although in this particular situation I don't think it applies. For previous sequences I think the ship has sailed and stripping the characters is the only way forward, but agree with principle of rejecting sequences with non-standard characters (anything not IUPAC) prospectively.

[2021-03-29 15:47] SamStudio8 commented on #37
https://github.com/SamStudio8/asklepian/commit/db3387b10b13ccd5b7a94969d7cbdbc6ef3b616b adds an updated genome table script that will push a `test_v2` copy of the genome table until we are ready to switch over.

[2021-03-29 15:49] SamStudio8 commented on #37
Changes deployed ready for tomorrow's Asklepian.

* [x] Confirm test table working as expected (2021-03-30 PM) -- `confirmed 20210330@1800`
* [x] Notify NG and test output
* [x] Notify CJ
* [x] Switch `test_v2` table to be default output and remove `v1` script - `20210420`

[2021-03-30 10:03] SamStudio8 commented on #40
Two outstanding issues:
* [ ] How to protect the API? OAuth seems overkill
* [ ] Should we tweak the format/alphabet of the ID pool to ensure nobody generates a clash own using the same scheme

[2021-03-30 10:26] SamStudio8 commented on #11
Need the Majora `get pag` endpoint to be able to reply with QC results

[2021-03-30 11:40] SamStudio8 commented on #41
RP has provisioned a machine to use during the downtime period. I'll work on packaging Elan up a bit better to deploy it there before next Thursday.

[2021-03-30 12:37] SamStudio8 commented on #40
Perhaps we can just assign all identifiers in the pool with the same prefix and do away with site provided prefixes to avoid clashes. I've never liked that the prefix attempts to poor encode a piece of metadata (that causes confusion) anyway.

[2021-03-30 12:53] SamStudio8 commented on #41
Will also need to sort out `mqtt` (#22) to ensure `Asklepian` runs.

[2021-03-30 12:55] SamStudio8 commented on #11
https://github.com/SamStudio8/majora/commit/b8b3d0a16263180f82ba59f200d27fdee3b648e5 adds QC information to `get pag` API reply, https://github.com/SamStudio8/ocarina/commit/49c54dd514531e14148698ac40f1a32216ac419b allows Ocarina (v0.38.2) to use the `qc_reports` reply to pass through `PASS` and `FAIL` to the ENA-A CSV. https://github.com/SamStudio8/coguk-push/commit/80d19d52bc92c2c9c8f6e4935f0e63

[2021-03-30 14:51] SamStudio8 commented on #11
Tested this end-to-end, a new Birmingham sample appears to have gone through in one piece! :tada:

![Screenshot from 2021-03-30 15-49-48](https://user-images.githubusercontent.com/1105722/113009213-a9236a80-916f-11eb-878f-35458cd32bc4.png)

I'll wait for this to appear on ENA side and check for any final trouble with the `AUTHORS` and `ADDRESS`, as well as check the `DESCRIPTION` is not mangled.

[2021-03-30 20:54] SamStudio8 opened #43 "Compress Asklepian tables"
We're spending a non-trivial amount of time writing full fat Askelpian tables to disk and blobbing them to Azure. We could easily compress them through a pipe at source to save some time if the ETL folks are happy to inflate them on their side.

[2021-03-31 19:44] SamStudio8 commented on #41
* Elan removed from head node crontab
* Elan added to Elan node crontab
* `go-full-elan` script updated to parameterise nextflow configuration https://github.com/SamStudio8/elan-nextflow/commit/3163e957680d98f1fe2c0dbee03d24ba2752cf79
* Nextflow configuration temporarily pointed to new config set to use 120/128 cores and no SLURM
* Tested Ocarina -- we can reach Majora with OAuth credentials
* Upd

[2021-04-01 08:50] SamStudio8 commented on #43
Compressing v2 genomics table as of today https://github.com/SamStudio8/asklepian/commit/064e914d04bb40ca3b5a66e97f9093e634ebd615

[2021-04-01 08:50] SamStudio8 commented on #37
As per discussion with DG, compressing v2 genomics table as of today https://github.com/COG-UK/dipi-group/issues/43

[2021-04-01 09:26] SamStudio8 commented on #39
Spoken to RD who suggests that there are a few cases where the header may indicate a sorted BAM that is violated by the contents of the BAM itself; especially as a result of clipping or fixing pairs. Instead I've chosen to rely on `samtools index` generating an error upon indexing an unsorted BAM.

I've therefore updated Elan to catch the exit status of `samtools_index` and emit exit status to the

[2021-04-01 09:41] SamStudio8 opened #44 "Dataview for PAG published dates"

[2021-04-01 09:45] SamStudio8 commented on #44
I've been avoiding this as the proper MDV API endpoint for this is demonstrably slow and needs addressing, but as I realised while working on #37, the `get pag` endpoint has been optimised to get just this information. I can write a cron job to fetch the fields and drop them somewhere for NL.

[2021-04-01 10:30] SamStudio8 opened #45 "How to enable access to failed sequences"
Currently basic QC failed sequences are suppressed and unlinked from the artifact store. Some users would like to investigate properties of the failed genomes and will need access. I'll need to have a think how to enable this for existing sequences and new sequences going forward.

[2021-04-01 12:26] SamStudio8 commented on #41
Absolutely. Blazing.
[code]
:fire:

[2021-04-01 12:27] SamStudio8 commented on #41
RP says the connection to Majora will be a little slower from this node, but we're able to blow twice as many Ocarinas at the post-Elan step. Publishing and MQTT still to come.

[2021-04-01 12:33] SamStudio8 commented on #39
Updated Elan https://github.com/SamStudio8/elan-nextflow/commit/df731469d0b1a3d024abd528eb72085cdf07cd63

[2021-04-01 15:30] #44 closed, assigned to SamStudio8

[2021-04-01 16:29] SamStudio8 commented on #41
Forgot that part of the post-Elan publish step is sent to SLURM but have parameterised the publish mode and committed that change to Elan (https://github.com/SamStudio8/elan-nextflow/commit/c4f9dccb50f4105a0e48e011c793ebed0acb86dd). After a little conda faff (is it bioinformatics without it?) everything finished up in record time, and emitted a message to MQTT without trouble. Will keep an eye out

[2021-04-01 16:29] #41 closed, assigned to SamStudio8

[2021-04-02 10:33] SamStudio8 commented on #39
Seems to have worked!

[2021-04-02 10:33] #39 closed, assigned to SamStudio8

[2021-04-05 12:19] SamStudio8 commented on #41
Encountered an issue early this morning caused by Nextflow exceeding the thread pool limit when resuming tasks with the local executor. This has been reported before (https://github.com/nextflow-io/nextflow/issues/1871) and the proposed fix to add `-Dnxf.pool.type=sync` to `NXF_OPTS` has been deployed and seems to be working.

[2021-04-05 12:20] SamStudio8 commented on #41
Additionally, the `swell` step appears to have segfaulted for a very small number of samples (n=3) which seems to be related to a resource limit causing the initialisation of `numpy` to fail -- killing `swell`. RP has increased all process and file handler limits and we'll keep an eye on tomorrow's run.

Error below for posterity;
[code]

Update: This error has gone away now. We might want to lowe

[2021-04-05 12:37] SamStudio8 commented on #17
Reopening as the data set continues to grow in size and the performance of Asklepian has slipped. Will begin diagnosing with timing information but I expect good short term gains to come from compressing the output (#43) but long term we'll need to move to reporting dataset deltas (#26). Spoken to DG about compression already but not sure when this will be implemented PHA side.

[2021-04-08 12:57] richardemyers opened #46 "[validator] Add Ion Torrent to instrument_make"
Add Ion torrent to instrument make field

One of the commercial providers of sequence from returning overseas testing is using the ion torrent platform. this needs to be included in the instrument_make options

**Detail**

| Validator | Field       | Proposed option | Justification                    |
|-----------|-------------|-----------------|----------------------------------|
| instrument_ma

[2021-04-09 13:29] SamStudio8 opened #47 "[manualpipe] Asklepian 20210409"
**Brief description**

Asklepian was interrupted by firewall maintenance causing the `upload_azure` step for genome table v2 to be interrupted.
Asklepian is not guarded for restarts but I want to avoid repeating work as all the steps are quite expensive. I'll patch up the `go.sh` script and raise it manually.

***
**Executed by:** SN

* [x] I am sure this pipeline is not already running: killed er

[2021-04-09 13:36] SamStudio8 commented on #47
/remind me in an hour

[2021-04-09 13:48] SamStudio8 commented on #47
Oop, looks like the reminders app I found is dead https://github.com/probot/reminders/issues/51

[2021-04-09 14:39] SamStudio8 commented on #47
Output checked, mqtt sent, closed

[2021-04-09 14:39] #47 closed, assigned to SamStudio8

[2021-04-09 17:57] SamStudio8 commented on #47
PHA asking for clarification on the genomes table for today. I was under the impression that we had sent it due to the output in today's Asklepian `stderr` but it appears the upload was not completed. Mistakenly misinterpreted the uningested v2 tables in the Azure container as today's genome tables when manually raising the pipeline.

The v2 genomes table was sent today, but not v1. Genome table w

[2021-04-09 18:09] SamStudio8 commented on #47
Intermediary files are deleted to save space. I'll request the v2 genomics table from the Azure store, uncompress, remove the columns added by the v2 spec and upload as v1.

[2021-04-09 18:35] SamStudio8 commented on #47
Done. Today's genome table ETL should start now. I've notified PHE and EDGE team. Looking forward to the v2 table being implemented their side as the compression makes a big difference!

[2021-04-09 21:48] SamStudio8 commented on #47
Genome table ETL confirmed. Not raising a DIPI incident on this as analysis contiguity has not been interrupted (the data is due tomorrow). Chalking it up as a near miss but will keep what I've learned today for future manual interventions on Asklepian.

[2021-04-12 11:21] SamStudio8 commented on #46
Confirmed `ION_TORRENT` is compatible with ENA's platform field. Will need to add permitted values to `pyENA` as appropriate when it comes to submissions to ENA (https://github.com/SamStudio8/pyena/blob/master/pyena/client.py#L24).

Valid options for instrument_model (if it were controlled) would be:

* Ion Torrent PGM
* Ion Torrent Proton
* Ion Torrent S5
* Ion Torrent S5 XL

See https://github.c

[2021-04-12 12:05] richardemyers opened #48 "[validator] Add `collection_pillar` for commercial suppliers"
add a new pillar value for commercial sequencing

Need to be able to identify commercial seqs rapidly - international travellers

**Detail**

| Validator | Field       | Proposed option | Justification                    |
|-----------|-------------|-----------------|----------------------------------|
| collection_pillar   |collection_pillar | 3 | rapid identification of seqs from commercial supp

[2021-04-12 12:19] SamStudio8 commented on #48
Will assign option as `103` rather than `3` to avoid confusion with [existing pillars in government strategy](https://www.gov.uk/government/publications/coronavirus-covid-19-testing-data-methodology/covid-19-testing-data-methodology-note).

[2021-04-12 14:17] #48 closed, assigned to SamStudio8

[2021-04-12 14:17] #46 closed, assigned to SamStudio8

[2021-04-13 08:39] SamStudio8 opened #49 "Elan does not emit a quickcheck fail for BAMs that fail the index step"
BAMs that fail to index appear to not have a corresponding status line in the bam_index portion of the quickcheck output.

[2021-04-13 13:54] tomrconnor opened #50 "[validator] Add additional countries to adm1"
**Brief description**

COG-UK may begin to receive samples from British Overseas Territories or Crown Dependencies. This will require an update to adm1 in order to provide the option for sequences from these locations to be correctly linked. These may require some form of suppression post-upload, for example in the generation of data for the public MicroReact.

**Detail**

| Validator | Field

[2021-04-13 14:03] SamStudio8 commented on #50
Discussed this with TRC on Slack but adding the salient points here:

* Additions to `adm1` validator is a straightforward request but there'll be a few tasks to tick off before we can set this up;

* Deductive disclosure concerns are currently handled post-hoc before individual sequence-level data is made available to public sources (e.g. via Microreact). Standard approaches should apply here.

@

[2021-04-13 14:15] tomrconnor commented on #50
As far as I am aware, deductive disclosure issues aside, there shouldn't be any need for special handling. I think the advice to the locations concerned will be to not upload other details, so we may need to think about what they put into adm2. I would expect that the upload of metadata would use the same system as the rest of COG-UK.

The locations concerned will be signing the data access agreem

[2021-04-13 14:18] SamStudio8 commented on #50
Perfect. adm2 is only made public through sources like Microreact where
deductive disclosure concerns are already handled routinely.

DIPI meets tomorrow so I'll raise it with the various pipeline teams.

On Tue, Apr 13, 2021 at 3:16 PM tomrconnor ***@***.***> wrote:

[2021-04-13 17:52] fschwach opened #51 "make biosample validity endpoint queries work with oauth"
currently, queries to the biosample validity endpoint  (api/v2/artifact/biosample/query/validity/) require old-style authentication which needs to be regularly refreshed manually. This is not ideal for automated queries, which I would like to run from the PHE end in order to provide metadata for samples that are missing the minimal fields. Please enable ouath for these queries. Thanks a lot!

[2021-04-14 11:11] SamStudio8 commented on #50
Flagged this to DIPI. RC will follow up with VH and AT on geography cleaning steps. AU confirms this should fit in to standard practice with Microreact. Test data might be useful.

[2021-04-14 11:15] SamStudio8 commented on #50
@tomrconnor Although adm2 is not controlled by Majora it would be useful to get an idea of what the adm2 data for each of these countries may look like, do you have any example sample-level metadata or aggregate adm2 counts that we might be able to feed back to geography teams so they can update their scripts?

[2021-04-14 12:22] SamStudio8 commented on #50
I have conducted a small scale audit of my software directory and spot the following:

* [ ] Majora API (validator)
* [ ] Majora API response (adm1_trans)
* [ ] ocarina_resolve / Elan (used to convert country for inclusion in FASTA header via Elan)
* [x] ocarina (no direct handling)
* [x] asklepian (no direct handling)
* [ ] ENA outbound (Elan/bam) (uses Majora adm1_trans, but fixed adm0)
* [x] EN

[2021-04-14 13:06] anirpandit commented on #45
Some of the task we would be looking to do with the data is:

1. Number/proportion of sequences that fail over time
2. Range of coverage thresholds in the QC failed data across:
a. whole genome
b. Spike
c. RBD
3. Attempt VOC calls
a. bin into different coverage ranges
b. can we do anything to split across the vocs (suspect not unless we reduce the data to ones we suspect could be a specific VOC -

[2021-04-15 10:44] SamStudio8 commented on #49
This was caused by a Nextflow error raised when the BAI expected by the step did not appear; I've made the output BAI optional which should cause a failed index to drop through to the next step. Fix applied in https://github.com/SamStudio8/elan-nextflow/commit/ca210b4a709fabe43d05504a62802a507593d646. The files that flagged this have been corrected so I'll see if this happens again in future.

[2021-04-15 10:44] #49 closed, assigned to SamStudio8

[2021-04-15 11:06] SamStudio8 commented on #11
Last I heard the incoming data looked good. We've sent a few small scale tests of Birmingham data. Before the Easter break I was seeing a high rate of API call fails to ENA but I'm hoping that was just temporary. I'll proceed with larger incremental testing and then we can onboard a few sites.

[2021-04-15 11:52] SamStudio8 commented on #11
Tried a larger submission today with great success. Only 4 samples failed "because of a system [ENA-side] error". Interestingly the error message makes reference to FTP which makes me wonder if webin-cli is silently dropping to FTP because ascp is not on the PATH (which it should be).

* [ ] Check ascp is in PATH scope for ENA-A submissions

[2021-04-15 12:50] SamStudio8 commented on #50
Outbound lookups as follows:

| adm1 | Country | Genbank[1] | GISAID |
|-|-|-|-|
| FK | Falkland Islands | Falkland Islands (Islas Malvinas) | South America / Falkland Islands |
| GI | Gibraltar | Gibraltar | Europe / Gibraltar |
| JE | Jersey | Jersey | Europe / Jersey |
| IM | Isle of Man | Isle of Man | Europe / Isle of Man |
| GG | Guernsey | Guernsey | Europe / Guernsey |

[1] https://www.ncb

[2021-04-15 14:29] rmcolq commented on #50
Just to check, the proposed adm1s would mean that instead of e.g. `UK-ENG` you might see `FK` (not `UK-FK`)?

[2021-04-15 14:45] rambaut commented on #50
I thought it was `GB-ENG`?

[2021-04-15 14:45] SamStudio8 commented on #50
@rmcolq Yes; the proposed adm1 will be integrated as-is rather than prefixed (ie. using the proper ISO 3166-2 codes). The home nations will continue to use the existing adm1 (which are modified ISO 3166-2 using UK over GB).

[2021-04-15 14:48] rambaut commented on #50
Complication is none of those new places are technically part of the UK (but then Northern Ireland is not part of Great Britain but still has GB-NIR under ISO 3166-2).

[2021-04-15 15:00] SamStudio8 commented on #50
@rambaut Indeed - there is a bunch of hard coding assuming United Kingdom dotted around a few things on this end of Elan. I'm not familiar with the NUTS (hah) and bolts of the geography cleaning but presumably this is a bit of work to integrate. There won't be any changes in Majora until we're confident that everything downstream will accept the new codes without undefined behaviour.

[2021-04-15 15:24] SamStudio8 commented on #43
Merged with #37

[2021-04-15 15:24] #43 closed, assigned to SamStudio8

[2021-04-15 15:25] SamStudio8 commented on #42
Closing, as Elan runs on its own VM this is not an issue currently.

[2021-04-15 15:25] #42 closed, assigned to SamStudio8

[2021-04-15 15:26] #30 closed, assigned to SamStudio8

[2021-04-15 15:38] SamStudio8 opened #53 "Automated PHEC GISAID submissions"
CLIMB-COVID will be handling PHEC submissions to GISAID and ENA going forward, but we first need to resolve previous submissions to ensure that our catalogue of accessions is complete; and that we do not inadvertently send any duplicate genomes to GISAID with the COG IDs rather than the PHE ones.

AL at PHE has sent me the requisite mapping.

[2021-04-15 16:05] SamStudio8 opened #54 "Pre-Elan second message occasionally stomps over Pre-Elan first message"
The `#inbound-distribution` message sometimes announces an empty site list as the file has been modified by the later running second message. This is usually during times of heavy I/O load reducing the efficiency of `find` (see #19). The two message steps should use a different working copy, or the second message should be held at a signal until safe to proceed.

[2021-04-16 10:04] SamStudio8 opened #55 "ION_TORRENT sequencing data always passes QC as no rules are defined"
Sequence QC is applied by platform, we did not take this into consideration when ION_TORRENT was added to the list of sequencing platforms (#46). Several sequences that should have failed QC have interrupted the running of Phylopipe1.

* [x] Patch Phylopipe1 to ignore these sequences in the meantime
* [x] Determine QC rules for `ION_TORRENT`
* [x] Implement rules in the Majora QC subsystem
* [x] R

[2021-04-16 10:05] SamStudio8 commented on #55
RC is handling Phylopipe1.

[2021-04-16 10:08] SamStudio8 commented on #55
You can see these sequences sail through QC has neither the Illumina, nor ONT rules are applicable.
![Screenshot from 2021-04-16 11-06-47](https://user-images.githubusercontent.com/1105722/115009185-ebed7e00-9ea3-11eb-82ba-51a99343e7a0.png)

From the docs website, our QC decisions:

v1.1 2020-04-21
* Illumina
    * Average BAM depth less than 10x
    * BAM depth less than 10x for over 50% of the r

[2021-04-16 10:12] SamStudio8 commented on #55
Elan has already completed today so things won't get any worse. There are 375 published artifact groups associated with an `ION_TORRENT` sequence. RC has encountered 2 that have interrupted Phylopipe1 so far.

[2021-04-16 10:33] SamStudio8 commented on #55
Spoken to NL and RM. Proposing to align with how PHE are currently handling the data, with 30x depth thresholding. There is potential for these to all be looked at again (as part of #45), so this is not necessarily set in stone but will do for now.

[2021-04-16 10:39] SamStudio8 commented on #55
We can check for 30x mean depth overall, but when it comes to counting the proportion of sites that meet a given depth, Majora is tracking 10x, 20x; not 30x. We'll either need to drop to the same requirement as ONT or add 30x to Majora. I hesitate to add 30x now, as it will damage the integrity of the existing data set as the value will be missing (or imputed) for all existing data.

Proposing; 30

[2021-04-16 10:48] SamStudio8 commented on #55
Injecting QC conf to Majora:

[code]

[code]

[2021-04-16 10:57] SamStudio8 commented on #55
OK, I used the example that RC sent me this morning as a canary and we seem to be back in control;

![Screenshot from 2021-04-16 11-56-09](https://user-images.githubusercontent.com/1105722/115014871-cdd74c00-9eaa-11eb-97f9-1dcd246de55a.png)

I will now reissue QC requests for any ION_TORRENT associated PAG.

[2021-04-16 11:24] SamStudio8 commented on #55
This has been actioned. 375 PAGs have been QC'd with the new specification; 30 of which failed basic QC. As well as the 30 failing basic QC, an additional 12 also failed high quality QC.

[code]

[2021-04-16 11:37] SamStudio8 commented on #55
Elan's `reconcile_consensus` script just uses the availability of links to determine whether the sequence should appear in the consensus or not. Perhaps we'll want to explicitly control this using the QC status from Majora (this might help with #45, too); in the meantime, I will manually unlink the 30 basic QC fails.

[2021-04-16 11:59] SamStudio8 commented on #55
30 sequences unlinked. These will disappear from the dataset after post-Elan resolve tomorrow.

[2021-04-16 12:12] SamStudio8 commented on #55
https://github.com/SamStudio8/majora/commit/e8394fec12bc7a66e9db94f0de2f2b4e043dd3f9 prevents Majora adding a QC report without conducting at least one non-skipped QC test.

[2021-04-16 12:13] SamStudio8 commented on #55
* [x] Determine sequences are correctly removed from 2021-04-17 dataset

[2021-04-17 11:58] SamStudio8 opened #56 "Accession export task fails with `Got a packet bigger than 'max_allowed_packet' bytes"`"
Export of MDV COG2 results in a Celery task abort and MySQL connection hangup. Non-urgent so will investigate Monday. Suspect a SELECT or the like is too large (fetching PAGs by ID?). Will ask RP to look at transaction log Monday.

Accession lists won't be generated until this has been addressed (which is fine for the moment as we send ours on Monday anyway).

[2021-04-17 15:14] SamStudio8 commented on #55
2021-04-17 dataset clean of failed ION_TORRENT data. Mischief managed.

[2021-04-17 15:14] #55 closed, assigned to SamStudio8

[2021-04-19 09:43] SamStudio8 commented on #56
Suspect related to https://github.com/SamStudio8/majora/blob/8ff3c3484af395f9417f70d2dc6386ddafc86ca5/majora2/resty_views.py#L49

[2021-04-19 09:59] SamStudio8 opened #57 "ENA BAM submission pipeline stopped by ION_TORRENT data"
Continuing the theme of new sequencing platform data ruining everything, today the ENA BAM submission pipeline has choked on the dehumanisation step (https://github.com/SamStudio8/elan-nextflow/blob/master/bam/dehuman.nf#L67-L77) which requires platform specific handling. See also #55.

[2021-04-19 10:00] SamStudio8 commented on #57
NL suggests using the Illumina options. Will implement this now.

[2021-04-19 10:04] SamStudio8 commented on #57
https://github.com/SamStudio8/elan-nextflow/commit/85ffc1b29dcff5fd29bff08421846a02c5951be7 adds ION_TORRENT to the dehumanise_bam step.

I didn't actually realise that PHEC was opted in for uploads yet (#53) so we'll need to bump pyENA to handle the Ion Torrent options before we pick this pipeline back up today.

[2021-04-19 10:11] SamStudio8 commented on #57
https://github.com/SamStudio8/pyena/commit/31c1c4372894088bdf81ebd8656f2aceedbcc16b updates pyENA to handle ION_TORRENT (hopefully).

[2021-04-19 10:20] SamStudio8 commented on #57
Bumped Elan (BAM) with https://github.com/SamStudio8/elan-nextflow/commit/f2a7b2ab5e6b837aae6ef136dfbf90695d34af20

[2021-04-19 10:23] SamStudio8 opened #58 "Ion Torrent tracking issue"
Over the past week the addition of a new sequencing option has exposed some forgotten dependencies on the instrument platform. This issue will tie them together and conclude them.

* Option added by #46
* QC subsystem data incident #55
* ENA submission failure #57

[2021-04-19 10:25] SamStudio8 commented on #58
* https://github.com/SamStudio8/majora/commit/e8394fec12bc7a66e9db94f0de2f2b4e043dd3f9 prevents Majora adding a QC report without performing at least one test.
* https://github.com/SamStudio8/majora/commit/b83019e4f326b60820edcf62177eea48a7ddb09d preemptively removes Pacbio from supported platforms to avoid this happening with PB data in future.
* DIPI group repo now has "Add a sequencing platform

[2021-04-19 10:28] SamStudio8 opened #59 "[manualpipe] ENA BAM 20210419"
**Brief description**

Pipeline was halted by Nextflow at `dehumanise_bam` step upon encountering a sequencing platform that was not in the handler list. See #57.

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] ~Reconcile input~ NA
* [x] Engage pipeline -- raised `auto_submit.sh` for automatic resuming
* [x] Disable NXF cache destruction (if appli

[2021-04-19 10:29] SamStudio8 commented on #57
Control switched to #59

[2021-04-19 10:29] #57 closed, assigned to SamStudio8

[2021-04-19 13:19] SamStudio8 commented on #58
As it affected the integrity of the downstream data, this has been written up as a DIPI incident https://github.com/COG-UK/dipi-group/blob/official/postmortems/20210416_iontorrentqc.md

[2021-04-19 14:51] SamStudio8 commented on #56
RP has changed max_allowed_packet and the error has gone away. I suspect it's related to passing a large list of UUIDs to the celery task, which we might want to take a look at before closing this. Dropping bug as the endpoint is working again.

[2021-04-20 11:16] SamStudio8 commented on #27
GB sent me an update on this a few weeks ago. I've bumped the `gisaid_uploader` version and have added the `-L` option (https://github.com/SamStudio8/coguk-push/commit/a0497aa8dbea0b261fd6f447099e7fbadab13060). It spits out newline delimited JSON as the uploader is running which should allow us to catch problems like seen previously.

[2021-04-20 11:16] #27 closed, assigned to SamStudio8

[2021-04-20 11:57] SamStudio8 commented on #37
CJ's team has picked this up now. Hopefully we can make the switch soon.

[2021-04-20 17:20] SamStudio8 commented on #37
https://github.com/SamStudio8/asklepian/commit/71ca4555f867e71b4957f4b33047358cdb9e9672 deprecates the v1 genome table, and removes the test_ prefix from the v2 table. v1 genome table will not be generated 2021-04-21.

The v2 genomes table will not be automatically deleted (as usual) in case we need to resend or drop the columns to create the v1 table for whatever reason. Once we're happy we can r

[2021-04-21 08:23] SamStudio8 opened #60 "[manualpipe] Elan 20210421"
**Brief description**

An internal connection error caused Majora to return HTTP 500 for this morning's MDV dump to the pre-Elan file resolving scripts, causing the file manifest for Elan to be empty. Elan announced there were no new files to `#inbound-distribution`.

I requested the MDV from Majora using Ocarina with the standard procedure, and the HTTP 500 has not occurred. I will now perform a

[2021-04-21 10:00] rmcolq commented on #50
Verity tells me that `geography_cleaning.py` now handles these 5 additional `adm1` (and those that were added before with postcodes from these regions and an `adm1` of England, although I assume these will be overwritten in majora once the new ones are allowed?). I've a few small changes to datapipe and publishing steps which filter on 'is_uk' but these would not break the pipeline, only cause seq

[2021-04-21 10:33] SamStudio8 commented on #60
Running in to some trouble with the post-Elan publishing step. Diagnosing from a spotty connection in the UoB biosciences quad.

[2021-04-21 10:55] SamStudio8 commented on #60
Amusingly the post-Elan pipeline failed due to lack of fails. A `grep` that looks for non-zero exit statii in the merged Elan quickcheck output raised exit `1` as there were no matches today (for the first time ever it would seem). Fixed in https://github.com/SamStudio8/elan-nextflow/commit/782eed2af19dc3aa654c4c5c17036be665a1f2ff.

[2021-04-21 18:23] #60 closed, assigned to SamStudio8

[2021-04-21 18:26] #59 closed, assigned to SamStudio8

[2021-04-21 18:26] #58 closed, assigned to SamStudio8

[2021-04-22 08:16] SamStudio8 commented on #50
Awesome. I see the changes in https://github.com/COG-UK/geography_cleaning/commit/54f5c760d9bace105b3feb983de594728d906ed1 tracked by https://github.com/COG-UK/geography_cleaning/issues/2. @ViralVerity from the look of the patch this will work even if users don't change to the "correct" `adm1` too? I don't plan to automatically update the existing data immediately so wouldn't want to break things

[2021-04-22 08:41] rmcolq commented on #50
Yes it will work even if you don't update the existing ones. Datapipe/Phylopipe2 changes made (largely just the publishing step), just testing now.

[2021-04-22 08:50] ViralVerity commented on #50
Yes - it should propagate up to country level! There's been quite a lot of sequences from the new adm1s so far that just had postcodes, so it will pick those up. I'm also happy to take advisement on what the cleaned up country looks like in terms of underscores vs spaces and capitalisation.

[2021-04-22 09:14] SamStudio8 commented on #50
@rmcolq @ViralVerity Thanks both! Looks like it's mostly with me to sort out the outbound pipes and Majora itself now... The main thing I still need to sort out is whether these new country codes need to come under the same treatment as the `UK-ENG` code in terms of specimen ID data sharing with PHE.

@ViralVerity I'll be using the countries as in the table above but whatever is more consistent wi

[2021-04-22 09:18] grovesn opened #61 "Migrate Asklepian to use Datapipe products rather than its own MSA"
Please can we have the genome table sequence column changed to the aligned sequence instead so we can use them in tree building?

Thanks!

[2021-04-22 09:44] ViralVerity commented on #50
Great ok, yeah I've got those as inputs!
I think adding the geography cleaning readme onto the docs site would be a good idea, I suspect some of the columns as not quite self explanatory

[2021-04-22 09:44] SamStudio8 commented on #61
This should be reasonably straightforward as the naive MSA is right in the scope of Asklepian and I think only the "best ref" genomes are used in the MSA too.

[2021-04-22 10:04] SamStudio8 commented on #61
@rmcolq suggested that we think about using the `datapipe` MSA for this. I think it would be good to converge on one canonical source for things and datapipe is officially the producer of the MSA product used by the rest of the consortium. Asklepian only produces an MSA because we originally couldn't run phylopipe1 often enough.

Asklepian is informally considered a "must run" service and so if we

[2021-04-22 10:14] SamStudio8 commented on #61
Plan is to migrate to using the `datapipe` products, but this will need testing to compare the outputs first. In the short term therefore, we'll make the smaller change and use the current MSA such that the genome table is updated to use the alignment data sooner rather than later (as it will improve analysis portability on the other end).

[2021-04-22 11:30] SamStudio8 commented on #37
Ingest failed on the other side, engineers investigating. See JIRA ~EDGE-2004~, ~EDGE-2152~ DA-7013.

[2021-04-22 15:20] SamStudio8 commented on #11
Met with the data working group and decided:
* [x] Turn on opt-ins
* [x] Crowdsource the values for `bioinfo_pipe_name` and `bioinfo_pipe_version` to try and assist backfill

Presumably we'll need to provide some docs on this (someone could port the draft gdoc to the official docs site)

[2021-04-22 15:40] SamStudio8 commented on #61
https://github.com/SamStudio8/asklepian/commit/43ffb67c1fda4aceaf4dd6535d697bbe2e1ed1ce uses the MSA rather than the best_ref.fasta to generate the genomes table. As they use the exact same headers they are interchangeable.

[2021-04-22 15:47] SamStudio8 commented on #61
As we discussed it here already I've updated this issue to track a longer term change for Asklepian to use Datapipe products.

[2021-04-22 16:26] SamStudio8 opened #62 "Backlog tasks"
This is a tracking issue to keep a list of issues that are not urgent enough to have an issue of their own. Issues listed here are most likely "nice to have" features or medium/long-term maintenance tasks we do not have the bandwidth to work on while we are still developing new functionality.

***

## Metadata
* ~~Better support uploading of samples from 1 year ago https://github.com/COG-UK/dipi-g

[2021-04-22 16:26] #56 closed, assigned to SamStudio8

[2021-04-22 16:26] SamStudio8 commented on #56
Functionality works after increase of allowed packet size, maintenance on this is now a backlog task https://github.com/COG-UK/dipi-group/issues/62

[2021-04-22 16:27] SamStudio8 commented on #54
Added to backlog https://github.com/COG-UK/dipi-group/issues/62

[2021-04-22 16:28] SamStudio8 commented on #19
Added to backlog https://github.com/COG-UK/dipi-group/issues/62

[2021-04-22 16:28] #19 closed, assigned to SamStudio8

[2021-04-22 16:28] SamStudio8 commented on #24
Added to backlog https://github.com/COG-UK/dipi-group/issues/62

[2021-04-22 16:28] #24 closed, assigned to SamStudio8

[2021-04-22 16:29] SamStudio8 commented on #17
This should be addressed by #61

[2021-04-22 16:29] #17 closed, assigned to SamStudio8

[2021-04-22 16:30] SamStudio8 commented on #22
Added to backlog https://github.com/COG-UK/dipi-group/issues/62

[2021-04-22 16:30] #22 closed, assigned to SamStudio8

[2021-04-22 16:32] SamStudio8 commented on #26
Since moving the Elan start time, the ingest time for Asklepian on PHA side has become less of a concern and their plans to move toward delta tables has been bumped to a future sprint. Adding this to DIPI backlog https://github.com/COG-UK/dipi-group/issues/62

[2021-04-22 17:38] SamStudio8 commented on #51
Ocarina 0.38.3 now supports `get biosample-validity` with OAuth (https://github.com/SamStudio8/ocarina/commit/fa357872ee1c8bad813956ff8b8b0ea3afa31755)

[2021-04-22 17:38] #51 closed, assigned to SamStudio8

[2021-04-22 19:06] SamStudio8 opened #63 "Expose the accessions table through S3"

[2021-04-23 10:17] SamStudio8 commented on #53
I've reconciled the existing accession list from PHEC with Majora and sent back a few queries to untangle.

[2021-04-23 12:02] SamStudio8 commented on #45
NL makes the good point that most of the failed data is retained locally and has pointed in the direction of JB to provide some QC<50% data from WSI in the first instance. I think this would provide a good consistent data set to take a look at, NL has also done some local analysis of ONT data too. I'm going to close this for now but we can re-open it when our QC<50% data would prove useful.

[2021-04-23 12:02] #45 closed, assigned to SamStudio8

[2021-04-23 16:09] SamStudio8 commented on #37
Chased this up with the engineers on the other side. Appears the compression was not taken into account? Regardless, issue with ingest appears to be resolved now.

[2021-04-23 16:20] SamStudio8 commented on #37
NG confirms the genomes table ingested has the `Sequence` field as MSA (#61) so the ingest must be the latest data, hooray! :tada: :parrot:

[2021-04-26 11:09] SamStudio8 commented on #11
Question from external data consumer about the `TITLE` field in our new Genbank records and whether we can set it to something other than "Direct submission". I'd previously asked NR at ENA about this but followed up for a definite answer this week. NR confirms the title cannot be populated from the ENA flatfile, but we'll make it clear to users on the data website that the `COG_ACCESSION` (that w

[2021-04-26 11:29] SamStudio8 commented on #11
We need to issue the guidance on `bioinfo_pipe_name`, `bioinfo_pipe_version` and the process before we can turn on opt-ins.

[2021-04-26 17:09] SamStudio8 opened #64 "Get the Majora paper off the desk"
Tracking issue for sending the Majora and friends paper for publication

***

Before review Wednesday

* [x] T1
* [x] F5
* [x] F8, F9 -> F8AB
* [x] ~F10 ?~
* [x] F11 (DA)
* [x] F12

To discuss Wednesday

* [x] Remove F3 ?
* [x] ~Remove F4 ?~
* [x] Update F7
* [x] New figure big tree (placeholder)
* [x] New figure civet?
* [x] ~T3~

Before submission

* [x] Update F12 if applicable
* [x] AU/DA micr

[2021-04-27 08:55] SamStudio8 opened #65 "[manualpipe] Elan 20210427"
**Brief description**

Elan post-publish pipeline reported Error 28 to #majora-messages at 07:47 which I noticed during routine checks at 09:45. Appears to have got beyond the consensus reconcile step. I'll add guards to the post-publish script to prevent having to repeat this expensive step again and restart. Error 28 is "no space left on device" if I remember correctly, I suspect this is transie

[2021-04-27 09:06] SamStudio8 commented on #65
https://github.com/SamStudio8/elan-nextflow/commit/8f92041f2bbca8d12f4d3cbc1360e23355ef114a adds checks to avoid repeating the ocarina/linking step, and the reconcile consensus step. Elan manually raised and completed. Downstream pipes triggered.

[2021-04-27 09:06] #65 closed, assigned to SamStudio8

[2021-04-27 09:52] fschwach opened #66 "create an ocarina oauth check command"
For automated processes that call ocarina, it would be useful to have a way of checking that the oauth tokens are up to data. Running the refresh command will block if tokens need refreshing and user input is required, which is not good for unsupervised running of automated commands.
I propose a sub-command
`ocarina oauth check
`
which could return json with a list of tokens that are up-to-date an

[2021-04-27 13:05] SamStudio8 commented on #64
Ditched the F12 timeline as it takes a lot of space and serves little purpose other than showing how fast and how good we are (which should be clear from the rest of the paper). Swapped it for a modified version of the cumulative PAG graph plotted alongside UK daily cases. We can `left_join` a TSV of arbitrary labels as we see fit.

![Screenshot from 2021-04-27 13-58-35](https://user-images.github

[2021-04-27 13:28] SamStudio8 commented on #64
AU has sent over a nice new picture showing of Microreact for F11, the before and after is pretty cool:
![screenshot_from_2021-03-17_16-59-44](https://user-images.githubusercontent.com/1105722/116249550-d65e3b00-a764-11eb-89ec-0075d4b80766.png)
![microreact](https://user-images.githubusercontent.com/1105722/116249577-de1ddf80-a764-11eb-9cf2-6f71cba2d90c.png)

[2021-04-27 14:23] SamStudio8 commented on #64
Using Carbon to generate fancy renders of JSON examples for F5:
![2a-light](https://user-images.githubusercontent.com/1105722/116258041-7f5c6400-a76c-11eb-9582-d1aee39e6f76.png)

[2021-04-27 20:44] SamStudio8 opened #67 "Enrol auxiliary programs with Tael"
The Tael MQTT queue is the central event stream for CLIMB-COVID but there are a few programs operating without outside of its watch, these should be slowly integrated to simplify reporting:

* [ ] Elan start
* [ ] Elan post-publish
* [ ] GISAID submissions
* [ ] ENA / ENA-A submissions
* [ ] Pre-Elan messages
* [x] Additionally, Tael mqtt-client should have a listener automatically attached for it

[2021-04-30 17:15] SamStudio8 commented on #64
Submitted :rocket:

[2021-04-30 17:15] #64 closed, assigned to SamStudio8

[2021-05-02 11:34] SamStudio8 commented on #67
https://github.com/SamStudio8/elan-nextflow/commit/27b2fc88b279d14e03f60bb64808e01ba13a8c16 adds a control topic for any pipeline started with the tael mqtt wrapper. Pipelines can now be manually raised by sending messages to the control topic which makes raising fallen pipelines more straightforward.

[2021-05-04 13:01] SamStudio8 commented on #50
Health Informatics group has asked for an update on this. It looks like we're ready downstream. Before we carry on I just want to chase up whether each of these adm1 are signed on to the agreement such that we can handle them as standard.

[2021-05-04 13:04] ViralVerity commented on #50
I can confirm geography cleaning takes the countries exactly as above (ie no "UK" and in capitals) and will return prettier, human readable versions, in line with how the current adm1s are treated.

[2021-05-04 13:07] SamStudio8 commented on #50
@tomrconnor Do you know if all these new adm1 have signed up to COG now, don't want to inadvertently trigger an ethics meeting!

[2021-05-04 13:46] fschwach opened #69 "add sample collection and received date fields to dataview PHE1"
I would like to have sample collection and sample received date added to the PHE1 dataview on Majora. This will make it easier for me to use the dates in order to find the correct match of sender sample ID where a barcode has been re-used. This view currently only provides sender_sample_id and central_sample_id fields.

***

**Proposed by:** FS (PHEC)
**Approved by:** Health Informatics WG 2020-05

[2021-05-04 14:27] SamStudio8 commented on #69
Approved as discussed at the Health Informatics WG. I suggest we organise an email to users as soon as possible offering 7 days notice of the change to be implemented. We'll then switch on the new fields. In the meantime I'll check what mechanism is in place to update Agreement text.

[2021-05-05 14:53] tomrconnor commented on #50
They were in the process of it, I think. PHE are sequencing for some of these locations; think that the other sites won't be told they can have access to CLIMB until the HI group knows that this work has been done. So the downstream work being done is great, and I think the next thing is to pass this back to the HI group for them to manage the next actions.

[2021-05-10 12:24] SamStudio8 opened #70 "[manualpipe] GISAID 20210510"
**Brief description**

GISAID pipeline encountered `connection_error`

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] ~Disable NXF cache destruction (if applicable)~
* [x] Reconcile output
* [x] Send mqtt message (if applicable)
* [x] ~Re-enable cache destruction (if disabled)~

***

* [x] Manual interve

[2021-05-10 12:42] #70 closed, assigned to SamStudio8

[2021-05-13 10:29] rmcolq opened #72 "Commas in input metadata"
While MAJORA metadata is output in TSV format, all of datapipe uses CSV. A comma in user input is currently causing problems downstream.

- [x] Add something to datapipe to strip commas until a proper fix is decided on (will lead to problems with searching output)
- [x] Check if string parsing splitting by commas is being used
- [x] Check if quotes handled correctly by csv dictreader/fastafunk com

[2021-05-13 10:42] SamStudio8 commented on #72
Eek, the main reason I chose to use TSV is because I'm scared of commas cropping up in code that just splits on delimiter characters. I'd lean towards making the software work on the data rather than the data work for the software. Perhaps we could look at moving some outputs over to TSV before we think about changing the commas themselves.

I guess firstly we should audit the tools that touch the

[2021-05-13 11:02] SamStudio8 commented on #72
@rmcolq If commas are stripped by datapipe in downstream metadata (even just temporarily) can we put that in the changelog so we can let users know

[2021-05-13 11:03] rmcolq commented on #72
Checking for split(","):
 - [x] geography_cleaning.py
 - [x] Fastafunk
 - [x] Datapipe (is present in a mutations file parser, but not a full metadata table parser)
 - [x] Phylopipe

[2021-05-13 11:20] SamStudio8 commented on #72
Ocarina has some hard-coded TSV-based outputs, however the code that (can) generate CSV uses Python's `csv.DictWriter` and I've checked this will safely quote the commas without specifying a dialect or anything special. This means the outbound pipelines (eg. GISAID) should be safe from this problem.

[2021-05-13 11:53] SamStudio8 commented on #72
In a paranoid moment I thought I also better check Nextflow. Nextflow has correctly handled quoted CSV substrings since version 19.04 (https://github.com/nextflow-io/nextflow/blob/master/changelog.txt#L545) - everything on CLIMB-COVID is NF 20 minimum.

[2021-05-13 12:10] rmcolq commented on #72
I think it looks like the solution should be quotation marks.

[2021-05-13 12:25] SamStudio8 commented on #72
In the case of the `root_biosample_id` I am reasonably confident the commas can be stripped safely. A quick check in Majora shows a number of samples with commas in `adm2`, too. So my vote would be for something that can retains commas. If we encounter issues with this downstream (oddly slow parsing or such) then we could swap affected tables to TSV.

[2021-05-13 13:23] rmcolq commented on #72
Well this explains a lot: `csv.DictReader` is used to parse the TSV and convert it to a CSV, and it looks like it was already adding quotes where there were commas. I think panic over...

[2021-05-13 13:23] #72 closed, assigned to SamStudio8, rmcolq

[2021-05-14 08:40] SamStudio8 opened #73 "[manualpipe] ENA BAM 20210510"
**Brief description**

ENA BAM pipe from 20210510 appears to have got stuck without raising an error

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [ ] Disable NXF cache destruction (if applicable)
* [ ] Reconcile output
* [ ] Send mqtt message (if applicable)
* [ ] Re-enable cache destruction (if disabled)

[2021-05-14 09:24] SamStudio8 opened #74 "[manualpipe] Asklepian 20210514"
**Brief description**

Head node was bounced due to cephfs

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] ~Disable NXF cache destruction (if applicable)~
* [x] Reconcile output
* [x] Send mqtt message (if applicable)
* [x] ~Re-enable cache destruction (if disabled)~

***

* [x] Manual intervention compl

[2021-05-14 09:41] SamStudio8 commented on #73
This run was disrupted by a brief cephfs outage that now requires raising and handling high priority pipelines (eg. Asklepian). I'm not going to watch this low priority pipeline over the weekend so this run can just wait to be superseded on Monday by ENA BAM 20210517

[2021-05-14 09:41] #73 closed, assigned to SamStudio8

[2021-05-14 10:35] SamStudio8 commented on #74
Strange error today:
[code]

On inspection of the output file, the script was attempting to read from the `ref_seq` array, from an index lower than the known size of the `ref_seq` array. Additionally, the `REF` column for the previous several rows appeared to contain an unprintable character (a sure sign of some corruption).

Upon re-raising the script, the tables were automatically marked as OK a

[2021-05-14 11:07] fschwach opened #75 "exclude suppressed records from PHE1 dataview"
This has come to light today because a sequencing site had suppressed a record on CLIMB that had insufficient sequence quality but the COG ID to sender sample ID linage is still included in the PHE1 dataview on Majora which leads to the sample (which was wrongly identified as a VUI) being added to reports at PHE.

[2021-05-14 11:11] SamStudio8 commented on #75
Biosamples are not suppressed, sequences are. The user will need to
either correct or null the `sender_sample_id` for the biosamples in
question.

On Fri, May 14, 2021 at 12:07 PM Frank Schwach ***@***.***>
wrote:

[2021-05-14 11:11] #75 closed, assigned to nobody

[2021-05-14 11:19] SamStudio8 commented on #74
My guess is this was due to file corruption during today's cephfs blip. Evidence suggests the SAM file written by `datafunk` was incomplete and corrupted by the blip and should have regenerated from scratch. This should have been guarded by the `go.sh` script in Asklepian, however the guards implemented only look for whether the file is present.

On the `raise`, the SAM file was observed on the fi

[2021-05-14 11:25] SamStudio8 commented on #74
Luckily for us, the remote side had not begun processing the files for today. DG has removed them from the blob store for me. I am now restarting Asklepian to replace the bad data.

https://github.com/SamStudio8/asklepian/commit/c5a385481ebb75333a57f4915b26bade7325e3c6 checks that an OK flag is reached which should avoid mid-execution corruption like we observed earlier from causing this again in

[2021-05-14 15:30] SamStudio8 commented on #74
Tables uploaded OK. Returning to automated control

[2021-05-14 15:30] #74 closed, assigned to SamStudio8

[2021-05-14 16:34] SamStudio8 commented on #74
https://github.com/SamStudio8/elan-nextflow/commit/1ae6b713284130eb1ae1304c8416153bd10d4e7f fixes a regression that prevented listeners not using `--envreq` from starting their commands. This prevented `asklepian-db` from starting automatically, this has been fixed and the listener has been restarted.

[2021-05-17 10:18] SamStudio8 commented on #11
I caved and did it myself. https://github.com/COG-UK/docs/commit/f68a886613b2208ba90c106ea58be6930e0df9de ports the previous work-in-progress guidance to the official docs site and will maintain the table of recommendations. https://github.com/SamStudio8/majora/commit/c4e2b717ab0df58e069bfa7040874fc84294d013 enables opt-ins on the Majora institute account system.

I'll deploy the patch after the m

[2021-05-17 10:51] SamStudio8 commented on #69
Approved by DWG. We have decided to proceed with facilitating this as the Operational meeting is a week away and this change is a no brainer. I'll alert Slack and get EH to send an email to all sites today, we will implement the change for May 24th.

[2021-05-17 11:29] SamStudio8 commented on #69
Agreement updated. The system was not designed for unilateral changes, so the version number and date can (and have) been bumped, but the version history is not stored (because it was anticipated that changes would require a new agreement object). For this case I've made it clear what has changed and what has not, as we don't need to overly engineer this!

[2021-05-17 11:31] SamStudio8 commented on #69
One week on the clock please!

[2021-05-17 11:37] SamStudio8 commented on #37
Going to chase compression on the variant table up this week to try and close this.

[2021-05-17 11:43] SamStudio8 commented on #11
Largest test submission yet! I'll ask NR to keep an eye on these this week and then we can open the proverbial floodgates and finally close this issue.

[2021-05-17 14:17] SamStudio8 commented on #61
Bumping to backlog #62

[2021-05-17 14:17] #61 closed, assigned to SamStudio8

[2021-05-18 08:25] SamStudio8 opened #76 "[manualpipe] ENA BAM 20210517"
**Brief description**

Nextflow pipeline stalled. Killing and reraising after a few hours of 0 progress.

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running - killed

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] ~Disable NXF cache destruction (if applicable)~
* [x] Reconcile output
* [x] ~Send mqtt message (if applicable)~
* [x] ~Re-enable cache destruc

[2021-05-18 12:12] SamStudio8 commented on #63
Table exposed via https://cog-uk.s3.climb.ac.uk/accessions/latest.tsv, linked from https://data.covid19.climb.ac.uk/ by https://github.com/SamStudio8/coguk-push/commit/c58611cdf7d2b39673f860f7b690845c134e5145

[2021-05-18 12:12] #63 closed, assigned to SamStudio8

[2021-05-18 12:15] SamStudio8 commented on #53
AL has returned the table of sequence queries for me to go through

[2021-05-18 12:16] #76 closed, assigned to SamStudio8

[2021-05-24 08:20] tomrconnor opened #78 "Update to enable Pillar 2 sample IDs to be shared via CLIMB"
**Issue:**

At present Pillar 2 samples are sequenced in a number of locations within the UK including Wellcome Sanger, Public Health Wales and in Northern Ireland (by HSCI/Belfast Trust/Queens).

At present, Pillar 2 sequences are uploaded to CLIMB, but these are provided without sample metadata which has to be matched and uploaded by the PHA that covers the region where the case is resident. Thi

[2021-05-24 09:26] SamStudio8 commented on #69
MDV has been updated as of now. Ocarina 39.2 is required to correctly unroll the `process` block to get the keys inside. Will liaise with FS now.

[2021-05-24 09:57] SamStudio8 commented on #78
We can offer most of this request already; as you know we have a method in place for sharing the precious `sender_sample_id` for English Pillar 1 samples with PHE and it will be trivial to extend this to cover the other nations. Each PHA will need to familiarise itself with Ocarina, the [documentation for using dataviews](https://docs.covid19.climb.ac.uk/accessing-dataviews) and [setting up an OAu

[2021-05-24 10:02] SamStudio8 commented on #78
Although some more careful scoping and testing will be needed to avoid [what happened last time we updated the blank biosample artifact interface](https://github.com/COG-UK/dipi-group/blob/official/postmortems/20210305_blankbiosample.md)...

[2021-05-24 12:23] cs46 commented on #78
@SamStudio8 We do have code setup to create a blank sample but at the moment this is not being used at all as it was only for when we sent sample for external sequencing. We needed to create a blank biosample record for them as they didnt have permissions to do so and then they could add their metadata.  I believe that these sites now have a sFTP connection to PHE so this hasn't been utilised in a

[2021-05-24 12:29] cs46 commented on #78
@tomrconnor stupid question but are you expecting the lighthouse lab bar code to be entered into the sender_sample_id field rather than a Sanger generated code (the latter of which doesn't exist)?  I only ask as the definitions in the consortium agreement would lead me to believe the sender sample ID was originally for a sequencing site to upload their internally generated code rather than what we

[2021-05-24 13:06] SamStudio8 commented on #78
@cs46 Thanks, sounds like this is where the core of the work will be. I think the meat of this proposal is to ensure the process works with equity for all four nations so we'll need a process that works for English and non-English samples. My broad stroke recommendation would be that WSI should not need to provide any metadata at all -- even for English samples, which should come from PHE after ru

[2021-05-24 15:14] tomrconnor commented on #78
@cs46 yep, we would want the lighthouse lab barcode in the sender_sample_id field. We can then match the lighthouse lab ID to data on our LIMS.

The sender_sample_id field has been used (i think exclusively to date) to provide the NHS lab ID (or equivalent) so that PHE can match the case to the patient data that they hold; and that is basically what we want to do here, but the lighthouse lab IDs a

[2021-05-24 16:07] SamStudio8 commented on #78
After a discussion with FS and RM about PHE linkage generally, it sounds like our proposal to modify the blank biosample to allow for sender_sample_id  would neatly solve an outstanding issue with "Pillar 103" (Pillar 2 commercial samples). I'll begin drafting a solution to add this to Majora. The current PHE pipeline is already primed to take the secure dataview and create/update Pillar 2 samples

[2021-05-24 19:03] SamStudio8 commented on #78
For the most minimal amount of work, we could set an optional `sender_sample_id` in here https://github.com/SamStudio8/majora/blob/stable/majora2/api_views.py#L839; and make `sender_sample_id` an optional field when pushing blanks to the `api.artifact.biosample.addempty` API endpoint. This would allow the biosample to be observed through the secure dataviews, but not through anything else (as desi

[2021-05-25 09:23] cs46 commented on #78
@SamStudio8 i also need to understand how to update the is_surveillance flag.  We have started to receive the sample of interest data yesterday which we are monitoring to understand its contents.  We would be in a position to upload this at the same time as the lab bar code for all English samples.  If not we would have to write special logic which would check to see if it had been "stomped" and t

[2021-05-25 09:26] SamStudio8 commented on #78
@cs46 You wouldn't upload it at all, would be my recommendation. Do the PHAs not have this information to flag them afterward?

[2021-05-25 09:31] cs46 commented on #78
@SamStudio8 not to my knowledge but I'm happy to be proven wrong.

[2021-05-25 09:38] SamStudio8 commented on #78
@cs46 Damn. I'll ask around as it would be good to know whether it is just hard to find out, or impossible to find out on their end. Seems to me that all metadata should just come from the canonical PHA sources. My plan would be to release WSI from having to worry about metadata at all. Supporting a use-case wherein the supposedly blank biosample artifacts actually have a bunch of things like is_s

[2021-05-25 09:38] SamStudio8 commented on #69
Spoken to FS and this is all working as planned.

[2021-05-25 09:38] #69 closed, assigned to SamStudio8

[2021-05-25 09:47] cs46 commented on #78
@SamStudio8 i will ask in the PHE meeting later to see if they do/can get access to the data. We are probably the one of the first to be given access so no one else will have this information.

There is also an argument for capacity from PHEs side and our service is here to help out as required.  I agree it would be best if the PHAs did all of the linking but we must also consider resilience, shou

[2021-05-25 09:49] SamStudio8 commented on #78
@cs46 Time for a real meeting I suspect ;)

[2021-05-25 11:37] SamStudio8 commented on #11
Feature announced to `#metadata`, thrilled to finally close this one. This has been a huge amount of work covering teams at CLIMB, WSI, ENA and the INSDC. We've even produced a fancy pipeline (https://github.com/SamStudio8/elan-ena-nextflow) for others to use as a result :tada:

[2021-05-25 11:37] #11 closed, assigned to SamStudio8

[2021-05-25 15:32] SamStudio8 commented on #78
https://github.com/SamStudio8/majora/commit/373aed958e32416cd23195e22b657978eee0ce99 adds `sender_sample_id` as an optional key in the `addempty` API endpoint (as previously described). Ocarina 0.40.0 adds `--sender-sample-id` as an option to `empty biosample` https://github.com/SamStudio8/ocarina/commit/ffe4b9b024ae7b4d1639cca0a2c6d41b11c3b8d5.

This has been deployed and is working in Majora Mag

[2021-05-25 21:06] SamStudio8 commented on #78
https://github.com/SamStudio8/majora/commit/feef645648aebfdbc624867b127e856a0e7efb38 (and others) add a significant test suite to cover new functionality in the hope that we won't blow it up like last time. Ocarina has been modified further (https://github.com/SamStudio8/ocarina/commit/ff03bbf3615c37ef393ff7ea72acecfb23b2c868) and 0.40.2 meets the implemented spec in Majora. The updates are live i

[2021-05-25 23:43] SamStudio8 commented on #78
After spending more time than I care to admit hacking the Majora Dataviews to support fetching samples with their `adm1` set to `None` (* https://github.com/SamStudio8/majora/commit/0546145d265448896a5ee857ab9aeb64e5ccabda), I realised that the existing dataviews will not work for blank samples, as the filter definitions also require the uploading user to have signed off on sharing the `sender_sam

[2021-05-27 13:36] SamStudio8 commented on #78
Tested this with @cs46 on Magenta :+1: CS to make a new script to handle collection_pillar and other gubbins for English samples.

[2021-05-27 17:08] SamStudio8 commented on #53
1515 new accessions synchronised to Majora as of 2021-05-27. There are a few accessions left to untangle but I don't think these should block the more important task of getting the automated submissions turned on. I'll do a dry-run for GISAID and see which duplicates Majora tries to submit.

[2021-05-27 20:01] SamStudio8 commented on #53
A dry run shows there are approximately 16,000* PHEC genomes to be added to GISAID. I was a little surprised by this number, but after doing some double checking this does seem to be right. I've run the IDs for the samples to be uploaded against my list of GISAID accessions and there are no overlaps (although this is only partly convincing).

It is likely we'll inadvertently add a few duplicates b

[2021-05-27 20:01] #53 closed, assigned to SamStudio8

[2021-05-27 21:48] SamStudio8 opened #79 "Support updating of samples that are over a year old"
Samples that were uploaded over a year ago can no longer be updated as the API refuses to handle samples with dates over a year old. If the sample exists in Majora, I suggest that we quietly disable the checks and allow the update to proceed without validating the collection or received dates again.

[2021-05-27 21:53] SamStudio8 commented on #79
https://github.com/SamStudio8/majora/commit/ae6412b0de3fc2c2ad015919cf689f150d52d44e implements the suggestion. Samples that *already exist* will now skip checking whether `collection_date` or `received_date` are too far in the past. Dates from the future will still be rejected. Note this does not fix the outstanding problem of not being able to create samples that are over a year old, but nobody

[2021-05-28 09:03] SamStudio8 commented on #37
Moving this to backlog #62 as the change process on the other side is moving so slow

[2021-06-01 15:04] SamStudio8 commented on #78
* [x] Chase approval
* [x] Notify DIPI (https://github.com/COG-UK/dipi-group/commit/df30a648d9f9573a52f2b3a45d5eb5f35a1cce1c)
* [x] Majora database migration
* [x] Update Ocarina if needed (https://github.com/SamStudio8/ocarina/commit/ffe4b9b024ae7b4d1639cca0a2c6d41b11c3b8d5)
* [x] API docs (https://github.com/SamStudio8/majora-docs/commit/eea83df90a18c9904a511597efbd0ef5dea964c3)
* [x] Push to Ma

[2021-06-01 15:05] SamStudio8 commented on #79
Changed pulled after merge of #78, this should be live now

[2021-06-01 15:05] #79 closed, assigned to SamStudio8

[2021-06-02 07:14] SamStudio8 opened #82 "[manualpipe] Elan 20210602"
**Brief description**

`samtools quickcheck` failed to identify a malformed BAM, causing a later BAM step to fail

[code]

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] Disable NXF cache destruction (if applicable)
* [x] Reconcile output
* [x] Send mqtt message (if applicable)
* [x] Re-enable cache dest

[2021-06-02 07:25] SamStudio8 commented on #82
`quickcheck` spots the most common stuff but this particular BAM must have some other weirdness going on. I know `quickcheck` doesn't cover corruption in the middle so I guess we'll need to work some other check into Elan.

[2021-06-02 07:27] SamStudio8 commented on #82
Not convinced this is supposed to be there twice but will need to ask someone who knows more about BAMs than me...
[code]

[2021-06-02 07:33] SamStudio8 commented on #82
Adding a hacky view into null to catch this for now. We'll need to start the pipeline over as this is the only way to ensure we catch any other instances.

[code]

[2021-06-02 07:35] SamStudio8 commented on #82
`nf.elan.20210602.log` removed to force full restart. Elan restarted.

[2021-06-02 07:35] SamStudio8 commented on #82
Why does Elan only break on Wednesdays

[2021-06-02 07:59] SamStudio8 commented on #82
Manually checked that user's entire run and only the one BAM is affected so it's likely corruption on upload rather than an issue at source.

[2021-06-02 10:05] SamStudio8 commented on #82
`resolve_uploads` step a little slow this morning but Elan main flying along now

[2021-06-02 13:22] SamStudio8 commented on #82
Finished OK at 1243, returned to automated control

[2021-06-02 13:22] #82 closed, assigned to SamStudio8

[2021-06-02 13:58] cs46 commented on #78
@SamStudio8 @tomrconnor today i have managed to write the script that will allow the sender_sample_id to be updated with the lab bar code.   There are 2 situations that need to be handled:

1. the sample does not have a biosample record (validity end point - exists = False)
2. the sample already has a blank biosample record (validity enpoint - exists = True, has_metadata = False, sender_sample_id

[2021-06-02 15:17] SamStudio8 commented on #82
BAM was generated on a machine that had run out of tmp space and finished without error. My guess is one of the temporary BAM blocks during a samtools merge op was truncated, leaving the BAM out of alignment when merged. This is one of the few cases not covered by `quickcheck` (as per the name, the check is designed to be quick). Given the rarity of the edge case, we should check what impact the n

[2021-06-03 10:32] SamStudio8 commented on #37
Discussed this with CG and have agreed to compress the variant table starting with tomorrow's run (20210604). I will add the `gzip` step to the Asklepian `go.sh` after today's (20210603) run has completed and notify CG. CG will update the ingest pipeline on their end to expect a gzipped input (like the genome table) after the 20210603 ingest completes later today. We will monitor the pipeline clos

[2021-06-03 10:39] SamStudio8 commented on #26
Discussed with CG today. CG will open a parallel processing pipeline to begin experimenting with provision of deltas. @SamStudio8 to explore what needs to be done CLIMB side to calculate deltas for the more straightforward genome table. CG to speak to people to work out the logistics for handling deletes from the variant table.

[2021-06-03 11:09] SamStudio8 commented on #78
You're saying in the second case you also know the adm1 and have a
collection_date (or a received_date, I guess)? I think we did previously
discuss lifting the requirement that is_surveillance is provided and I
don't see a good reason to keep enforcing it. I'd certainly prefer it to be
NULL rather than a guess.

I was wondering why there are so many of the (2) cases, but after
discussing this with

[2021-06-03 11:33] SamStudio8 commented on #78
I have set up a `DA1` dataview on Majora actual with the configuration:

[code]

This view will return the `central_sample_id` - `sender_sample_id` linkage (as well as any available dates) for samples where the adm1 is null (ie. blank samples). The DA1 view has been tested by PHW and is working as expected. The linkage that @cs46 pushed as a production test is visible to the DA :tada:

[2021-06-03 11:37] SamStudio8 commented on #78
This is obviously still work in progress as @cs46 and WSI need to work out how the biosample pushing process is going to work internally going forward (and we'll try and help with this where practical), but DAs can and should now get in touch to register access to the DA1 dataview to start rescuing orphan samples. The only work remaining will only add more linkage rather than more functionality.

[2021-06-03 12:32] SamStudio8 commented on #78
Granted force_add to MB to test the reciprocal linkage pushing from PHW to DA1. Will grant access to FS to read DA1 also. Having spoken to @cs46 there are two outstanding issues here:

1) WSI are routinely force pushing all biosamples when sending library metadata, this is legacy behaviour from when the delay between biosample metadata and sequencing at WSI was problematic. Nowadays WSI have their

[2021-06-03 13:06] SamStudio8 commented on #37
Change implemented by https://github.com/SamStudio8/asklepian/commit/064817ed695237ae3dc63c026f345f535ba96038. Output filename will now be suffixed with `.gz`: `variant_table_$DATESTAMP.csv.gz`. CG notified and acknowledged.

[2021-06-03 13:27] cs46 commented on #78
@SamStudio8 thanks for the write up.

Point 1 is the biggest hurdle for DA samples which i will need to talk with David Jackson about as he initiates the sequence upload. This is potentially a non-insignificant change and logistically could be problematic to put something in place quickly.  I was unaware that when a blank biosample is created by the api.artifact.library.add API call it would preve

[2021-06-03 16:48] SamStudio8 commented on #37
CG confirms partner change has been performed on their side. Green light for tomorrow :rocket:

[2021-06-03 21:39] SamStudio8 commented on #22
Read up briefly on how this would work. mqtt brokers on different networks can be joined with bridges that just broadcast and subscribe all topics to the other side. I additionally tried to Apache Kafka and kafka-python which is like mqtt on steroids. I think Kafka is overkill for the current phase but looks cool for some stuff I have in mind later.

[2021-06-04 11:08] cs46 commented on #78
Changes made to the Sanger metadata upload process to also populate sender_sample_id if biosample is blank and we have data for the english sample.

David has confirmed that his process has not changed recently.

[2021-06-04 11:23] SamStudio8 commented on #37
Compressed variant table written and sent. Variant table step was around 15 minutes faster compared to yesterday, and the compression ratio in the new CSV is around 7x.

[2021-06-04 11:25] SamStudio8 commented on #37
Reinflated CSV is where it is supposed to be on CLIMB-COVID, downstream `asklepian-db` step has run successfully. Spoken to CG on the other end and the gzipped variant table is processing on the other side! :fire: :rocket:

[2021-06-04 14:45] SamStudio8 commented on #37
So apparently gzip files and Apache Spark are not friends (http://mail-archives.apache.org/mod_mbox/spark-user/201310.mbox/%3CCANDWdjY2hN-=jXTSNZ8JHZ=G-S+ZKLNze=RGkJacJAW3tTOQQA@mail.gmail.com%3E) and this change has caused performance trouble on the other side, as Spark is not able to split up the input for efficiency. That link mentions Snappy compressed files are splittable so we can try that.

[2021-06-04 14:56] SamStudio8 commented on #37
We're rolling this change back for the weekend and will experiment with Snappy compression (or alternatives) next week.

[2021-06-04 14:59] cs46 commented on #78
I have deployed my code to run every time we attempt to upload metadata.  This will not capture all samples due to the above mentioned problems but it will capture some so i thought it best to turn it on anyway.  We will need to discuss next steps to ensure this is working for all samples.

[2021-06-04 15:00] SamStudio8 commented on #37
Reverted our side by https://github.com/SamStudio8/asklepian/commit/e4511de3267c337b3840e1f88b6f95ed59b0d3a9

[2021-06-04 15:02] SamStudio8 commented on #37
Reverted by CG on the other side

[2021-06-04 15:15] SamStudio8 commented on #37
Installed `python-snappy` as it has a module that binds the snappy library to use easily from the CLI because obviously snappy is so hipster they can't possibly just distribute a binary. Sent over `test_variant_table_20210604.csv.snappy` just to try out.

[2021-06-04 15:21] SamStudio8 commented on #37
As a quick sanity check the `cat unsnappy | python -m snappy -c > snappy` to `python -m snappy -d snappy > unsnappy` round trip does give us the same file back.

[2021-06-04 17:26] SamStudio8 commented on #37
Naturally that file did not work because of course there are different poorly documented codecs for snappy. Sent a replacement generated with `-t hadoop_snappy` which is more likely to work according to some stranger on stackoverflow.

[2021-06-05 08:28] SamStudio8 commented on #37
CG reports the `hadoop_snappy` file was not splittable either. This SO article (https://stackoverflow.com/questions/32382352/is-snappy-splittable-or-not-splittable) conflicts yesterday's reading and says that whole files compressed with Snappy won't be splittable after all. Given this was supposed to be a sticky plaster before we could get to implement the incremental tables I don't want to spend

[2021-06-08 10:55] SamStudio8 commented on #37
CG confirms bzip2 is splittable :tada: Problematically it also seems to be the slowest compression option we've tried. SN will do a couple of naive `time` tests to see what the impact of swapping to `bzip2` would be. It may be that a small compression time penalty on the CLIMB side to speed up the PHA Spark side will be the best compromise.

[2021-06-08 12:51] SamStudio8 commented on #78
CS reports via Operational Health Informatics that it will be too difficult to ensure the ordering of force pushes at WSI, so we'll proceed with looking at making the blank endpoint stomp over the `sender_sample_id` (rather than refusing to update it if the sample already exists). We briefly discussed this off-thread and it's a reasonable compromise. WSI should revisit whether they need to force p

[2021-06-08 12:56] SamStudio8 commented on #37
The genome table example for `bzip2` has been running for significantly longer than `gzip` now. From the `bzip2` manual (below) it would seem that the genomic strings are quite likely the worst case input for compression.

My suggestion is we will continue to `gzip` the genomic table for transfer to PHE. Even though the PHE ingest will be unsplit, it remains reasonably fast and stable (the table g

[2021-06-08 12:57] cs46 commented on #78
@SamStudio8 the biggest hurdle is that David's team does not have view of the LHL barcode and COPG-UK ID link and to get around this it would require significant re-engineering work out end.  The gold standard would be that the library add/upd is handled by my team and this wouldnt be an issue.  But this would be a few weeks work and then it would be competing with other scheduled work making the

[2021-06-08 13:01] SamStudio8 commented on #78
@cs46 Understood! I was more pushing for David's team to not force push biosamples at all (ie. the biosamples [with whatever metadata you want to provide] should already exist from your pipeline *before* the libraries get uploaded downstream). I was hoping it might just turn out that David could have turned this legacy behaviour off - you never know... As it happens what we have settled on was wha

[2021-06-08 13:48] SamStudio8 commented on #37
Genome table takes 22m to process and `gzip`, 112m to process and `bgzip2`. Will try variant table now.

[2021-06-08 15:15] SamStudio8 commented on #78
https://github.com/SamStudio8/majora/commit/e07201fe63d860bb971c0dda617d06ef22d9a41a allows the `sender_sample_id` to be updated by the `addempty` endpoint for the following cases:

* A completely new blank biosample
* A previously added blank biosample that has not yet had metadata uploaded to it through the full `add` endpoint
* A previously added blank biosample with sender_sample_id set by `ad

[2021-06-08 18:22] SamStudio8 commented on #37
79m to process and `gzip` the variant table, 88m to process and `bzip2`. The 10m delay on this side is certainly worth the penalty given there is an order of magnitude (or so) difference in processing the variant table on the other side as a splittable format (or not). Will discuss with CG.

[2021-06-09 12:46] martinmchugh opened #84 "Allow uploading of samples >1 year old"
We are looking out for possible re-infections and may look to sequence old samples stored in the freezer that we didn't have capacity for at the time of collection. These could well be older than 1y but currently these cannot be uploaded to Majora.

Can this be revisited to remove the block, or an additional metadata flag added to indicate these are definately old samples and not a data entry erro

[2021-06-09 13:14] SamStudio8 commented on #84
Hi Martin! We did have a proposal to remove the date check entirely which
was rejected by the metadata working group, it's deemed too useful. I think
a flag would be the best way forward and I've previously discussed this
with Anthony too.

We're currently working on scaling solutions and will likely not be able to
do this particularly soon. A rather unpleasant hack to get these samples in
would b

[2021-06-09 13:19] rambaut commented on #84
Would it work to put an initial `received_date` in to create the entry and then add the `collection_date` and fix the `received_date`? Might make data integrity a little bit more robust.

[2021-06-09 13:23] SamStudio8 commented on #84
That's much nicer. I think that should work fine :)

On Wed, 9 Jun 2021, 14:20 Andrew Rambaut, ***@***.***> wrote:

[2021-06-09 13:36] SamStudio8 commented on #84
Just to be safe, I'd make sure the dates are correct before uploading any
sequences in case they are gobbled up by a pipeline before you get a chance
to fix them!

On Wed, 9 Jun 2021, 14:23 Sam Nicholls, ***@***.***> wrote:

[2021-06-09 20:38] martinmchugh commented on #84
That sounds good, I agree that losing the data check entirely would probably end up letting through many errors in response to reduced effort in a handful of genuine cases. Happy to do the workaround Andrew suggests.

[2021-06-10 12:03] SamStudio8 commented on #84
Moving this to our backlog (#62) as there is a viable workaround for the moment

[2021-06-10 12:03] #84 closed, assigned to nobody

[2021-06-10 13:25] SamStudio8 opened #85 "Migrate Asklepian service to Elan node"

[2021-06-11 09:12] fschwach opened #86 "provide a query for QC-failed sequences"
At PHE, there is an interest in sequences that have been uploaded but failed QC. At the moment, we can only query for COG IDs that have QC-passed sequence (and metadata) associated (using the metadata matched tsv file) but there is no way to query for COG IDs that have sequence uploaded which failed QC.

[2021-06-11 09:53] SamStudio8 opened #87 "[manualpipe] Asklepian 20210611"
**Brief description**

API request to gather best_refs failed causing Asklepian to exit `2`, will restart

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] ~Disable NXF cache destruction (if applicable)~
* [x] Reconcile output
* [x] Send mqtt message (if applicable)
* [x] ~Re-enable cache destruction (if d

[2021-06-11 13:38] cs46 commented on #78
Successfully tested in Magenta, @SamStudio8 then deployed to prod.  Tested with one sample and it worked as expected. Modified the query back to the beginning of the month and worked as expected.  Changed to the beginning of 2021 and has worked as expected.

Blank biosamples with the LHL barcode in the sender_sample_id field will now be created if biosample record does not exist but sequence data

[2021-06-11 14:38] SamStudio8 commented on #87
Complete, returned to automated control

[2021-06-11 14:38] #87 closed, assigned to SamStudio8

[2021-06-14 09:04] SamStudio8 opened #88 "[manualpipe] Elan 20210614"
**Brief description**

rehead_fasta process terminated causing Nextflow to full abort

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] ~Disable NXF cache destruction (if applicable)~
* [x] Reconcile output
* [x] Send mqtt message (if applicable)
* [x] ~Re-enable cache destruction (if disabled)~

***

* [x

[2021-06-14 09:14] SamStudio8 commented on #88
Ran the `.command.run` for the dead process manually and it worked fine. 143 exit status implies the process was killed by NF (not the kernel) for overstepping some resource limit. Can't find evidence of this, will re-raise and monitor.

[2021-06-14 10:09] SamStudio8 commented on #88
Looks fine. Ocarina step running now.

[2021-06-14 10:19] SamStudio8 opened #89 "Use Elan find+resolve step to send AM pipeline message"
To reduce some cephfs load in the pre-Elan phase, we'll drop the find+resolve that handles the morning message and use the data directly from Elan. It's also pointless to run this step twice in such quick succession given the AM message is now a courtesy rather than something a user can take action from.

[2021-06-14 11:24] SamStudio8 commented on #88
Returned to automated control without further issue

[2021-06-14 11:24] #88 closed, assigned to SamStudio8

[2021-06-14 12:02] SamStudio8 opened #90 "Proposal to move Elan to 3am"
We have proposed that the Elan start time be brought forward to 3am (from 6am) to allot extra processing time to the increasing number of sequences, and to allow Asklepian to finish earlier, giving more time for downstream PHA activities.

6am was initially selected (#31) to ensure engineers were on hand to fix issues during work hours. As Elan is sufficiently robust we suggest that for the majori

[2021-06-14 13:14] SamStudio8 commented on #90
TRC circulating to DAs today. WSI have acknowledged the notification and can change this when we do.

[2021-06-14 13:30] SamStudio8 commented on #89
https://github.com/SamStudio8/elan-nextflow/commit/098bb0aa1afadfa5718c5123fc138a8a3a080152 adds an `announce_uploads` process to handle the post-find AM message from inside Elan. This process has been tested successfully so has been pushed to Elan production to be run for the first time tomorrow. The independent AM message process has been removed from cron.

[2021-06-14 14:18] SamStudio8 commented on #89
I've just realised that Elan relies on the announce job having run initially to provide the manifest. I'll move the logic to generate the manifest (it's one line) to Elan. We also need to copy the `files.err` to the COG published Elan directory for users to be able to grep for bad files as soon as the manifest is cooked.

The reason we never designed it this way initially was to avoid re-doing the

[2021-06-14 14:20] SamStudio8 commented on #89
We restart the pipeline from scratch so rarely now that I think we'd be safe to proceed with folding this functionality back in. It's not a lot of work to roll it back out again if need be. Testing a candidate patch now.

[2021-06-14 15:53] SamStudio8 commented on #89
Elan now fetches its own manifest https://github.com/SamStudio8/elan-nextflow/commit/7a8062ac97d10ae976a01f770c63bb28a21ba71f. Tested and ready for tomorrow.

[2021-06-14 16:12] SamStudio8 commented on #89
Nudged Elan to start a little earlier to account for the fact it now generates its own manifest. Users will not notice the change.

[2021-06-14 16:39] SamStudio8 commented on #85
Should be as simple as moving the cron job. We'll need the `mqtt-client` to be able to phone non-localhost.

[2021-06-14 17:14] SamStudio8 commented on #85
https://github.com/SamStudio8/elan-nextflow/commit/ca0ca7343580c5fc613316afe23ffbb3b60d7940 adds `--host` option to our `mqtt-client` to match the `mqtt-message`.

[2021-06-14 17:18] SamStudio8 commented on #85
Moved Asklepian mqtt handler to Elan node. Will monitor tomorrow.

[2021-06-15 08:32] SamStudio8 commented on #89
Other than incident #91, this seemed to work without blowing up.

[2021-06-15 08:32] #89 closed, assigned to SamStudio8

[2021-06-15 09:09] SamStudio8 opened #91 "Elan 20210615 processed samples without minimal metadata"
* Datapipe failed at 09:03, emitting an announcement into #tael-stream
* RC notified SN at 09:13 today that datapipe had encountered an error due to a sample missing `adm1`.
* SN confirmed this is not intended behaviour at 09:19, RC began patching datapipe to silently ignore these cases for today
* RC raised patched datapipe at 09:30
* SN accessed Majora's shell at 09:38 and confirmed 78 PAGs had

[2021-06-15 09:12] SamStudio8 opened #92 "[manualpipe] Asklepian 20210615"
**Brief description**

SN preemptively killed Asklepian 20210615 to avoid processing data that would trigger a failure later. See incident #91.

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (on bare metal)

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] ~Disable NXF cache destruction (if applicable)~
* [x] Reconcile output
* [x] Send mqtt message (i

[2021-06-15 09:26] SamStudio8 commented on #91
10:23: SN unlinks 6 BAM/FASTA entries in the downstream artifact directories. RC confirmed at 09:27 there were 6 entries in the datapipe dataset with this condition.
10:25: SN confirms the other 72 records had failed basic QC and were not published

This unlinking process will cause these 6 sequences to drop out of the dataset tomorrow.

[2021-06-15 09:28] SamStudio8 commented on #91
[code]

Looks like we've caught these in Asklepian now, so things should run as normal (#92).

[2021-06-15 09:34] SamStudio8 commented on #85
Asklepian picked up messages and started fine. Was killed for unrelated reasons #92 and was able to receive control messages to re-raise, so at least something worked this morning...

[2021-06-15 09:34] #85 closed, assigned to SamStudio8

[2021-06-15 09:35] SamStudio8 commented on #91
The incident is over. This issue will remain open until tomorrow once we've confirmed the 6 sequences are removed from the downstream dataset tomorrow.

[2021-06-15 09:39] SamStudio8 commented on #91
Given this has happened twice it goes to show the filtering should probably be done server side :roll_eyes:

[2021-06-15 09:42] SamStudio8 commented on #91
Shout out to @rmcolq for detecting this so early, allowing us to recover much more efficiently than last time this happened.

[2021-06-15 10:51] SamStudio8 opened #93 "[manualpipe] ENA BAM 20210614"
**Brief description**

Ocarina stage failed with:
[code]
***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] Disable NXF cache destruction (if applicable)
* [x] Reconcile output
* [x] Send mqtt message (if applicable)
* [x] Re-enable cache destruction (if disabled)

***

* [x] Manual intervention complete
* "

[2021-06-15 10:54] SamStudio8 commented on #93
Related? https://github.com/conda/conda/issues/9858

[2021-06-15 10:56] SamStudio8 commented on #93
Cache destruction disabled while investigating

[2021-06-15 11:05] SamStudio8 commented on #93
`ocarina` command is not found when activating the `conda-cache/ocarina-8324381a94f2b5d92917d5a8f0a4bb8c` conda environment created today after bumping version due to #91.

[2021-06-15 11:14] SamStudio8 opened #94 "Sites uploading `MinIT` as their sequencer are failing ENA BAM validation"

[2021-06-15 11:15] SamStudio8 commented on #93
Removing the offending conda env to see if re-creating it will work.

[2021-06-15 11:16] SamStudio8 commented on #93
While investigating this issue, the log file is polluted with errors for ENA validation failures from a site uploading `MinIT` as their sequencing instrument (opened as #94)

[2021-06-15 11:27] SamStudio8 commented on #94
#metadata channel warned to use `MinION` rather than `MinIT` going forward. We'll work with the site in question to update these as appropriate (MinIT is not a sequencer, it is a companion processing instrument for the MinION platform). It's been a lot of effort to maintain the various validators (especially for such a small team) and we decided not to do one for sequencing_instrument, perhaps in

[2021-06-15 11:34] SamStudio8 commented on #93
Destroying and allowing Nextflow to re-create the conda environment has worked.

My working theory is the `SafetyError` above was encountered while trying to create a conda environment for Ocarina (after bumping the version due to #91). The `SafetyError` itself appears to be a red herring arising from a corrupted download or some such.

It would seem Nextflow did not invalidate the conda-cache whe

[2021-06-15 11:36] SamStudio8 commented on #86
Moved to backlog #62

[2021-06-15 11:36] #86 closed, assigned to nobody

[2021-06-15 11:39] SamStudio8 opened #95 "Proof to GB"
Need to update numbers and a few figures for our GB proof! :tada:

* [x] Update numbers
* [x] Check AQs
* [x] Fig 3 (majora) -- update
* [x] Fig 6 (flow) -- boost res
* [x] Fig 10 -- update
* [x] ~Fig 11 -- boost res~
* [x] Fig 12 -- update on 550k and fix arrows to points

[2021-06-15 12:12] SamStudio8 commented on #93
Returned to automated control

[2021-06-15 12:12] #93 closed, assigned to SamStudio8

[2021-06-15 13:10] SamStudio8 commented on #92
PHE are reporting today's variant table could not be processed but there is no concrete error to diagnose. Shortly after, Asklepian exited code 1, despite all steps appearing to complete successfully. Our copy of the variant table *appears* to be correct. I am resending it in an effort to re-trigged the PHE pipeline.

[2021-06-15 13:27] SamStudio8 commented on #92
While PHE try to diagnose, in the mean time I will run Asklepian from scratch.

[2021-06-15 13:38] SamStudio8 commented on #92
I've checked the genome table for the day and it appears truncated compared to yesterday. CG confirms the same their side. The newer copy of the variant table is processing but I suspect it is also truncated. Working theory is that the killed version of Asklepian managed to continue running, despite the error in #tael-stream confirming the pipeline was dead :ghost:

Smoking gun comes from checking

[2021-06-15 13:43] SamStudio8 commented on #92
I've instructed PHE to restore yesterday's tables while we run this from scratch and monitor for ghosts :ghost:

[2021-06-15 13:49] SamStudio8 commented on #92
Two lessons learned here:
* We should flock all our core piplines (like we do for Elan)
* Don't trust #tael-stream to report when a pipeline is dead

[2021-06-15 16:07] SamStudio8 commented on #92
Genome table uploaded. Processing variant table now. No sign of ghosts.

[2021-06-15 17:16] SamStudio8 commented on #92
Relieved to close this one. I need some rum. Will write this up later.
RETURNED TO AUTOMATED CONTROL :tada:

[2021-06-15 17:16] #92 closed, assigned to SamStudio8

[2021-06-15 17:25] SamStudio8 opened #96 "[manualpipe] status-generator 20210615"
**Brief description**

even the status generator is unhappy -- had a temp dir in the `$ASKLEPIAN_PUBDIR` causing a failed date parse

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] ~Disable NXF cache destruction (if applicable)~
* [x] Reconcile output
* [x] Send mqtt message (if applicable)
* [x] ~Re-ena

[2021-06-15 17:25] #96 closed, assigned to SamStudio8

[2021-06-15 17:27] SamStudio8 commented on #85
Worth noting we cut the run-time of Asklepian by about 30 minutes from moving it, as we get better cephfs I/O from the shinier Elan node.

[2021-06-17 09:43] SamStudio8 commented on #91
The n=6 bad eggs were pruned from yesterday's dataset. Closing.

[2021-06-17 09:43] #91 closed, assigned to SamStudio8

[2021-06-18 14:22] SamStudio8 commented on #95
Proof returned :tada:

[2021-06-18 14:22] #95 closed, assigned to SamStudio8

[2021-07-01 08:41] SamStudio8 opened #98 "[manualpipe] ENA BAM 20200628"
**Brief description**

Nextflow hang

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] Disable NXF cache destruction (if applicable)
* [x] Reconcile output
* [x] Send mqtt message (if applicable)
* [x] Re-enable cache destruction (if disabled)

***

* [x] Manual intervention complete
* "Normal" service dis

[2021-07-01 10:03] SamStudio8 opened #99 "Send Tael events to DHSC Splunk"
Share pipeline event streams with DHSC

[2021-07-01 10:03] SamStudio8 opened #100 "Add audit command for setting MDV expiry"

[2021-07-01 12:13] SamStudio8 commented on #99
Beacon events have been successfully forwarded for most of today. A real `asklepian-phe` message was just forwarded to the test instance. Bouncing back to engineers.

[2021-07-01 12:48] SamStudio8 commented on #100
https://github.com/SamStudio8/majora/commit/57c059ede9eed94e04b8acf5be87d7dd3f670dd3

[2021-07-01 12:48] #100 closed, assigned to SamStudio8

[2021-07-01 15:52] #98 closed, assigned to SamStudio8

[2021-07-02 10:36] SamStudio8 commented on #99
MVP confirmed working

[2021-07-02 10:36] #99 closed, assigned to SamStudio8

[2021-07-02 10:38] SamStudio8 commented on #78
I think this is running smoothly now. @cs46 Any updates from your end? @tomrconnor This should probably be pushed to the 4 nations WG to organise access.

[2021-07-02 10:39] SamStudio8 commented on #50
@tomrconnor Any update from HI?

[2021-07-02 10:54] SamStudio8 commented on #90
Bumping to backlog #62 as we're trapped in some approval process

[2021-07-02 10:54] #90 closed, assigned to SamStudio8

[2021-07-02 10:55] SamStudio8 commented on #40
Bumping to backlog #62

[2021-07-02 10:55] #40 closed, assigned to SamStudio8

[2021-07-02 10:55] SamStudio8 commented on #37
Closing due to lack of interest

[2021-07-02 10:55] #37 closed, assigned to SamStudio8

[2021-07-02 10:57] SamStudio8 commented on #34
Bumping to backlog #62 as nothing seems to have exploded yet

[2021-07-02 10:57] #34 closed, assigned to SamStudio8

[2021-07-05 07:49] cs46 commented on #78
@SamStudio8 my code has been in place for several weeks now. We should be uploading the sender sample ID for all Sanger samples published to Majora. That being said, no one has formally signed it off as working but I haven’t had any complaints either. We really need to have a 3rd party check against the csv lists that there is parity.

[2021-07-05 10:51] SamStudio8 commented on #78
I think I'll close this as I'm satisfied our end of this work is done. We can re-open if something crops up.

[2021-07-05 10:51] #78 closed, assigned to SamStudio8

[2021-07-05 11:41] SamStudio8 commented on #94
Reached out to site to see whether this can be corrected at source.

[2021-07-05 12:43] SamStudio8 commented on #94
Data corrected

[2021-07-05 12:43] #94 closed, assigned to SamStudio8

[2021-07-05 16:56] SamStudio8 opened #101 "Space audit"
* [x] Nuke upload backup
* [x] Automation for pruning upload backup
* [x] k2o reports
* [x] Update elan-nextflow for automated compression of k2o reports - https://github.com/SamStudio8/elan-nextflow/commit/1b66dfd5af6457af3665c1db54430323b64a1ad5
* [x] Asklepian naive_msa.fasta archives
* [x] Asklepian naive_msa.fasta future - https://github.com/SamStudio8/asklepian/commit/f6e7c6907362b5bc1da0445

[2021-07-08 10:11] BioWilko opened #102 "[manualpipe] Asklepian 20210708"
**Brief description**

[Asklepian exit 2 (OAuth race condition)]

***
**Executed by:** @BioWilko [BIRM]

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] ~Disable NXF cache destruction (if applicable)~
* [x] Reconcile output
* [x] Send mqtt message (if applicable)
* [x] ~Re-enable cache destruction (if disabled)~

***

* [x] Manual interve

[2021-07-08 10:25] BioWilko commented on #102
Raised :D

[2021-07-08 15:41] #102 closed, assigned to BioWilko

[2021-07-08 15:44] SamStudio8 commented on #102
Nailed your first issue @BioWilko :clap:

[2021-07-12 11:15] SamStudio8 opened #103 "[manualpipe] ENA BAM 20210712"
**Brief description**

Interrupted by reboot

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] Disable NXF cache destruction (if applicable)
* [x] Reconcile output
* [x] Send mqtt message (if applicable)
* [x] Re-enable cache destruction (if disabled)

***

* [x] Manual intervention complete
* "Normal" ser

[2021-07-13 10:20] SamStudio8 commented on #101
I have just finished culling BAMs from the backup uploads dir that are older than 30 days, shrinking from >60TB to 10T

[2021-07-13 11:44] SamStudio8 commented on #101
Identified potential to save around 90% of 17T, by compressing the `k2o` read-level reports from `kraken`

[2021-07-13 13:58] SamStudio8 opened #104 "[maintenance] 2021-07-28 Wed 11am"
* [x] Warn DIPI - `2021-07-13`
* [x] Warn users 2021-07-26
* [x] Prevent Elan MQTT fire for 2021-07-28

[2021-07-14 10:33] SamStudio8 opened #105 "[manualpipe] Elan 20210714"
**Brief description**

Interrupted by machine reboot after loss of cephfs

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [-] Disable NXF cache destruction (if applicable)
* [-] Reconcile output
* [x] Send or check mqtt message (if applicable)
* [-] Re-enable cache destruction (if disabled)

***

* [x] Manua

[2021-07-14 11:04] SamStudio8 commented on #105
Returned to automated control

[2021-07-14 11:04] #105 closed, assigned to SamStudio8

[2021-07-14 12:04] SamStudio8 commented on #50
Bumping to backlog #62

[2021-07-14 12:04] #50 closed, assigned to SamStudio8

[2021-07-15 13:25] SamStudio8 commented on #103
NF stalled at 100% again, bumping

[2021-07-15 19:09] SamStudio8 commented on #103
Finally finished. Cache destruction re-enabled.

[2021-07-15 19:09] #103 closed, assigned to SamStudio8

[2021-07-17 17:39] SamStudio8 commented on #84
Majora has been updated to prevent adding or updating any sample from before 2020, https://github.com/SamStudio8/majora/commit/360b0111f9fd71e516f9275a6dfd0c31c3aacd84

[2021-07-17 17:49] SamStudio8 opened #107 "[bad-data] 64 samples from 1899"
Elan 20210717 processed 64 samples with a collection date from the year 1899. One of these sequences caused a downstream analysis pipeline (`Datapipe`) to terminate unexpectedly. The metadata was accidentally uploaded by a user yesterday, and was not caught by `Majora` because in response to #79, validation of collection and received dates was disabled for samples in the case that they already exi

[2021-07-18 09:50] SamStudio8 commented on #107
The 64 PAGs have been unpublished in 2021-07-18.

[2021-07-18 09:50] #107 closed, assigned to SamStudio8

[2021-07-18 14:12] SamStudio8 opened #108 "[manualpipe] Asklepian 20210718"
**Brief description**

Asklepian failed to launch correctly this morning for a reason unknown. The exception was not caught due a lack of logging. This was discovered after I checked on Asklepian manually as I was wondering why it hadn't finished yet. 

Asklepian has been manually started and in future MQTT messages will be emitted for a "false start" like the one we experienced today.

***
**Exec

[2021-07-18 14:33] SamStudio8 commented on #108
False start went unnoticed due to lack of logging. This will be caught in future with a change to the `mqtt-client`. https://github.com/SamStudio8/elan-nextflow/commit/7ee8c35e3058fff52c1996cecb27982bb11e3485

[2021-07-18 19:23] SamStudio8 commented on #108
Returned to automated control

[2021-07-18 19:23] #108 closed, assigned to SamStudio8

[2021-07-19 10:17] SamStudio8 commented on #101
Annoyingly the k2o process was interrupted over the weekend.

[2021-07-19 10:28] SamStudio8 commented on #101
Updated dehuman process to compress k2o going forward https://github.com/SamStudio8/elan-nextflow/commit/1b66dfd5af6457af3665c1db54430323b64a1ad5

[2021-07-19 11:22] SamStudio8 commented on #101
@BioWilko Has identified the Asklepian publish dir has been keeping the `naive_msa` knocking around, Asklepian should clean these up

[2021-07-19 11:36] SamStudio8 commented on #101
Destroyed most of the old Asklepian MSAs and CSVs (approx 4T)

[2021-07-19 14:09] SamStudio8 commented on #101
Destroying uncompressed k2o (approx 10T)

Update: 14.5T recovered from compressing existing k2o

[2021-07-20 18:24] SamStudio8 commented on #101
Old Asklepian artifacts are now automatically pruned https://github.com/SamStudio8/asklepian/commit/f6e7c6907362b5bc1da0445da0639900c1f269d3

[2021-07-22 20:28] AngieHinrichs opened #109 "large set of mutations to A or T (or ambiguous) in some recent sequences - systematic error??"
Not sure if this is the right place to report odd mutations that might be due to systematic error, but even if it's not I hope you'll know the right folks to talk to.  I noticed (thanks to Theo Sanderson's https://cov2tree.org) this very long branch within B.1.617.2 (Delta) in UCSC's tree, leading to 254 sequences from England & Scotland with collection dates 2021-06-26 - 2021-07-01:

![image](htt

[2021-07-22 20:31] rambaut commented on #109
I will look into this. Thanks

[2021-07-22 20:52] rambaut commented on #109
The internal branches of the cluster seems to contain many of the same mutations occurring as if homoplasy

[2021-07-22 20:54] rambaut commented on #109
But I think they are then flipping back at the tips. Could this be something to do with Augur's ancestral reconstruction?

[2021-07-22 20:55] rambaut commented on #109
Have they changed how Augur deals with ambiguities or anything recently?

[2021-07-22 21:08] AngieHinrichs commented on #109
That's a Nextstrain view of the UCSC tree constructed by usher, not Augur.  (The JSON that nextstrain is displaying is the output of the usher web interface, https://genome.ucsc.edu/cgi-bin/hgPhyloPlace, after increasing the tree size to 1000 and pasting in the ID of the first sequence in that cluster, England/ALDP-182C6B6/2021.)

[2021-07-22 21:21] rambaut commented on #109
OK - is it an issue with usher's reconstuction then? Is it putting a bunch of spurious mutations on and then having to undo them in the stem branch?

[2021-07-22 21:23] rambaut commented on #109
Easy thing to try - make an ML tree of the set of genomes in the tree above.

[2021-07-22 21:44] AngieHinrichs commented on #109
I will take a closer look at the sequences to see whether they all have those 21 odd mutations (or at least most of them).  I expect that having such a long branch would prevent that from being a parsimonious placement for most sequences, but I guess something could be going wrong in there and causing back-mutations to accumulate.  I'll take a closer look at the mutations in that branch too.

[2021-07-22 21:45] AngieHinrichs commented on #109
It's definitely the first time I've come across anything like that in the tree.

[2021-07-22 21:50] rambaut commented on #109
My guess is they each just have a few of the mutations in common (or ambiguities - i.e. R, Y W?). There is way too much diversity in that cluster for it to be real.

[2021-07-22 22:03] rambaut commented on #109
An ML tree of the above genomes doesn't have the long branch in it... (data not shown)

[2021-07-22 22:15] AngieHinrichs commented on #109
Is it ignoring ambiguous bases?  Still looking into how many calls are real vs. ambiguous, but of the 21 mutations on our long branch, at least 5 are unambiguous in most of the sequences.  VCF format (AC= number with alternate allele, AN= number with non-N base call):
[code]

[2021-07-22 22:18] rambaut commented on #109
How does usher deal with ambigous bases?

[2021-07-22 22:23] AngieHinrichs commented on #109
It doesn't penalize a mismatch between a real base and a compatible ambiguous base, it treats them as a match.  So a few sequences with real base call differences can attract a lot of sequences with ambiguous base calls at those positions.

An additional 7 of the 21 are ambiguous in >200 of the 254:
[code]

Here's the unfiltered VCF for the 21:
[code]

[2021-07-22 22:40] AngieHinrichs commented on #109
At the 21 positions on that long branch, of the 254 sequences, only 16 have any unambiguous reference alleles, and none of them have more than one unambiguous reference allele.  So those 254 sequences are at least very consistent about having either an alternate A or T or compatible ambiguous base call at those 21 positions.

[2021-07-22 23:11] AngieHinrichs commented on #109
Some more positions that have mostly ambiguous or alt T bases:
[code]

It's debatable whether usher should accept ambiguous base calls as truly compatible with real base calls, but again, despite having seen a lot of odd little branches in our tree, this is the first time I have seen a very long branch with a large cluster of sequences at the end.  And as Russ pointed out, they're all from a small

[2021-07-23 01:00] AngieHinrichs commented on #109
cov2tree.org turned up a smaller branch with 7 more sequences from England, collected 25-30 June, with A, T or ambiguous at the same 21 positions as the first branch:
https://nextstrain.org/fetch/hgwdev.gi.ucsc.edu/~angie/anotherLongBranchInDelta.json?label=nuc%20mutations:C19983T
[code]
[code]
And one last little branch with 4 more samples:
https://nextstrain.org/fetch/hgwdev.gi.ucsc.edu/~angie/o

[2021-07-23 03:57] AngieHinrichs commented on #109
I noticed that the sequence IDs were all in the range 182AD1D - 182D600, so I looked for other sequences in that range and found a few more that didn't end up in clusters, but just as lone sequences with a lot of extra mutations.

In B.1.1.7:
[code]
In B.1.617.2:
[code]
There were also 35 sequences with IDs in the range that are also in GenBank.  Spot-checking, these sequences seem to *not* suffer

[2021-07-23 07:25] rambaut commented on #109
OK - yes, there is something very wrong with these sequences... In this image, most of the black tick marks are IPAC ambiguity codes (mostly `K` or `W`).
<img width="844" alt="image" src="https://user-images.githubusercontent.com/686405/126749568-545519fe-f416-4efa-9e49-45b62529da9d.png">

A close up example:
<img width="836" alt="image" src="https://user-images.githubusercontent.com/686405/126749

[2021-07-23 08:28] rambaut commented on #109
OK. Looks like a bad sequencing run according to @nickloman and Jeff Barrett - they mumbled something about dodgy reagents. These genomes will be removed. Thanks for picking this up and noticing the unusual patterns. I don't think this is something we can expect `usher` or other tree building software to deal with and in future it will be flagged earlier in QC.

Closing the issue.

[2021-07-23 08:57] rambaut commented on #109
Unclosed the issue until it is finally resolved.

[2021-07-23 15:47] AngieHinrichs commented on #109
OK, makes sense to remove the sequences, thanks!

[2021-07-23 16:02] nickloman commented on #109
We've tracked this issue down to sequencing error at one of the sequencing sites and we will advise that these sequences should be suppressed from the COG dataset. I've asked a representative at the sequencing site to provide further information on this ticket in case useful for others in the future. We will also be looking at putting in a new filter for sequences with a certain % of mixed bases t

[2021-07-24 14:33] SamStudio8 opened #110 "Status page rendering fails"
CLIMB-COVID status page (https://status.covid19.climb.ac.uk/) has failed to build on github-pages for a second consecutive day. Appears to be related to https://github.com/pages-themes/minimal/issues/115. Users should be assured this does not affect any CLIMB-COVID processes.

[2021-07-26 09:50] SamStudio8 commented on #104
Notifications sent:

[2021-07-26 11:33] SamStudio8 opened #111 "[manualpipe] Asklepian 20210726"
**Brief description**

Code 2: OAuth Race condition

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [-] Disable NXF cache destruction (if applicable)
* [x] Reconcile output
* [x] Check (or send) mqtt message (if applicable)
* [-] Re-enable cache destruction (if disabled)

***

* [x] Manual intervention compl

[2021-07-26 11:41] SamStudio8 commented on #110
Deployed the fix suggested here https://github.com/pages-themes/cayman/issues/130#issuecomment-886056882 and the page builds again. A comment suggests the root issue was a recent change to github-pages (https://github.com/github/pages-gem/pull/772/).

[2021-07-26 11:41] #110 closed, assigned to SamStudio8

[2021-07-26 15:16] #111 closed, assigned to SamStudio8

[2021-07-26 17:00] SamStudio8 opened #112 "Backup variant sq3 process does not retry gracefully"
Restarting `asklepian-db` should purge the existing database and start from scratch as the process does not handle resuming appropriately.

[2021-07-27 16:38] SamStudio8 commented on #104
Updated `go-full-elan` to suppress the post-Elan `status` message tomorrow. Instead an information notice will be emitted to explain the reason for pipeline halt and that service will resume after the firewall swap.

[2021-07-29 09:38] #104 closed, assigned to SamStudio8

[2021-07-29 14:33] SamStudio8 opened #113 "[manualpipe] ENA BAM 20210726"
**Brief description**

Stalled

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] Disable NXF cache destruction (if applicable)
* [-] Reconcile output
* [-] Check (or send) mqtt message (if applicable)
* [x] Re-enable cache destruction (if disabled)

***

* [x] Manual intervention complete
* "Normal" servic

[2021-07-30 09:59] SamStudio8 commented on #113
Insufficient progress has been made and the queue is running a little slow today. I'm not going to shepherd this through the weekend so it will be terminated.

[2021-07-30 09:59] #113 closed, assigned to SamStudio8

[2021-07-30 10:01] SamStudio8 opened #114 "Fix Ocarina OAuth2 token update race condition"

[2021-07-30 12:45] SamStudio8 commented on #114
I believe this is fixed by https://github.com/SamStudio8/ocarina/commit/13f35d81f0f422f5b90ef3d35561c5918157b9cd#diff-32a6c866b8261c05a2e747287c275529fb77168a202d077e53a665efb86f35be, the `oauth_session` on the `Ocarina` object is effectively ignored by default, meaning the token is checked before any request (rather than just the first). I've deployed this update to the `dipi44` pipeline today an

[2021-08-02 08:20] SamStudio8 opened #115 "[manualpipe] Elan 20210802"
**Brief description**

S3 backend failed to provide storage for Majora celery tasks.
Tested and deployed patch to swap the Celery backend from `s3` to `filesystem`. Elan back up and running as of 08:30.

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [-] Disable NXF cache destruction (if applicable)
* [x] Re

[2021-08-02 13:06] SamStudio8 opened #116 "[manualpipe] ENA BAM 20210802"
**Brief description**

Relaunching after S3 blip this morning

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline
* [x] Disable NXF cache destruction (if applicable)
* [x] Reconcile output
* [x] Check (or send) mqtt message (if applicable)
* [x] Re-enable cache destruction (if disabled)

***

* [x] Manual interven

[2021-08-02 14:40] #115 closed, assigned to SamStudio8

[2021-08-03 09:55] SamStudio8 opened #117 "Switch Asklepian datafunk to gofasta for great gains"
* Swapping datafunk to gofasta reduces MSA generation from 3 hours to about 6 minutes (woah!)
* MSA sequences are the same size and sequences even appear in the same order, but 14 discrepancies between the datafunk MSA and gofasta MSA were detected
* After investigation the 14 sequences related to an edge case in datafunk where unambiguous alignments were handled, this appears to have been address

[2021-08-03 09:57] SamStudio8 opened #118 "Update Splunk endpoint"
...because somebody changed it

[2021-08-03 10:02] SamStudio8 commented on #118
Additionally improved logging for the Splunk exfil process so we can better describe how the endpoint is broken in future https://github.com/SamStudio8/elan-nextflow/commit/42d261b7595e18f096de9912bc0f50925e0c0952

[2021-08-03 12:35] SamStudio8 commented on #117
User advisory notice: https://github.com/COG-UK/dipi-group/blob/official/notices/20210803_asklepian.md

[2021-08-04 14:26] SamStudio8 commented on #116
Disabled cache destruction

[2021-08-04 15:27] SamStudio8 commented on #117
Change approved -- scheduled for tomorrow.

[2021-08-04 15:31] SamStudio8 commented on #117
Changelog updated https://github.com/CLIMB-COVID/data/commit/f872d0b613ee2a6a8daea6a50aa80e21d04be03d

[2021-08-04 17:38] SamStudio8 commented on #117
Changes committed as https://github.com/SamStudio8/asklepian/commit/e851f372050705f0e175fae9e1bf054e4c9f84b0 and deployed to production ready for tomorrow

[2021-08-05 11:48] #118 closed, assigned to SamStudio8

[2021-08-05 11:49] SamStudio8 commented on #116
Resuming

[2021-08-05 14:40] SamStudio8 commented on #114
Integrated in new `asklepian` env, this should be fixed

[2021-08-05 14:40] #114 closed, assigned to SamStudio8

[2021-08-05 16:11] SamStudio8 commented on #117
![Screenshot from 2021-08-05 17-11-15](https://user-images.githubusercontent.com/1105722/128384065-62fd7c63-d50c-4c50-9b84-d4a9f306d0df.png)
Compliments to the chefs https://github.com/cov-ert/gofasta/

[2021-08-05 16:11] #117 closed, assigned to SamStudio8

[2021-08-05 17:12] #116 closed, assigned to SamStudio8

[2021-08-07 10:36] SamStudio8 opened #119 "MQTT handlers could respond to a reboot roll call"
An unexpected reboot causes all the handlers to have to raise themselves which works reliably, but is not easily checked. The MQTT client could subscribe to a roll call topic that is emitted on reboot to show all the handlers are listening as expected without needing to log-in and check.

[2021-08-09 15:16] SamStudio8 opened #120 "[manualpipe] GISAID 20210809"
**Brief description**

Interrupted during ocarina step

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running

***
* [x] Reconcile input
* [x] Engage pipeline **from a clean environment**
* [-] Disable NXF cache destruction (if applicable)
* [] Reconcile output
* [ ] Check (or send) mqtt message (if applicable)
* [-] Re-enable cache destruction (if disabled)

***

[2021-08-09 16:26] #120 closed, assigned to SamStudio8

[2021-08-10 13:57] BioWilko opened #121 "[manualpipe] Asklepian 20210810"
**Brief description**

See https://github.com/COG-UK/dipi-group/issues/121#issuecomment-896080983 by @SamStudio8 for background and explanation.

***
**Executed by:** @BioWilko - BIRM

* [x] I am sure this pipeline is not already running

***
* [ ] Reconcile input
* [x] Engage pipeline **from a clean environment**
* [ ] Disable NXF cache destruction (if applicable)
* [ ] Reconcile output
* [ ] Che

[2021-08-10 13:59] SamStudio8 commented on #121
Investigating an issue with generating the Asklepian manifest.

[2021-08-10 14:03] SamStudio8 commented on #121
Seems to be an integrity error as it should be impossible for a PAG to be missing a published date!

[code]

There is indeed one such case:

[code]

[2021-08-10 14:05] SamStudio8 commented on #121
Quite possible a race condition wherein a PAG was created but failed to reach [this line](https://github.com/SamStudio8/majora/blob/b84744e62f8c54f775298700dd79e6ac99ffdb45/majora2/form_handlers.py#L358).

[2021-08-10 14:32] SamStudio8 commented on #121
PAGs are created as a side effect of the `api.artifact.file.add` endpoint when `--publish-group` is set. Two files are added for each PAG (the FASTA and BAM) in quick succession. The conclusion I'll make is that in the case of this PAG, both calls were involved in an incredibly narrow window write skew:

* Call 1 created and saved the PAG with [get_or_create](https://github.com/SamStudio8/majora/b

[2021-08-10 16:29] #121 closed, assigned to nobody

[2021-08-10 16:31] SamStudio8 commented on #121
Finally Github is working again!

Going forward, to mitigate, [Majora will set the `published_date` of a PAG being updated with `api.artifact.file.add` if it is not set](https://github.com/SamStudio8/majora/commit/f0fdf315d996797c42144ea579173de9f7abd31f) (regardless of whether it is new).

Additionally, the error code emitted by Ocarina briefly confused the source of the problem (as exit 2 has ty

[2021-08-11 11:46] BioWilko opened #123 "[manualpipe] Asklepian 20210811"
**Brief description**

Asklepian fell over immediately after being raised by elan

**Pipeline exit code:** 126

***
**Executed by:** @BioWilko  BIRM

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)

[2021-08-11 11:56] BioWilko commented on #123
Caused by "go.sh" not being flagged as executable after "flock" being enabled to prevent two instances running, now fixed by @SamStudio8

[2021-08-11 12:21] SamStudio8 commented on #119
Bump to #62

[2021-08-11 12:21] #119 closed, assigned to SamStudio8

[2021-08-11 12:21] SamStudio8 commented on #112
Bump to #62

[2021-08-11 12:21] #112 closed, assigned to SamStudio8

[2021-08-11 12:22] SamStudio8 commented on #38
This is a matter for the DWG

[2021-08-11 12:22] #38 closed, assigned to nobody

[2021-08-11 12:23] SamStudio8 commented on #109
I believe these sequences were suppressed by the uploader, so will close this now.

[2021-08-11 12:23] #109 closed, assigned to nobody

[2021-08-11 12:23] SamStudio8 commented on #66
Bump to #62

[2021-08-11 12:23] #66 closed, assigned to SamStudio8

[2021-08-11 12:24] SamStudio8 commented on #67
Bump to #62

[2021-08-11 12:24] #67 closed, assigned to SamStudio8

[2021-08-11 13:57] #123 closed, assigned to BioWilko

[2021-08-12 13:22] SamStudio8 commented on #101
Reclaimed 480 G from Asklepian working dir and updated Asklepian to no longer keep the genome table backup (as it is now much faster to generate) https://github.com/SamStudio8/asklepian/commit/c31c7f068016b5d672cc8969cb3ef3248e42ca3c

[2021-08-12 13:44] SamStudio8 commented on #101
Added automation for pruning upload backup to cron on Elan node

[2021-08-12 13:44] #101 closed, assigned to SamStudio8

[2021-08-14 10:37] SamStudio8 opened #124 "[manualpipe] accessions-export 20210814"
**Brief description**

Ocarina command exited 66 (`EX_NOINPUT`) as the retrieved MDV was empty. The serialisation time for the COG2 MDV has ticked beyond the wait time for the accessions-export script, the threshold has been increased.

**Pipeline exit code:** 66 `EX_NOINPUT`

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pi

[2021-08-14 10:37] SamStudio8 commented on #124
Wait limit for COG2 MDV increased https://github.com/SamStudio8/coguk-push/commit/e3e19bcfa2be3b24b8112caf205a36b3ab5ac411

[2021-08-14 11:13] #124 closed, assigned to SamStudio8

[2021-08-14 11:52] SamStudio8 commented on #124
Additionally cleaned up the ocarina task waiting code as a means to improve the error codes https://github.com/SamStudio8/ocarina/commit/6c311d856db2006edd6aded7dbb96ba2866208fa, today's error would now return exit 65 (EX_DATAERR) rather than exit 66 (EX_NOINPUT), distinguishing from the case where Majora replies but the payload has 0 results

[2021-08-14 11:57] SamStudio8 opened #125 "[ocarina] Update Ocarina to 0.44.0"
**Target commit** https://github.com/SamStudio8/ocarina/commit/6c311d856db2006edd6aded7dbb96ba2866208fa
**Version** 0.44
**Target date** 2021-08-16

***

* [x] Update Ocarina changelog
* [-] Update DIPI changelog if appropriate
* [x] Direct install into core `samstudio8` conda env
* [x] Update elan-nextflow `ocarina.yml` https://github.com/SamStudio8/elan-nextflow/commit/d4cdcb926c396a2f0161c8ee95

[2021-08-16 11:27] SamStudio8 opened #126 "[manualpipe] Elan 20210816"
**Brief description**

Exit 1 on publish step

**Pipeline exit code:** 1

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [-] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [x] Check output if necessary
* [x] Chec

[2021-08-16 11:28] SamStudio8 commented on #126
Appears to be a token issue with `get pag` step, investigating

[2021-08-16 11:37] SamStudio8 commented on #126
Scopeless OAuth token was missing, suspect this is to do with an undetected version conflict between Ocarina 42.1 and 44.0 (#125). I've registered a suitable token and raised Elan.

[2021-08-16 11:39] #125 closed, assigned to SamStudio8

[2021-08-16 13:01] SamStudio8 commented on #126
Everything is fine

[2021-08-16 13:01] #126 closed, assigned to SamStudio8

[2021-08-18 17:57] SamStudio8 opened #127 "[manualpipe] ENA BAM 20210816"
**Brief description**

Interrupted by login node switcheroo

**Pipeline exit code:** NA

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [x] Check output if neces

[2021-08-20 10:06] SamStudio8 commented on #127
Hitting the SLURM draining problem a bit this week, have boosted the memory requirement and shortened the compute time allotted to temporarily toss out some of the deepest BAMs that are causing some trouble https://github.com/SamStudio8/elan-nextflow/commit/00535d87d52468ddb9dc28a17a2a01f814eef011.

[2021-08-20 12:50] SamStudio8 commented on #127
Terminating running dehum processes as this pipeline is not supported into the weekend, the remainder will get another chance on Monday

[2021-08-20 14:19] #127 closed, assigned to SamStudio8

[2021-08-23 08:54] SamStudio8 opened #128 "[manualpipe] ENA BAM 20210823"
**Brief description**

k2 classify OOM killed

**Pipeline exit code:** -

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [x] Check output if necessary
* [x] Chec

[2021-08-23 08:54] SamStudio8 commented on #128
Suspect we need to dial down local jobs to account for less RAM on new head

[2021-08-23 09:50] SamStudio8 commented on #128
Increased `cpu` assignment to kraken processes to run fewer concurrently and seems to be trundling along now (https://github.com/SamStudio8/elan-nextflow/commit/df6c2acf03a6d4062552e4441182ab32a72de810)

[2021-08-23 16:22] SamStudio8 commented on #128
Having some fun with the SLURM engine today

[2021-08-25 15:34] SamStudio8 opened #129 "samtools depth identified as bottleneck in Elan"
With the removal of `samtools sort` (#39), and the shift from Pillar 1 sites, high throughput sequence BAMs are bottlenecking in Elan at `samtools depth`.

[2021-08-25 15:38] SamStudio8 commented on #129
I initially tested `sambamba` (https://lomereiter.github.io/sambamba/) which offers an improvement over samtools in that it is able to use multiple threads to calculate depth. However, more excitingly, samtools 1.13 has completely rewritten `samtools depth` for a significant performance boost using circular buffers (https://github.com/samtools/samtools/pull/1428).

I have tested several existing B

[2021-08-26 09:56] SamStudio8 commented on #129
2021-08-24, `samtools depth` (v1.10)

[code]

2021-08-26, `samtools depth` (v1.13)

[code]

`samtools_depth` step around 20x faster thanks to samtools 1.13, killing the depth bottleneck entirely :rocket:

[2021-08-26 09:56] #129 closed, assigned to SamStudio8

[2021-08-26 14:29] SamStudio8 commented on #128
Terminating remaining dehuman processes and rolling over to next week to ensure the ENA-A pipe can run tomorrow.

[2021-08-26 19:42] SamStudio8 commented on #128
Seems to have got stuck, cycling

[2021-08-27 09:58] SamStudio8 commented on #128
Finally got this to finish last night. Still a little backlog to worry about but RP has some plans to move this off-SLURM a la Elan.

[2021-08-27 09:58] #128 closed, assigned to SamStudio8

[2021-08-27 16:54] SamStudio8 commented on #54
I have been sentimental about this bug because the occasional announcement of `1` and not much else is pretty amusing. However I've just noticed that this week week the full debug messages to #inbound-distribution have not been appearing anymore. My suspicion is the stomping window has aligned such that the LONG message is completely suppressed by the SHORT message.

[2021-08-27 17:00] SamStudio8 commented on #54
Naturally nobody has noticed this, but it ought to be fixed giving it's causing real trouble rather than whimsy. I'm taking the opportunity to merge the two different messaging routes (caused when Elan was put in charge of sending the morning `SHORTSTART` announcement).

[2021-08-27 20:56] SamStudio8 commented on #54
https://github.com/SamStudio8/elan-nextflow/commit/d20cf00f80b7bafc3e6356512edf5c218e317565 removes the messaging code from go_count_and_announce and uses the standard message_uploads script. Additionally, the temporary files are stamped with the message type to prevent interaction.

[2021-08-27 20:56] #54 closed, assigned to SamStudio8

[2021-08-30 09:03] SamStudio8 opened #130 "[manualpipe] Elan 20210830"
**Brief description**

Head node file system became unavailable. Elan node thrashed.

**Pipeline exit code:** NA

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
*

[2021-08-30 09:11] SamStudio8 commented on #130
OAuth tokens manually updated

[2021-08-30 09:15] SamStudio8 commented on #130
Nothing to see here
[code]

[2021-08-30 09:59] SamStudio8 commented on #130
Full restart needed. Killing non-essential housekeeping tasks to reduce load on FS as things come back up.

[2021-08-30 10:02] SamStudio8 opened #131 "[manualpipe] ENA BAM 20210830"
**Brief description**

Interrupted by restart of head node.

**Pipeline exit code:** NA

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if neces

[2021-08-30 13:48] SamStudio8 commented on #130
Running a little slow on reconcile but everything is fine

[2021-08-30 14:09] SamStudio8 commented on #131
`extract_bam_reads` failing about 20% of the time for a reason that is not immediately obvious, I've propped the pipeline up by setting the failure strategy to `ignore` for now.

[2021-08-30 14:29] SamStudio8 commented on #131
Following up, with some sacct-fu I confirmed my suspicion that failures are tied to a particular misbehaving node. Not much we can do about this today.

[code]

[2021-08-30 15:19] SamStudio8 commented on #130
Returned to automated control

[2021-08-30 15:19] #130 closed, assigned to SamStudio8

[2021-09-04 14:53] SamStudio8 commented on #131
Processed about 18 of 20k, purging the remainder to ensure this won't run into Monday.

[2021-09-04 16:16] SamStudio8 commented on #131
Looks like NF has got stuck handling the mass dehuman kill. I hate this pipeline so much.

[2021-09-04 21:09] SamStudio8 commented on #131
Managed to get through phase 1 with some collateral damage. Pushing phase 2 at ENA now.

[2021-09-05 10:57] #131 closed, assigned to SamStudio8

[2021-09-08 09:29] SamStudio8 opened #133 "[manualpipe] ENA BAM 20210906"
**Brief description**

Node reboot

**Pipeline exit code:** NA

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if necessary
* [x] Check mqtt mes

[2021-09-10 16:43] SamStudio8 commented on #133
Restarted due to lack of progress

[2021-09-10 18:32] SamStudio8 commented on #133
Killing remaining jobs for the weekend

[2021-09-11 12:05] SamStudio8 commented on #133
Phase 2 starting now

[2021-09-11 15:23] #133 closed, assigned to SamStudio8

[2021-09-13 22:10] AngieHinrichs opened #134 "mismatching dates in a few GenBank/ENA vs. BioSample records"
Not sure if this is the right place to report this, but since the BioSample names start with COG-UK/, here goes.  :)  I found 19 GenBank/ENA records that are linked to BioSample records, which both have sample collection dates, but the dates mismatch:
[code]
Spot-checking a few, the GenBank/ENA dates are consistent with the public cog_metadata.csv file, but the BioSample dates are months later, so

[2021-09-14 10:05] SamStudio8 commented on #134
Hi @AngieHinrichs, thanks for your report. I believe this sample set matches an already identified anomalous sample group that is being fixed by the supplier.

[2021-09-14 15:50] SamStudio8 commented on #26
Closing once again (for now) as Asklepian has been pretty fast since #117

[2021-09-14 15:50] #26 closed, assigned to SamStudio8

[2021-09-17 11:35] SamStudio8 opened #135 "[manualpipe] ENA BAM 20210913"
**Brief description**

nearly got through a week without this pipe doing something stupid

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [ ] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (onl

[2021-09-20 16:32] theosanderson commented on #109
I chased this up as I think we (Sanger, not COG) ended up suppressing this on COG but not yet withdrawing from the databases. The withdrawals should now be happening, at least for the original sequences that @AngieHinrichs flagged, and I'll see if I can figure out what the full affected set is.

[2021-09-21 10:41] #135 closed, assigned to SamStudio8

[2021-09-21 10:42] SamStudio8 commented on #134
I believe these have been fixed in the COG-UK dataset and the supplier will attempt to update public databases.

[2021-09-21 10:42] #134 closed, assigned to nobody

[2021-09-21 10:56] daviesrob commented on #134
They were fixed a while ago in the ENA, but the GenBank records may still be incorrect.

[2021-09-24 15:15] SamStudio8 opened #136 "[manualpipe] 20210920 ENA BAM"
**Brief description**

Terminating remaining jobs before weekend

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [ ] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [x] Disable NXF cache destruction (only applicable for ENA BAM

[2021-09-26 22:57] SamStudio8 opened #137 "[manualpipe] 20210927 ENA BAM"
**Brief description**

Preempted to avoid overrun of previous unfinished pipe

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable

[2021-09-26 22:57] SamStudio8 commented on #136
Failed to finish due to nextflow stall

[2021-09-26 23:06] SamStudio8 commented on #136
Cache distraction disabled

[2021-09-27 08:58] SamStudio8 commented on #136
Complete
Cache destruction enabled

[2021-09-27 08:58] #136 closed, assigned to SamStudio8

[2021-09-27 08:58] SamStudio8 commented on #137
Raised manually

[2021-09-27 13:00] SamStudio8 commented on #14
Bouncing to backlog #62

[2021-09-27 13:05] SamStudio8 commented on #1
A daily pipeline that's only failed thrice in 18 months, a message orientated system that allows pipes to automatically raise one another, full integration of all UK covid genomes into a consistent data set every single day; a platform for generating trees, detecting variants and uploading to public databases? Surpassing a million genomes? Think we nailed this one a little while ago team :tada:

[2021-09-27 13:05] #1 closed

[2021-09-30 15:29] SamStudio8 commented on #137
NF stall

[2021-09-30 19:50] SamStudio8 commented on #137
Restarted after second NF stall, onto second phase with minimal collateral damage

[2021-10-01 12:26] #137 closed, assigned to SamStudio8

[2021-10-03 10:57] SamStudio8 opened #138 "[manualpipe] Elan 20211003"
**Brief description**

fs dismount on Elan node

**Pipeline exit code:** NA

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if necessary
* [ ] C

[2021-10-03 11:00] SamStudio8 commented on #138
Raised from publish step

[2021-10-03 13:00] #138 closed, assigned to SamStudio8

[2021-10-06 07:23] SamStudio8 opened #139 "[manualpipe] Elan 20211006"
**Brief description**

fs dismount on Elan node

**Pipeline exit code:** Emitted 134

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if necessar

[2021-10-06 14:50] SamStudio8 commented on #139
everything is fine

[2021-10-06 14:50] #139 closed, assigned to SamStudio8

[2021-10-06 14:52] SamStudio8 opened #140 "[manualpipe] status-generator 20211006"
**Brief description**

Appears the UK dashboard is not responding to requests for case data at the moment:

[code]

[code]

**Pipeline exit code:** 8

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF

[2021-10-07 09:36] SamStudio8 commented on #140
Raised by @tombch

[2021-10-07 09:36] #140 closed, assigned to SamStudio8

[2021-10-08 08:08] SamStudio8 opened #141 "[manualpipe] Elan 20211008"
**Brief description**

fs dismount on Elan node

**Pipeline exit code:** NA

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if necessary
* [ ] C

[2021-10-08 08:08] SamStudio8 commented on #141
RP has reduced MDS node back to one to mitigate

[2021-10-08 10:12] SamStudio8 commented on #141
all is well once again

[2021-10-08 10:12] #141 closed, assigned to SamStudio8

[2021-10-09 15:07] SamStudio8 opened #142 "[manualpipe] ENA BAM 20211004"
**Brief description**

Nextflow stall

**Pipeline exit code:** NA

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if necessary
* [ ] Check mqtt

[2021-10-09 21:27] #142 closed, assigned to SamStudio8

[2021-10-21 16:19] happykhan opened #143 "[validator] SUPERSCRIPT III - TAQMAN 7500"
**Brief description**

These are diag assays for samples from DHSC

**Detail**

| Validator | Field       | Proposed option | Justification                    |
|-----------|-------------|-----------------|----------------------------------|
| ~ct~        |~test_platform~|~TAQMAN 7500~|use `APPLIED_BIO_7500`|
| ct        |test_kit|~SUPERSCRIPT III~ `INVITROGEN`||

***
**Proposed by:** Alikhan -NOR

[2021-10-23 22:25] AngieHinrichs opened #144 "cog_all.fasta etc. files not updated in 6 days?"
Hello!  Hopefully this will have worked itself out by the time you see this, but just in case (and please let me know if I should report this elsewhere) -- the wonderful cog_all.fasta, cog_metadata.csv etc. download files are usually updated every day or two, but they seem not to have been updated since last Sunday:
[code]
Can you unstick whatever got stuck there?  Thanks!

[2021-10-24 01:01] Jeltje opened #145 "Sequences contain question marks"
Hi all, please let me know who else to notify if this is not the right channel.

We (at UCSC) download https://cog-uk.s3.climb.ac.uk/phylogenetics/latest/cog_all.fasta on a regular basis and I just noticed that 7,298 of them contain '?' characters. Sometimes there are just a few, but in other cases it's pretty severe, such as
[code]
About 4,000 of these sequences are present in Gisaid, and my spot

[2021-10-24 06:21] AngieHinrichs opened #146 ">500 Delta sequences with 2020 dates, mostly England/MILK-[1FF99A3..MILK-203F521] with April 2020 dates"
cog_metadata.tsv (at least, the Oct. 17th version as noted in #144 so maybe this is already fixed on your end?) has over 500 sequences assigned to Delta, but with 2020 dates.  Most are in a run of England/MILK accessions with high accession numbers but April 2020 dates:
[code]
April 2021 seems a lot more likely than April 2020 - typo?

I stumbled across this when I noticed some sequences with 2020

[2021-10-24 06:23] rmcolq commented on #145
I have been dealing with file corruption issues over the last week in CSV files, which have been making the pipeline fail. My first reaction is that maybe these are silently "handled" file corruptions we are seeing in the FASTA but will investigate.

Sent from my Galaxy

-------- Original message --------
From: Jeltje ***@***.***>
Date: 24/10/2021 02:01 (GMT+00:00)
To: COG-UK/dipi-group ***@***.**

[2021-10-24 07:28] rmcolq commented on #145
No, I can confirm that the question marks are in the input sequence. I think these should perhaps be kicked out by ELAN as garbage? Datapipe replaces them with Ns during the alignment step, but there are so many ? positions that they then get filtered as low quality sequences anyway.

Short term I can replace the `?` with `N` in datapipe so it doesn't filter through to the `cog_all.fasta`.

[2021-10-24 07:35] rmcolq commented on #144
I've manually triggered the s3 upload for a run starting on the 22nd.
File corruptions have made datapipe a somewhat manual process over the last few days, and it therefore hadn't triggered the s3 upload on completion.

[2021-10-24 08:24] rambaut commented on #145
We should reject anything coming in to datapipe with characters other than IPAC nucleotide codes. It might be indicative of other issues upstream.

[2021-10-24 09:53] rambaut commented on #146
Hi Angie, this is a known issue resulting with some data linkage issues in systems prior to CLIMB. I believe these and some others with less obvious errors are in the process of being removed from all databases. All the affected genomes were sequenced in a narrow time window in October and were likely sampled shortly prior to this so are not from April 2021. I don’t have any other information abou

[2021-10-25 02:45] Jeltje opened #147 "Metadata file seems incomplete"
Hello all,

In today's download of https://cog-uk.s3.climb.ac.uk/phylogenetics/latest/cog_all.fasta I count 1,191,934 sequences, but
cog_metadata.csv (also downloaded today) only contains 1,060,868 entries.
This means there are 131,066 samples missing from the metadata file.

I checked and all metadata IDs correspond to fasta IDs; there's no mismatch.
A sampling of IDs with missing metadata:
[code

[2021-10-25 07:29] rmcolq commented on #147
There should be nothing wrong with the sequences. I've been dealing with file corruption issues and for the short term have been focussing on getting output, even if it sacrifices some sequences.

[2021-10-25 12:07] rambaut commented on #145
Just to confirm - the majority if these are from a consortium member (OXON) which is using a consensus calling pipeline that emits `?` instead of `N` to denote missing bases.

[2021-10-25 12:43] SamStudio8 opened #148 "[manualpipe] GISAID 20211025"
**Brief description**

Interrupted by GISAID API error

**Pipeline exit code:** NA

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if necessary

[2021-10-25 12:50] SamStudio8 commented on #144
Closing as I can see 2021-10-24 has been uploaded

[2021-10-25 12:50] #144 closed, assigned to nobody

[2021-10-25 12:54] SamStudio8 commented on #146
Closing #146 as suppliers of these sequences are aware and are hopefully correcting the entries in public databases

[2021-10-25 12:54] #146 closed, assigned to nobody

[2021-10-25 13:05] SamStudio8 commented on #145
Agreed, we did come against this data previously (#38 highlighted `-` but I think we were made aware of `?` afterwards). This was scheduled to get discussed at the DWG (particularly as the supplier of these genomes was in that WG) but we got sidetracked. Since March @rmcolq and I have been handling non IUPAC chars downstream in Datapipe/Asklepian.

[2021-10-25 16:18] AngieHinrichs commented on #146
Great, thanks @rambaut and @SamStudio8.

[2021-10-25 16:19] AngieHinrichs commented on #144
Thanks so much @rmcolq, sorry to hear about the systems troubles & glad to have the latest again!

[2021-10-26 10:56] #148 closed, assigned to SamStudio8

[2021-10-26 12:56] SamStudio8 opened #149 "[manualpipe] ENA BAM 20211025"
**Brief description**

Manually killed

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output i

[2021-10-27 14:09] SamStudio8 commented on #149
Issuing a full restart

[2021-10-28 10:45] rmcolq commented on #147
I can confirm that in the latest data release there are the same number of entries in the `https://cog-uk.s3.climb.ac.uk/phylogenetics/latest/cog_metadata.csv` as `https://cog-uk.s3.climb.ac.uk/phylogenetics/latest/cog_alignment.fasta`

[2021-10-28 10:45] #147 closed, assigned to nobody

[2021-10-29 16:52] SamStudio8 commented on #149
slow progress, going to slowly kill off some jobs to try and make sure we do as much as possible before the weekend

[2021-11-01 10:57] #149 closed, assigned to SamStudio8

[2021-11-01 11:02] SamStudio8 commented on #143
It appears as though the Taqman 7500 might already be covered with `APPLIED_BIO_7500` (https://www.gene-quantification.de/abi7500.pdf), I think the Taqman brand is a red herring

[2021-11-01 11:13] SamStudio8 commented on #143
Naming convention for the `test_kit` would use the manufacturer name, please confirm that `INVITROGEN` is suitable for SuperScript™ III Platinum™ One-Step qRT-PCR Kit (the kit we think you are referring to).

[2021-11-02 11:01] happykhan commented on #143
Hi sam.
OK
 that sound good. so just adding test_kit: INVITROGEN
is good for me !

[2021-11-03 15:45] tombch commented on #143
Hello @happykhan, the change has been made!

[2021-11-03 15:45] #143 closed, assigned to SamStudio8, tombch

[2021-11-03 15:46] SamStudio8 commented on #143
Welcome to CLIMB-COVID and congratulations on your first Majora contribution @tombch :tada: :rocket: