[2021-11-05 08:55] SamStudio8 opened #150 "[manualpipe] Elan 20211105"
**Brief description**

A bad looking BAM has thrown a pipeline ending exception in `rehead_bam`

[code]

**Pipeline exit code:** NA

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction

[2021-11-05 09:12] SamStudio8 commented on #150
Encountered an edge case where a BAM is bad enough to  can fail `samtools quickcheck` but not raise an error when running `samtools view`

[2021-11-05 09:15] SamStudio8 commented on #150
This BAM should not have made it to `rehead_bam` in the first place, so I've gone back and checked how it managed to escape the `save_uploads` barrier. It seems we encountered an edge case where a BAM is bad enough to fail `samtools quickcheck` but not raise an error when dumping `samtools view` to `/dev/null`. In this case it's because the BAM was essentially empty (but had valid blocks and such)

[2021-11-05 09:27] SamStudio8 commented on #150
Deploying proposed solution now. I don't think there is a need to check BAMs previously ingested since the second validator was added to `samtools_quickcheck`, if they were able to make it through the rest of Elan without causing an exception then they are valid enough for use downstream.

[2021-11-05 10:51] SamStudio8 commented on #150
Solution to use the highest exit code to determine whether the BAM has passed the barrier seems to be working
https://github.com/SamStudio8/elan-nextflow/commit/4d54437aa220dd6fa6f530d43627e9c462181a51

[2021-11-05 12:33] SamStudio8 opened #151 "[manualpipe] ENA Consensus 20211105"
**Brief description**

Looks like Webin needs updating
[code]

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pip

[2021-11-05 13:57] #150 closed, assigned to SamStudio8

[2021-11-05 14:36] theosanderson commented on #146
Just to let you know @AngieHinrichs, these finally seem to have gone from GenBank so with luck they won't recur if you delete them now

[2021-11-05 16:38] SamStudio8 opened #152 "Update webin-cli to unblock automated submissions"
See #151

[2021-11-09 17:42] tombch opened #153 "[manualpipe] Asklepian 20211109"
**Brief description**

[Provide a sentence of background]

**Pipeline exit code:** 70

***
**Executed by:** @tombch BIRM

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] ~~Disable NXF cache destruction (only applicable for ENA BAM pipe)~~
* [ ] ~~Check output if

[2021-11-10 10:29] SamStudio8 commented on #153
Nice one gang @BioWilko @tombch
The exit `70` is Ocarina having a panic as something has gone wrong with Majora that cannot be anticipated. Checking the logs it looks like the Majora uWSGI process was reaped by the OOM killer.

[code]

[2021-11-10 10:29] #153 closed, assigned to BioWilko, tombch

[2021-11-10 12:38] SamStudio8 opened #154 "Outgrowing cephfs cache due to large directories reduces performance of post-Elan consensus building"

[2021-11-10 14:59] SamStudio8 opened #155 "[manualpipe] GISAID 20211108"
**Brief description**

GISAID API error
See also #148

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ]

[2021-11-10 15:49] SamStudio8 opened #156 "Modernise GISAID submission pipe"
Given the two recent issues with the GISAID pipe (#155, #148), we need to add some safety features to the submission process to bring the process more in line with newer CLIMB-COVID pipelines, namely better guards that can decide on resubmission or restarting behaviour based on locks, and participation in Tael (#67).

[2021-11-10 18:01] #155 closed, assigned to SamStudio8

[2021-11-10 18:07] SamStudio8 opened #157 "[manualpipe] Asklepian 20211111"
**Brief description**

Asklepian 20211111 will be raised manually tomorrow.

**Pipeline exit code:** NA

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BA

[2021-11-10 18:15] SamStudio8 commented on #157
Rather than killing the Asklepian MQTT listener we can grab a lock on the lock file that is checked before Asklepian is allowed to run. Do not be alarmed with an Asklepian exit 73 on MQTT tomorrow.

```flock -w0 /dev/shm/.sam_asklepian -c cat```

[2021-11-11 09:42] SamStudio8 opened #158 "[manualpipe] Elan 20211111"
**Brief description**

Elan node lost FS

**Pipeline exit code:** NA

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if neces

[2021-11-11 10:05] SamStudio8 commented on #158
Issuing full restart.

[2021-11-12 00:54] #158 closed, assigned to SamStudio8

[2021-11-12 00:55] SamStudio8 commented on #157
Asklepian was delayed (see #158) but started as normal at 23:21 yesterday

[2021-11-12 09:39] #157 closed, assigned to SamStudio8

[2021-11-12 11:40] SamStudio8 opened #159 "[manualpipe] ENA BAM 20211108"
**Brief description**

NF stall last night

**Pipeline exit code:** NA

***
**Executed by:** @SamStudio8

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if necessary
* [ ] Check

[2021-11-12 11:44] SamStudio8 commented on #151
Closed as these sequences will roll over to ENA-A 20211112

[2021-11-12 11:44] #151 closed, assigned to SamStudio8, tombch

[2021-11-12 11:45] SamStudio8 commented on #152
Updated the webin-client for ENA-A this week. Manually tested that the validate step is working but could not test if the submission would be successful as the webin submission endpoints were down for maintenance this week. We'll wing it live.

[2021-11-12 12:47] SamStudio8 commented on #152
closed by https://github.com/SamStudio8/coguk-push/commit/c4e80cfb77e8a11f07259c175b25f2e4a223fd51

[2021-11-12 12:47] #152 closed, assigned to SamStudio8, tombch

[2021-11-13 10:45] #159 closed, assigned to SamStudio8

[2021-11-13 10:45] SamStudio8 opened #160 "[manualpipe] Elan 20211113"
**Brief description**

Elan node booted from ceph pool

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [

[2021-11-13 11:36] SamStudio8 commented on #160
Full restart required

[2021-11-13 19:28] #160 closed, assigned to SamStudio8

[2021-11-15 14:09] SamStudio8 commented on #156
Closed by https://github.com/SamStudio8/coguk-push/commit/e1a4bda238f59a217f99377239148b637e4bd9ee. I haven't gone as far as bringing on to MQTT (although the changes here mean it will be easier when we do so). We've got some nice guards to prevent repeated work and some error handling to cover the annoying case where the pipeline has failed but there are accessions to process.

[2021-11-15 14:09] #156 closed, assigned to SamStudio8

[2021-11-16 08:53] SamStudio8 opened #161 "[manualpipe] Elan 20211116"
**Brief description**

FS

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [ ] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if necessary
*

[2021-11-17 08:57] #161 closed, assigned to SamStudio8

[2021-11-17 08:57] SamStudio8 opened #162 "[manualpipe] Elan 20211117"
**Brief description**

* FS dismount
* FS dismount after full restart

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [ ] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA

[2021-11-18 17:25] #162 closed, assigned to SamStudio8

[2021-11-18 18:16] SamStudio8 commented on #154
Deployed the caffeine cat to mitigate part of the big dir problem and improve the post-Elan publish step while we handle sharding of the published artifact dirs (see https://github.com/SamStudio8/elan-nextflow/commit/d9b710a7a1ac1ed293a1513c22f5e471a49a1c9b)

[2021-11-19 00:21] SamStudio8 opened #163 "[manualpipe] ENA BAM 20211115"
**Brief description**

NF stall

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if neces

[2021-11-19 12:41] #163 closed, assigned to SamStudio8

[2021-11-19 12:42] SamStudio8 commented on #154
Closing this as the "caffeine cat" update has significantly improved the performance of the post-elan publish step and behaves incredibly well under the big dir load. Migrating the remaining sharding problem to a new issue.

[2021-11-19 12:42] #154 closed, assigned to SamStudio8

[2021-11-19 12:42] SamStudio8 opened #164 "Shard the published artifact directories"
Tracking internally as EO#15

[2021-11-30 00:00] SamStudio8 opened #165 "[manualpipe] ENA BAM 20211122"
**Brief description**

NF stalled

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [ ] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [x] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if nec

[2021-11-30 00:00] SamStudio8 opened #166 "[manualpipe] ENA BAM 20211129"
**Brief description**

Killed to avoid stomp of ENA BAM 20211122 (#165)

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [ ] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for E

[2021-11-30 00:03] SamStudio8 opened #167 "[manualpipe] GISAID 20211129"
**Brief description**

* Error encountered in `gisaid_uploader` `parse_fasta`
* Additionally, error did not appear to propagate to Slack or cron email

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [ ] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicate

[2021-11-30 00:03] #166 closed, assigned to SamStudio8

[2021-11-30 00:04] SamStudio8 commented on #165
Disabled cache destruction in the hope we caught it in time but will investigate tomorrow

[2021-12-01 13:09] SamStudio8 commented on #165
Sadly looks like most of the cache has been lost so will nurse this pipe through the rest of the week.

[2021-12-01 13:11] SamStudio8 commented on #167
This was blocked by a bad sequence that made it through Elan, I am working with the supplier to have the sequence suppressed from the data set. It is already exluded from downstream analysis by Datapipe.

[2021-12-01 13:18] BioWilko opened #168 "Update #Inbound-distribution slack messages"
The example commands provided within the `#Inbound-distribution` daily messages are broken currently.

The commands refer to `/cephfs/covid/bham/artifacts/published//elan/.missing.ls` when they should refer to `/cephfs/covid/bham/artifacts/published/elan/YYYYMMDD.missing.ls` with the current date.

[2021-12-02 16:30] SamStudio8 commented on #14
Majora supports filtering PAGs by `published_before` (https://github.com/SamStudio8/majora/commit/a07ae22a39b7573583c92a34d9fcbf61ecd0e102) which can be used by Ocarina 46.1 (https://github.com/SamStudio8/ocarina/commit/35f4acc4f22847bd8735d836b1a4b50006f923c6) in auto_submit scripts.

[2021-12-02 16:57] SamStudio8 commented on #167
Manually triggered GISAID 2021-12-02 with a 7 day lag (#14)

[2021-12-02 16:57] #167 closed, assigned to SamStudio8

[2021-12-02 17:06] SamStudio8 commented on #168
fixed by https://github.com/SamStudio8/elan-nextflow/commit/f2debcd0646b6b0886e6ad26580090f123b3f26d

[2021-12-02 17:06] #168 closed, assigned to nobody

[2021-12-02 18:43] AngieHinrichs commented on #146
Thanks @theosanderson!  I get GenBank sequences and metadata from NCBI Datasets, and it turned out that they do not automatically remove records that have been removed from ENA.  But they did a one-off re-dump on request, so at last I have removed them from our tree (in local files, not yet on the main site).  I am updating the 2021-12-01 public tree -- that should hit hgwdev in a couple hours and

[2021-12-02 19:24] theosanderson commented on #146
Thanks so much @AngieHinrichs and sorry this has been such a marathon!

[2021-12-03 12:43] SamStudio8 commented on #165
another nextflow stall
i hate this pipe so much

[2021-12-03 12:48] SamStudio8 commented on #14
Testing daily lagged submissions for GISAID starting today

[2021-12-03 14:14] SamStudio8 opened #169 "[manualpipe] ENA BAM 20211206"
**Brief description**

ENA BAM 20211206 has been suppressed to ensure that it does not clobber the still running 20211122 (#165)

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [ ] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
*

[2021-12-07 12:54] SamStudio8 commented on #165
GIVE ME STRENGTH IT STALLED AGAIN

[2021-12-08 11:40] SamStudio8 commented on #165
GOOD BYE YOU WRECK

[2021-12-08 11:40] #165 closed, assigned to SamStudio8

[2021-12-08 11:41] SamStudio8 commented on #169
2021-12-08 will replace 2021-12-06

[2021-12-08 11:41] #169 closed, assigned to SamStudio8

[2021-12-08 16:06] tombch opened #170 "[manualpipe] Dipi44 20211208"
**Brief description**

[Provide a sentence of background]

**Pipeline exit code:** 69

***
**Executed by:** @tombch BIRM

* [ ] ~~I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)~~

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] ~~Disable NXF cache destruction (only applicable for ENA BAM pipe)~~
* [ ] ~~Check output

[2021-12-08 17:02] #170 closed, assigned to tombch

[2021-12-09 12:26] SamStudio8 opened #171 "Switch NXF_WORK after next BAM pipe"

[2021-12-10 03:48] Jeltje opened #172 "Metadata file seems incomplete"
In a download we did yesterday, I found 160,916 sample IDs in the fasta file that are not in the metadata file.
I have seen discrepancies like this for the past week so it doesn't look like a one time glitch.

This [happened in October](https://github.com/COG-UK/dipi-group/issues/147) as well, don't know if it's a similar issue.

[2021-12-10 09:43] rmcolq commented on #172
The metadata file is matched to the aligned fasta. Are you comparing with the file of all sequences?

[2021-12-10 10:14] rmcolq commented on #172
I count 1439105 sequences in the aligned fasta and 1439105 non-header rows in the metadata. There are 1601285 sequences in the  full fasta - the difference are the sequences which fail our QC (but are made publicly available for completeness/openness). I think this explains your missing numbers.

[2021-12-10 10:31] SamStudio8 opened #173 "[manualpipe] Elan 20211210"
**Brief description**

Tried to move a log location for Elan but put the nextflow `-log` parameter after the nextflow subcommand which turns out to be invalid. Rolled back the change and raised as normal.

**Pipeline exit code:** NA

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Eng

[2021-12-11 12:51] #173 closed, assigned to SamStudio8

[2021-12-13 10:36] SamStudio8 commented on #172
Judging by the :+1: here I think this has been solved!

[2021-12-13 10:36] #172 closed, assigned to nobody

[2021-12-13 10:37] SamStudio8 opened #174 "[manualpipe] ENA BAM 20211208"
**Brief description**

NF stall

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [x] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if neces

[2021-12-14 08:41] #174 closed, assigned to SamStudio8

[2021-12-14 12:55] #171 closed, assigned to nobody

[2021-12-15 21:46] AngieHinrichs opened #175 "Collection date of B.1.1.7 sequences PHEC-U303UC24 and PHEC-U303UC33"
In cog_metadata.csv, PHEC-U303UC24 has the name "England/PHEC-U303UC24/2020" and a sample collection date of 2020-03-20 -- but it is clearly an Alpha/B.1.1.7 sequence, so March 2020 seems unlikely.  FWIW on the UCSC/UShER tree, it is placed on the same node as England/CAMC-13EE58B/2021 (2021-03-14) and England/PHEC-3046E9/2021 (2021-03-29).

In GISAID (EPI_ISL_3776296), is "England/PHEC-U303UC24/2

[2021-12-19 21:15] SamStudio8 opened #176 "[manualpipe] Asklepian 20211220"
**Brief description**

The Azure credentials have been rotated which will hopefully not be a problem tomorrow but this issue will track any trouble that chooses to arise.

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **f

[2021-12-20 09:21] BioWilko commented on #176
It has caused Asklepian to fall over

[2021-12-20 09:27] SamStudio8 commented on #176
Thanks @BioWilko, I've got it
Update: fixed by https://github.com/SamStudio8/asklepian/commit/d9863927769f98f8aa645a44c3a05ca850e94899

[2021-12-20 09:29] SamStudio8 commented on #176
Should be good to re-raise now

[2021-12-20 14:05] #176 closed, assigned to SamStudio8

[2022-01-04 11:45] BioWilko opened #177 "[manualpipe] Elan QC 20220104"
**Brief description**

Elan QC stage failed due to very large BAM file (14G), removed file from `ocarina.files.ls` and re-ran.

PR submitted to [Ocarina repo](https://github.com/SamStudio8/ocarina/pull/14) which should hopefully prevent repetition of this issue moving forward.

**Pipeline exit code:** 1

***
**Executed by:** @BioWilko / @rpoplawski0 [BIRM]

* [x] I am sure this pipeline is not alr

[2022-01-05 11:25] #177 closed, assigned to BioWilko

[2022-01-05 11:26] BioWilko opened #178 "[manualpipe] Asklepian 20220105"
**Brief description**

[Provide a sentence of background]

**Pipeline exit code:** 1

***
**Executed by:** @BioWilko BIRM

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if neces

[2022-01-05 11:48] BioWilko commented on #178
Asklepian failed after an attempted re-raise, the pipe appears to be failing at [this](/cephfs/covid/software/sam/asklepian/data) part of the script.

[2022-01-05 12:18] SamStudio8 commented on #178
Some absolute carnage sequences in here today. I've let @rmcolq know there may be issues downstream.

I think the plan of action is:

* [x] Identify the bad eggs
* [x] Suppress these "sequences" from the data set with Ocarina
* [x] Expedite their removal by running the publish step for today again manually
* [x] Raise Asklep
* [x] Ensure Asklep makes it to MSA step
* [x] Improve the `fasta_quickch

[2022-01-05 13:01] SamStudio8 commented on #178
https://github.com/SamStudio8/majora/commit/916c5d4c3d4559c74456ed85e2833c4a4b575260 will allow select users to remove absolute garbage from the data set without approval from the uploading institute

[2022-01-05 13:07] SamStudio8 commented on #178
directly assigned `can_suppress_any_pags_via_api` to @BioWilko who can now mark the 171 affected records in Majora

[2022-01-05 13:28] BioWilko commented on #178
All affected records suppressed.

[2022-01-05 13:30] SamStudio8 commented on #178
confirmed

[code]

[2022-01-05 13:34] SamStudio8 commented on #178
Manually running cog-publish.sh now to force refresh today's data set

[2022-01-05 14:10] SamStudio8 commented on #178
We've never re-run the publish script on the same day like this before so needed a few new tricks:

* Updated publish script to run on empty add (as all new files had been processed earlier already there was nothing new to do) https://github.com/SamStudio8/elan-nextflow/commit/1db3637f334a90814ea67c12655c71d42ffed3d1
* Fixed bug where BAMs were not suppressed correctly (not an issue as the FASTA w

[2022-01-05 14:10] SamStudio8 commented on #178
Looking promising:
[code]

[2022-01-05 14:17] SamStudio8 commented on #178
Removing Asklep 20220105 guards

[2022-01-05 14:17] SamStudio8 commented on #178
@BioWilko can you raise

[2022-01-05 14:18] BioWilko commented on #178
Raised

[2022-01-05 14:50] SamStudio8 commented on #178
`gofasta` is streaming an MSA now so we're out of the woods and back to normal service :rocket:

[2022-01-05 14:59] SamStudio8 commented on #178
Pulled @BioWilko's patch (https://github.com/SamStudio8/elan-nextflow/commit/4828e44e50d4859d8612d06e03e69ca30c1b2dc9) that will ensure the `fasta_quickcheck` step will boot out spurious garbage like this in future, conveniently also putting #38 to rest for good too.

[2022-01-05 15:00] SamStudio8 commented on #145
Closed by https://github.com/SamStudio8/elan-nextflow/commit/4828e44e50d4859d8612d06e03e69ca30c1b2dc9

[2022-01-05 15:00] #145 closed, assigned to nobody

[2022-01-05 15:11] SamStudio8 commented on #178
MSA is finished and we're proceeding with the genome and variant tables as normal now. That's enough hot sauce for one day, nice work @BioWilko. Call me if anything else blows up!

[2022-01-06 12:06] #178 closed, assigned to BioWilko

[2022-01-06 12:12] SamStudio8 opened #179 "Genomes from Elan 20220105 have been unpublished"
During the handling of yesterday's data integrity incident (#178), the data set for 2022-01-05 was republished. It appears during this process the new data for 2022-01-05 was not added back to the data set; essentially republishing the 2022-01-04 data set. These genomes are now missing from the 2022-01-06 data set and will need to be reinserted.

[2022-01-06 12:14] BioWilko commented on #178
This issue has had knock on effects, follow [this issue](https://github.com/COG-UK/dipi-group/issues/179) for more information.

[2022-01-06 12:14] SamStudio8 commented on #178
Close but no cigar on this one. I should have noticed this yesterday:

There should have been new work to do because we were publishing OVER the newly published data.

[2022-01-06 12:24] SamStudio8 commented on #179
Yesterday I should have noticed that there was no new work to do when republishing the data set; this should have been grounds to stop what we were doing as we were writing OVER the data set (and so there should have been plenty of work to do). The key mistake was I ran the first step of `cog-publish` BEFORE repointing the `published/head` symlink.

The name coded into the `head` dir name is used

[2022-01-06 12:29] SamStudio8 commented on #179
I think we have two options:

* Point `head` at 20220104 which could potentially republish the missing data (as well as today's) by extending the window in which reconcile is allowed to hit the file system
* Update the `PublishedArtifactGroup.published_date` for the affected data in Majora, meaning they will look new for 2022-01-07

I'm tending towards the latter, if only because it would be more

[2022-01-06 12:31] BioWilko commented on #179
The latter also strikes me as less likely to lead to some unforeseen consequence.

[2022-01-06 12:31] SamStudio8 commented on #179
So:

* [x] Pick an option to reinstate 2022-01-05 data
* [x] Check they appear in 2022-01-07
* [ ] We'll write a proper playbook on republishing the data set to stop this happening again.

[2022-01-06 12:46] SamStudio8 commented on #179
We're going to go with the safer (and technically more correction Option 2). It should be straightforward (famous last words) as we can query Majora for published artifact groups with a `published_date` of 2022-01-05 and change them to 2022-01-07 (allowing them to be picked up as brand new tomorrow). I want to make sure we don't miss anything so @BioWilko is comparing the 2022-01-04 and 2022-01-05

[2022-01-06 13:12] SamStudio8 commented on #179
The number of times I have typed 2021 in here is embarrassing

[2022-01-06 13:14] BioWilko commented on #179
Wow I actually didn't notice which is possibly worse

[2022-01-06 13:16] SamStudio8 commented on #179
I have consulted with the Majora oracle:

[code]

The number of affected sequences is officially 13,986.

[2022-01-06 13:18] SamStudio8 commented on #179
I've also cleared up the -2 situation at PHE. I think we're ready to go and update the published dates for the affected sequences.

[2022-01-06 13:46] SamStudio8 commented on #179
OK that's done.

[code]

Note that we've left the rejected and suppressed genomes with the original published date because they are unaffected by this problem.

[2022-01-07 09:56] SamStudio8 commented on #179
Looking good

[code]

[2022-01-07 10:31] BioWilko commented on #179
I have checked the metadata TSV and big MSA and the missing samples appear to have been included in the latest dataset.

[2022-01-07 11:27] #179 closed, assigned to SamStudio8

[2022-01-07 22:49] AngieHinrichs opened #180 "fasta in https://cog-uk.s3.climb.ac.uk/phylogenetics/latest/ -- xz compression?"
Recently my fetches of https://cog-uk.s3.climb.ac.uk/phylogenetics/latest/cog_all.fasta have been repeatedly failing.  Even with multiple "curl -C -" commands to continue at the offset where the previous fetch failed, sometimes 5 attempts is not enough to get the whole file.

The uncompressed cog_all.fasta is >54GB now (!), but when compressed with xz (which can run multi-threaded), it's much smal

[2022-01-07 22:55] rmcolq commented on #180
I think there should be compressed versions of the files available except the newick (which is small anyway) from the same file paths with .gz on the end. However I was told not to remove the uncompressed ones to avoid breaking people's existing pipelines.

Sent from my Galaxy

-------- Original message --------
From: Angie Hinrichs ***@***.***>
Date: 07/01/2022 22:50 (GMT+00:00)
To: COG-UK/dipi-g

[2022-01-07 23:01] AngieHinrichs commented on #180
Oh, well, that's kind of embarrassing, I should have just tried cog_all.fasta.gz!  😆  https://cog-uk.s3.climb.ac.uk/phylogenetics/latest/ doesn't offer a listing but, um, yeah.  Looks like cog_all.fasta.gz is 7GB -- better than 54GB, but still, could be 0.1GB with xz.  :)  Thanks!

[2022-01-07 23:01] #180 closed, assigned to nobody

[2022-01-10 10:34] SamStudio8 commented on #180
@AngieHinrichs, you might find https://data.covid19.climb.ac.uk/changelog a useful log to check in on occasionally as we try our best to put up notifications of any changes to the data set and our processes -- like when compressed outputs were added.

[2022-01-10 15:41] SamStudio8 opened #181 "[manualpipe] status-generator 20220107 - 20220110"
**Brief description**

status-generator failed to publish status page as graph s1 could not be generated due to unexpected nulls in the UK gov data

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [ ] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated m

[2022-01-10 16:03] SamStudio8 commented on #181
fixed by https://github.com/CLIMB-COVID/status-generator/commit/8ee213c0b42e6963a280cad02ce6705b36def452

[2022-01-10 16:03] #181 closed, assigned to SamStudio8

[2022-01-10 16:41] SamStudio8 commented on #175
Hi @AngieHinrichs, we've fed these back to the originating organisations who will hopefully update the relevant databases.

[2022-01-10 16:41] #175 closed, assigned to nobody

[2022-01-10 18:12] AngieHinrichs commented on #180
Noted, thanks @SamStudio8.  It would be great to get https://www.cogconsortium.uk/tools-analysis/public-data-analysis-2/ updated to point to the compressed versions too -- I will email the address on that page, contact@cogconsortium.uk.

[2022-01-18 14:43] SamStudio8 opened #182 "[manualpipe] ENA BAM 20220113"
**Brief description**

manually stopped to relieve login pressure

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [ ] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [x] Disable NXF cache destruction (only applicable for ENA BAM

[2022-01-18 14:47] SamStudio8 commented on #182
* set maxForks for k2
* disabled cache destruction

[2022-01-25 16:34] SamStudio8 commented on #164
Posted to #metadata and the usual places:
***

**Access to individual FASTA and individual BAM files**
Hi all... is this thing on... :microphone:  My first metadata announcement in a long while now, and it's a big one:
Next Monday on 2022-01-31 the "individual FASTA" (`bham/artifacts/published/fasta`) and "individual BAM" (`bham/artifacts/published/alignment`) directories will be **permanently del

[2022-01-25 16:36] SamStudio8 commented on #164
Some mammoth work going on behind the scenes to get this done, including:

* Ensure cog-publish can reconcile without assumed publish directory https://github.com/SamStudio8/elan-nextflow/commit/f1353e1abf89621d3e19fdd42db371d68db91bb7
* Elan 2022-01-26 to move FASTA to new location https://github.com/CLIMB-COVID/elan-nextflow/commit/c1cb945a7f016cbe4e5449d0083d59258c52601a
* Majora emits suppress

[2022-01-25 16:52] SamStudio8 commented on #182
100,000 is quite a lot of bams isnt it

[2022-01-26 09:37] SamStudio8 opened #183 "Race condition in Majora add MAG"
Ocarina step was disrupted this morning by a rare race condition adding a DigitalResourceGroup. This is the first time this has happened so I'll monitor the situation before taking action. Relevant code here: https://github.com/SamStudio8/majora/blob/stable/majora2/form_handlers.py#L279. Everything running fine now.

[2022-01-28 09:47] SamStudio8 opened #184 "[manualpipe] Elan 20220128"
**Brief description**

#183

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Check output if necessary

[2022-01-28 09:51] SamStudio8 commented on #184
not ideal
[code]

[2022-01-28 09:56] SamStudio8 commented on #184
[code]

Remove offending artifacts so we can remove two of the MAGs

[2022-01-28 09:59] SamStudio8 commented on #184
MAGs removed, Elan restarted and will pick up from Ocarina step :rocket:

[2022-01-28 12:07] SamStudio8 commented on #184
All good here. We've accidentally stopped publishing the dated published artifacts directory as a result of the publishing changes, but we were going to stop making those anyway. Datapipe is now aware of the change and we don't think any users rely on the non-latest directory.

[2022-01-28 12:07] #184 closed, assigned to SamStudio8

[2022-01-28 14:49] SamStudio8 commented on #183
Solving this properly is going to need a patch in Majora which I'm not keen to rush out on a Friday. We might be able to get away with pushing a single post-Elan, pre-Ocarina placeholder artifact to force the DigitalArtifactGroups to be created before calling the Ocarina pipeline.

[2022-01-29 15:45] SamStudio8 commented on #183
Fixed for now by https://github.com/SamStudio8/elan-nextflow/commit/45ae743704ed504165444076b59332bf3f934c0e

[2022-01-29 15:45] #183 closed, assigned to SamStudio8

[2022-01-31 17:55] SamStudio8 commented on #182
finally

[2022-01-31 17:55] #182 closed, assigned to SamStudio8

[2022-02-15 10:39] BioWilko opened #186 "[manualpipe] Asklepian 20220215"
**Brief description**

Based on the logfile for the day it failed due to not having the rich dependency of ocarina

**Pipeline exit code:** 1

***
**Executed by:** @BioWilko BIRM

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only

[2022-02-15 11:08] BioWilko commented on #186
The conda environment was broken due to pip considering dependencies fulfilled by the base environment as fulfilled within the pipeline environment. @SamStudio8 fixed by re-initialising the conda environment from a VM without anything within its base environment.

[2022-02-15 11:12] SamStudio8 commented on #186
Seems related to https://github.com/conda/conda/issues/448, I think we can avoid this in future with `PYTHONNOUSERSITE=True` in the env where devs call `conda env update`.

[2022-02-15 11:19] BioWilko commented on #186
We also found that having conda's `channel_priority` set to `strict` caused issues solving the environment

[2022-02-16 11:26] SamStudio8 opened #187 "[manualpipe] Elan 20220216"
**Brief description**

All Ocarina commands exiting non-zero

**Pipeline exit code:** NA -- killed by @SamStudio8

***
**Executed by:** [Name or initials] [Site code]

* [ ] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable

[2022-02-16 11:26] #186 closed, assigned to BioWilko

[2022-02-16 11:28] SamStudio8 commented on #187
#183 has appeared due to an uncaught error in adding the dummy hoot files

[2022-02-16 11:55] SamStudio8 commented on #187
[code]

[code]

[2022-02-16 11:59] SamStudio8 commented on #187
we're cooking again

[2022-02-16 13:49] SamStudio8 commented on #187
ocarina step ok, post-publish conda env is toast for no discernible reason, @BioWilko taking a look

[2022-02-16 13:59] BioWilko commented on #187
Glassed the conda env entirely and regenerated it with `PYTHONNOUSERSITE=True` and `Python=3.8` to hopefully avoid the strange environment dependency issues we've been having

[2022-02-16 14:27] BioWilko commented on #187
Elan finished, all fine now!

[2022-02-16 14:27] #187 closed, assigned to BioWilko

[2022-02-17 10:51] SamStudio8 opened #188 "[manualpipe] Asklepian 20220217"
**Brief description**

ceph dismount on elan2 vm

**Pipeline exit code:** [Exit code]

***
**Executed by:** [Name or initials] [Site code]

* [ ] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [ ] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (only applicable for ENA BAM pipe)
* [ ] Chec

[2022-02-18 17:48] #188 closed, assigned to SamStudio8

[2022-02-18 18:27] SamStudio8 commented on #164
FASTA files in /fasta/ with a PAG:
[code]

Sharded FASTA:
[code]

An off-by-one so you know it's a legit bioinformatics solution.

[2022-02-19 10:38] BioWilko opened #189 "[manualpipe] Elan 20220219"
**Brief description**

Elan is timing out on save_manifest (exit code 65), we suspect that moving test elan to run at the exact same time (rather than 30 mins later) caused too much stress on majora and lead to the timeout

**Pipeline exit code:** 1

***
**Executed by:** @BioWilko BIRM

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] En

[2022-02-19 10:50] BioWilko commented on #189
I have updated the test elan cronjob to run at 5AM instead to prevent recurrence tomorrow

[2022-02-19 10:57] SamStudio8 commented on #189
I think we've been teetering on the edge of the time limit for a little while but I think it's a good call to suspect running two  `task_get_sequencing_faster` celery tasks at the same time might impact the performance. I'll bump the time limit and also use one of the task ids from today to prevent Elan needing to wait again.

[2022-02-19 11:04] SamStudio8 commented on #189
`save_manifest` OK

[2022-02-19 11:06] BioWilko commented on #189
excellent, it's just using the task id correct? If so I may as well get test elan going too

[2022-02-19 11:10] SamStudio8 commented on #189
@BioWilko I've handled test elan

[2022-02-19 11:36] SamStudio8 commented on #189
Nearly 26k samples coming in -- a new record.

[2022-02-19 11:45] SamStudio8 commented on #164
FASTA files sharded and Majora updated. An errant PAG was created as a side effect* of #177 and has been removed.

[code]

[2022-02-19 18:01] SamStudio8 commented on #189
25012 accepted by Elan ingest, firing requests at Ocarina

[2022-02-19 19:48] SamStudio8 commented on #189
25012 PAGs created in Majora, onto publish ~ ETA 25m

[2022-02-19 20:30] SamStudio8 commented on #189
and we're out of here

[2022-02-19 20:30] #189 closed, assigned to SamStudio8

[2022-02-19 22:12] SamStudio8 commented on #164
BAM files and indexes have been sharded successfully and Majora fully updated. The PAG lookup integrity is degraded today as I made the decision to not delay the publish step to have it correct as we were already running significantly late (#189).

I have now checked for orphaned FASTA and BAM in Majora; discovering 130 unpagged BAM+FAS pairs. 78 of them are directly linked to artifacts attached t

[2022-02-20 09:25] SamStudio8 opened #190 "[manualpipe] Asklepian 20220220"
**Brief description**

Ocarina failed as Majora has "gone away". Additionally, ceph has dismounted.

**Pipeline exit code:** 69

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable NXF cache destruction (on

[2022-02-20 09:39] SamStudio8 commented on #190
waiting for ceph to be remounted by systems

[2022-02-20 11:23] SamStudio8 commented on #190
we are go

[2022-02-20 13:56] SamStudio8 commented on #190
an hour ago we timed out waiting for asklep table, which is unusual as the wait limit is around twice the expected time for the view. i restarted both majora and celery, and the task finished within parameters -- asklep is ticking along making tables now

[2022-02-20 14:24] SamStudio8 commented on #164
PAG lookup contains 0 references to `.../bham/nicholsz/artifacts`

[2022-02-20 14:24] #164 closed, assigned to SamStudio8

[2022-02-20 20:31] SamStudio8 commented on #190
back to automated control

[2022-02-20 20:31] #190 closed, assigned to SamStudio8

[2022-02-20 20:32] SamStudio8 opened #191 "[manualpipe] dipi44 20220220"
**Brief description**

* celery-results backend ran out of space lol
* diagnosed by looking at majora celery log

**Pipeline exit code:** ocarina exit 70

***
**Executed by:** [Name or initials] [Site code]

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
* [ ] Disable

[2022-02-20 21:17] SamStudio8 commented on #191
and we're finished in time to enjoy the last 3 hours of the weekend :partying_face:

[2022-02-20 21:17] #191 closed, assigned to SamStudio8

[2022-02-25 11:34] SamStudio8 opened #192 "[manualpipe] Asklepian 20220224 / 22k DHSC genomes missing from Asklepian"
UKHSA genomics cell reporting the EDGE line lists are missing a considerable number of private provider genomes.

[2022-02-25 11:35] SamStudio8 commented on #192
I've investigated this and know the root cause. There was a minor change to code related to publishing DHSC genomes for GISAID; it was requested we do not send genomes without appropriate credit to private providers. We rolled this change out yesterday after testing the GISAID interface without realising Asklepian was using the "publishing" endpoint to do its business. I'll be making a fix to Majo

[2022-02-25 11:41] SamStudio8 commented on #192
[The change](https://github.com/SamStudio8/majora2/commit/ffc82d548dbcea25743685e052cf745f8c667a2c) prevented genomes being emitted from the `get_pag_v2` celery task if the appropriate credit field had not been filled in. The easiest fix for now is probably:

* Unset the `credit_code_only` property of the `DHSC` organisation in Majora
* Restart Asklepian
* Patch Majora

Whilst being careful not to

[2022-02-25 11:41] SamStudio8 commented on #192
@BioWilko Let me know when today's GISAID pipe has finished its `ocarina-get-gisaid` step.

[2022-02-25 11:45] SamStudio8 commented on #192
Asklepian 20220224 process has been stopped pending a control restart.

[2022-02-25 11:46] SamStudio8 commented on #192
`tael_asklepian` listener back up

[2022-02-25 11:48] SamStudio8 commented on #192
GISAID pipes no longer run over the weekend, so actually the easiest thing to do here is unset the `credit_code_only` opt in on the `DHSC` org and propose a patch to be merged Monday; rather than rushing a solution today that might blow up over the weekend.

I'm leaning towards removing this behaviour from `get_pag_v2` entirely, as filtering inside the task is clearly unexpected behaviour. Prevent

[2022-02-25 11:51] SamStudio8 commented on #192
* [x] Wait for `tael_gisaid` service to reach the ocarina checkpoint
* [ ] ~Unset `credit_code_only` for `external-dhsc` user on Majora prod~
* [x] Fire Asklep control message for restart
* [ ] ~Wait for `tael_gisaid` service to finish and stop service until further notice~

[2022-02-25 12:05] SamStudio8 commented on #192
@BioWilko confirms gisaid step has moved past ocarina checkpoint

[2022-02-25 12:09] SamStudio8 commented on #192
I think there is actually a much simpler all-around fix here that satisfies not filtering in `get_pag_v2` and leverages the `auto_submit` script's use of [`--ffield-true`](https://github.com/SamStudio8/climb-covid-outbound-submissions/blob/master/gisaid/ocarina-get-gisaid.sh#L12). We are testing this patch now.

[2022-02-25 12:20] SamStudio8 commented on #192
* [x] `tael_gisaid` stopped as we note we have been supplied the wrong GISAID submitter for DHSC genomes anyway

[2022-02-25 12:24] SamStudio8 commented on #192
I've updated the supplier GISAID username and @BioWilko has kicked both the `tael_gisaid` and `tael_asklepian` services.

[2022-02-25 12:35] SamStudio8 commented on #192
GISAID manifest matches expectations. Waiting on Asklepian manifest (which takes longer) to finish for inspection.

[2022-02-25 13:08] SamStudio8 commented on #192
@BioWilko confirms the GISAID submissions are flowing through with the correct username now, so we anticipate those will be accepted by GISIAD over the next 24 hours or so. I've spotted the Asklepian manifest coming down and am looking for the missing genomes to confirm they are not filtered from `get_pag_v2`.

[2022-02-25 13:11] SamStudio8 commented on #192
Test IDs provided by PHE are all in the manifest now. 21409 missing records restored, Asklep should proceed nominally

[2022-02-25 13:19] SamStudio8 commented on #192
Patched by https://github.com/SamStudio8/majora2/commit/b95a6b85d0cea8f80fa25f8f0806293bbd162102 and will not require `tael_gisaid` to be shut down.

[2022-02-25 13:26] SamStudio8 commented on #192
@BioWilko can you monitor this and close up shop

[2022-02-25 20:50] BioWilko commented on #192
Asklepian = finished. :)

[2022-02-25 20:50] #192 closed, assigned to BioWilko

[2022-02-26 11:59] SamStudio8 opened #193 "Unlinked libraries in Majora"
Sanger have alerted us to several runs uploaded to Majora that do not link multiple libraries to the same run; causing the `get_sequencing` step that expands runs to libraries, and libraries to biosamples to leave out a number of artifacts. DJ suggested [this recent Majora change](https://github.com/SamStudio8/majora2/commit/2cc3d78cfc5e118a32f83f9f3c19a7653528ed16) is the likely culprit and I bel

[2022-02-26 12:22] SamStudio8 commented on #193
[code]

104 libraries affected

[2022-02-26 12:26] SamStudio8 commented on #193
103 libraries are from Sanger, one was via the Foel ingest

[2022-02-26 13:54] SamStudio8 opened #194 "[manualpipe] GISAID 20220225"
**Brief description**

post-GISAID submissions interrupted by token refresh, raised GISAID 20220225 and it has finished

**Pipeline exit code:** 77

***
**Executed by:** @SamStudio8

[2022-02-26 13:54] #194 closed, assigned to SamStudio8

[2022-02-26 14:37] SamStudio8 commented on #193
Addressed by https://github.com/SamStudio8/majora2/commit/0507c0d0a75d4bea6cae224ecb99227c3d69b50a, tested on Magenta, merging to prod Majora

[2022-02-26 14:38] SamStudio8 commented on #193
[code]

[2022-02-26 15:47] SamStudio8 commented on #193
I've used Foel to replay the single non-Sanger affected library and the library is now correctly linked through to a sequencing run. I've advised DJ on next steps and negotiated that we divide up the missing libraries over today and tomorrow just to avoid a cripplingly large Elan run on the weekend.

[2022-02-26 16:17] SamStudio8 commented on #193
DJ asked whether it would be OK to reupload the affected runs entirely (complete with the missing and not-missing libraries). I've realised this will have the side effect of creating links again for anyone uploading old data; so I'll put together a migration to back fill the unique_name for `DNASequencingProcessRecord`.

[2022-02-26 16:29] SamStudio8 commented on #193
Needed to extend the unique_name field to fit the oddly long private run names with a library. I should have just used `hashlib` to make a hex string but whatever, it might be useful to have these human readable in future.

[2022-02-26 16:36] SamStudio8 commented on #193
[code]

[code]

[2022-02-26 16:46] SamStudio8 commented on #193
DJ has replayed one run and we are both satisfied with our inspections. We'll replay the oldest affected runs and DJ tells me an automated housekeeping process will pick up some of the most recent ones. We can fill in the gap in the middle tomorrow.

[2022-02-27 13:02] SamStudio8 commented on #193
Down to 86 libraries now
[code]

[2022-02-27 16:42] SamStudio8 opened #195 "Asklepian performance"
Once again, we must consider a patch to Asklepian to improve performance. Since introducing `gofasta` several months ago (#117) "for great gains", the linear performance in generating the genome and variant tables has slowly but surely grown unwieldy. Previous discussions on using delta tables for EDGE went cold as the engineers we were closely working with were moved off the project.

It seems cl

[2022-02-28 11:31] SamStudio8 commented on #193
Elan processed another 15k or so this morning. DJ has replayed the remaining libraries to Majora for linking. There are 0 libraries now outstanding. Data integrity should be restored by a successful run of Elan tomorrow.

[2022-02-28 15:04] SamStudio8 commented on #195
HE'S DONE IT AGAIN :rocket:
https://github.com/CLIMB-COVID/asklepian/commit/ab5faffd564512c357484122103a8d57a9471134

[2022-02-28 15:09] SamStudio8 commented on #195
unfortunately this patch is so fast it is now quicker than the genome table, so we'll have to just speed that up as well

[2022-02-28 17:23] SamStudio8 commented on #195
wrt the genome table: Amusingly, way back as part of #37, we started compressing the genome table as it took a "considerable" amount of time to transfer it to EDGE in comparison to generating the table in the first place. A year later, and now the size of the data set has shifted the bottleneck to the compression.

We are somewhat stuck with this one. We won't be able to liaise with EDGE to rectif

[2022-02-28 20:18] BioWilko opened #196 "[manualpipe] Gisaid 2022-02-28"
**Brief description**

Gisaid submission pipe failed after 8 hours with the error `ocarina.service_outbound.tokens.json does not appear to be valid JSON`

**Pipeline exit code:** 78

***
**Executed by:** @BioWilko BIRM

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**
*

[2022-02-28 20:25] BioWilko commented on #196
kicked pipeline, all appears well, can get to the bottom of the new exit code in the AM

Edit: On further inspection it was just a connection error....

[2022-02-28 21:45] #196 closed, assigned to BioWilko

[2022-03-01 16:32] SamStudio8 commented on #193
Finished processing the backlog today -- integrity restored

[2022-03-01 16:32] #193 closed, assigned to SamStudio8

[2022-03-04 08:43] BioWilko opened #197 "[manualpipe] Elan 20220304"
**Brief description**

The elan VM lost access to `/cephfs/` overnight therefore needed to be manually run after a reboot at 7AM.

***
**Executed by:** @BioWilko BIRM

***
* [x] Set appropriate issue flags and assignee

* [x] Manual intervention complete
* "Normal" service disrupted? **YES/~~NO~~**
* If yes, describe impact:

Elan ran 3 hours later but was otherwise unaffected

[2022-03-06 09:33] #197 closed, assigned to BioWilko

[2022-03-06 09:36] BioWilko opened #198 "[manualpipe] Elan 20220306"
**Brief description**

Cephfs dismounted again

**Pipeline exit code:** n/a

***
**Executed by:** @BioWilko BIRM

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Set appropriate issue flags and assignee

* [x] Manual intervention complete
* "Normal" service disrupted? **YES/~~NO~~**
* If yes, describe impact:

Elan ran later delaying al

[2022-03-06 10:33] BioWilko commented on #198
Cephfs remounted by RW and elan now running.

It dismounted at ~21:40 yesterday which is roughly the same time as 2022-03-03, reasons remain mysterious.

[2022-03-06 16:56] SamStudio8 opened #199 "PHE1 MDV performance"
Just like everything else in our systems; the v3 API endpoint for sharing linkage with PHE/UKHSA has steadily grown slower.

The v3 API was written to leverage the Django Rest Framework and deployed an ingenious method to dynamically select fields for serialisation; which was hopefully going to herald a new era of data management. Unfortunately, as [previously](https://github.com/SamStudio8/majora

[2022-03-06 17:03] SamStudio8 commented on #199
Commit https://github.com/CLIMB-COVID/majora2/commit/61255f246c2a95e59b040557d9068c68b041ff9b hard codes a PHE1-FAST MDV. The definition is strictly followed and a modest test suite tests the basics of the function that replaces the magic DRF dynamic view.

Merely counting the size of the two query sets proves promising as they are at least the same size!

[code]

[code]

I'll liaise with FS to te

[2022-03-06 17:57] SamStudio8 opened #200 "[manualpipe] Asklepian 20220306"
**Brief description**

No space left on Majora celery-results

**Pipeline exit code:** 70

***
**Executed by:** @SamStudio8

[2022-03-06 18:00] SamStudio8 commented on #200
kicked

[2022-03-06 18:15] #198 closed, assigned to BioWilko

[2022-03-06 23:23] SamStudio8 commented on #200
finished and in half the time... :rocket: #195

[2022-03-06 23:23] #200 closed, assigned to SamStudio8

[2022-03-07 07:14] BioWilko opened #201 "[manualpipe] Elan 20220307"
**Brief description**

Elan failed due to a conda HTTP error during env creation, appears to be unrelated to moving the `.conda` dir from cephfs to local since other conda envs were created fine.

**Pipeline exit code:** 1

***
**Executed by:** @BioWilko BIRM

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Set appropriate issue flags a

[2022-03-07 07:17] BioWilko commented on #201
Conda env has now been created without a problem, must have been a simple connection error

[2022-03-07 07:27] #201 closed, assigned to BioWilko

[2022-03-07 11:00] SamStudio8 commented on #199
PHE1-FAST appears to complete in around 60 seconds as opposed to 1h+, I will never design something that falls into the trap of that pesky n+1 query problem again.

[2022-03-07 11:00] #199 closed, assigned to SamStudio8

[2022-03-07 11:01] SamStudio8 commented on #195
Asklepian finishes in around half the time as before which is a pretty decent win in my book. The remainder of the time is split roughly evenly between waiting for the Majora manifest; building the MSA; and building/uploading tables. The only speed gain now will be proper implementations of deltas.

[2022-03-07 11:01] #195 closed, assigned to SamStudio8

[2022-03-07 11:02] SamStudio8 commented on #14
Daily GISAID uploads have been running since Dec 3. Due to difficulties with the size of the BAM pipe and the reliability of the EBI endpoints, it has been harder to consider daily ENA uploads. We've made the progress we can here for now I think.

[2022-03-07 11:02] #14 closed, assigned to SamStudio8

[2022-03-08 10:33] BioWilko opened #202 "[manualpipe] Elan-publish 20220308"
**Brief description**

[Metadata publishing change](https://github.com/CLIMB-COVID/elan-nextflow/commit/6e3f7b2ad61a68ad04d6990b9adb4311b101fa00) resulted in the `majora.metadata.tsv` to not be published in the `20220308` artifacts directory causing elan publish to fail. This was fixed by manually copying `majora.metadata.tsv` from the elan work directory to the correct location. Publishing is now

[2022-03-08 11:18] #202 closed, assigned to BioWilko

[2022-03-08 12:18] BioWilko commented on #202
Fix now tested and pushed to repo https://github.com/CLIMB-COVID/elan-nextflow/commit/3e07d6be77924e21cf3650f1a2edd2f4e8ab6970

[2022-03-14 16:07] BioWilko opened #204 "[manualpipe] Gisaid 20220314"
**Brief description**

Gisaid failed due to a garden variety connection error.

**Pipeline exit code:** 1

***
**Executed by:** @BioWilko BIRM

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated mqtt environment**

***
* [x] Set appropriate issue flags and assignee

* [x] Manual interventio

[2022-03-14 19:45] #204 closed, assigned to BioWilko

[2022-03-23 18:50] AngieHinrichs opened #205 "Download files not updated in the past few days"
Hello DIPI group,

I download cog_metadata.csv.gz and cog_all.fasta.gz from https://cog-uk.s3.climb.ac.uk/phylogenetics/latest daily, and they are usually updated daily, but at the moment they seem to have not been updated since 5 days ago:
[code]

Is this the right place to inquire about getting the daily updates of those files going again?

Thanks,
Angie

[2022-03-24 11:17] nickloman commented on #205
@WhalleyT

[2022-03-25 08:53] t-whalley commented on #205
Hi @AngieHinrichs,

Apologies I've had an issue in uploading them to the S3 bucket, which seems to have been rectifified. Thanks for letting me know, it looks like the upload is working again now, but please let me know if that's not the case.

Thanks, TOm

[2022-03-25 08:53] #205 closed, assigned to nobody

[2022-03-25 20:05] AngieHinrichs commented on #205
Yes, got the updated files, thanks Tom!

[2022-04-07 10:34] BioWilko opened #206 "[manualpipe] Asklepian 20220407"
**Brief description**

Due to ENA-assembly still running the services VM ran out of memory and failed. ENA-assembly will be resumed once asklepian-db finishes for the day.

**Pipeline exit code:** 137
***
**Executed by:** @BioWilko  BIRM

* [x] I am sure this pipeline is not already running (**Only relevant for non-flocked pipelines**)

***
* [x] Engage pipeline via mqtt **from a clean dedicated m

[2022-04-08 08:40] #206 closed, assigned to BioWilko

[2022-05-04 21:47] AngieHinrichs opened #207 "BA.1* PHEC sequences with runs of SNVs and/or indels in ranges 27200-27216 and/or 28478-28495"
I came across a messy little branch in the UShER tree's BA.1 branch with lots of longish internal branches and substitutions occurring in stretches of more or less adjacent bases in the ranges 27200-27216.  Many sequences also have substitutions around 28478-28495.  Almost all sequences in the branch are `England/PHEC-*`.  Several common BA.1.* sublineage mutations are scattered around the branch.

[2022-05-04 22:10] nickloman commented on #207
Thanks Angie - we'll take a look and refer to the source lab!

[2022-05-06 03:35] AngieHinrichs opened #208 "ENA has "United Kingdom:null" as Country for at least 84 seqs"
Some records in ENA have "United Kingdom:null" as Country, for example https://www.ebi.ac.uk/ena/browser/view/OW504710 .  Many also have 2020 as the collection date even though COG-UK has much more recent (and detailed) collection dates.  For example, OW504710 and its BioSample https://www.ebi.ac.uk/ena/browser/view/SAMEA13979005 have 2020 as the collection date but its COG-UK accession is NORT-YN

[2022-05-10 19:52] AngieHinrichs commented on #208
Updated file, 21500 of them now (of which 21470 are in today's cog_metadata.csv):
[nullCogToEna.2022-05-10.txt.gz](https://github.com/COG-UK/dipi-group/files/8664592/nullCogToEna.2022-05-10.txt.gz)

[2022-05-11 09:21] BioWilko commented on #208
I have now fixed this for data going forward and have contacted ENA about dealing with the metadata in their system.

[2022-05-11 13:19] BioWilko commented on #207
I've looked into this and the issue is with the source labs bioinformatics pipeline.

All positions where there is <30 coverage rather than filling this gap in with Ns the consensus is coming out with no gap at all (e.g. GCTA------AG where the dashes have <30 coverage comes out as GCTAAG). I've checked some of the affected BAM files and managed to calculate the resulting consensus length for sever

[2022-05-11 13:19] #207 closed, assigned to nobody

[2022-05-12 19:08] AngieHinrichs commented on #208
Great, thanks @BioWilko!

[2022-05-12 21:33] AngieHinrichs commented on #207
Thanks for tracking that down @BioWilko!  Can the lab's pipeline be fixed?  Will these sequences be updated?  (If not then I can exclude them -- just wondering.)

[2022-05-13 22:24] AngieHinrichs opened #209 "download files not updated since 2022-05-09"
@WhalleyT it looks like the S3 bucket upload might have an issue again?  Looks like the files were last updated 4 days ago:
[code]

[2022-05-16 20:38] AngieHinrichs commented on #209
Better now, thanks!

[2022-05-16 20:38] #209 closed, assigned to nobody

[2022-06-21 20:54] AngieHinrichs commented on #208
https://www.ebi.ac.uk/ena/browser/view/OW504710 still has "United Kingdom:null" - maybe ENA need another prod?

[2022-06-22 13:23] BioWilko commented on #208
Hi Angie

If you look at the actual sample metadata for that record it has indeed been updated but having spoken to ENA this is a "flat file" which needs to be regenerated manually by themselves, I've sent a list of potentially affected accessions so they may do so.

Sam

[2022-06-22 13:23] #208 closed, assigned to BioWilko

[2022-07-21 18:08] AngieHinrichs opened #210 "Download files not updated since 2022-07-19"
@WhalleyT the download files haven't been updated in a couple days, can you take a look?
[code]
Thanks!

[2022-07-22 16:58] nickloman commented on #210
Hi @AngieHinrichs - thanks for the report. There were some transient issues with `datapipe` which produces these files caused by unavailable server resource due to a partial data centre shutdown following the unseasonably high temperatures here on Monday and Tuesday (>40C!). The pipeline looks to be running normally again now.

[2022-07-22 18:07] AngieHinrichs commented on #210
Thanks!  Ugh, I should have guessed that the heat wave threatened to cook the servers.  Glad it has passed.

[2022-07-22 18:07] #210 closed, assigned to nobody

[2022-09-12 00:15] AngieHinrichs opened #211 "S3 files not updated in several days"
It looks like cog_all_fasta.gz hasn't been updated since the 6th, can someone take a look?:
[code]

Thanks!
Angie

[2022-09-12 08:42] t-whalley commented on #211
Hi @AngieHinrichs , I think there have been issues with S3 sync on my end being timed out. I think we've got this sorted but I'll report back shortly!

[2022-09-12 23:24] AngieHinrichs commented on #211
Working great now, thanks @WhalleyT!

BTW cog_all.fasta.gz is ~12.5GB now, but when xz-compressed it's only 188MB so that's what I use locally.  I imagine the trans-Atlantic downloads would go more quickly with that too.  :)  xz is slower than gz, but you can throw a lot of cores at it.  FWIW on my server this takes <12 minutes, and it really does keep 20 cores busy so I could probably add more to

[2022-11-09 09:22] #211 closed, assigned to t-whalley